/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.calendar-input {
    position: relative;
    display: inline-block;

    &_width_available {
        width: 100%;
    }

    &__custom-control {
        .input__icon {
            cursor: pointer;
        }

        &.input_disabled .input__icon {
            cursor: default;
        }
    }

    &__native-control {
        opacity: 0;
        appearance: none;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 100%;
        z-index: 1;
    }
}
