/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.money-input {
    display: inline-block;
    position: relative;

    &__currency {
        display: none;
        position: absolute;
        left: 0;
        top: 10px;
        font-size: inherit;
        line-height: inherit;
        pointer-events: none;

        .input_size_s & {
            top: 7px;
        }

        .input_size_m & {
            top: 10px;
        }

        .input_size_l & {
            top: 14px;
        }

        .input_size_xl & {
            top: 17px;
        }

        .input_has-value &, .input_focused & {
            display: block;
        }

        .input_view_filled.input_size_s & {
            left: 8px;
            top: 0;
            line-height: 42px;
        }

        .input_view_filled.input_has-label.input_size_s & {
            top: 20px;
            line-height: inherit;
        }

        .input_view_filled.input_size_m & {
            left: 12px;
            top: 0;
            line-height: 56px;
        }

        .input_view_filled.input_has-label.input_size_m & {
            top: 28px;
            line-height: inherit;
        }
    }

    &__value {
        margin-right: 0.25em;
        color: transparent;
        font-weight: var(--font-weight-normal);
    }

    &_currency {
        .input {
            .input__addons_left {
                position: absolute;
                left: 0;
                top: 0;
                white-space: nowrap;

                + .input__control {
                    padding-left: 0;
                }
            }
        }

        .input_view_filled.input_size_s {
            .input__top {
                padding-left: var(--gap-xs);
            }
        }

        .input_view_filled.input_size_m {
            .input__top {
                padding-left: var(--gap-s);
            }
        }
    }

    &_bold {
        .input__control, .money-input__value {
            font-weight: var(--font-weight-bold);
        }
    }

    &_width_available {
        width: 100%;
    }
}
