/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vars.css";
@import "@alfalab/core-components-vars/index.css";

.select_theme_alfa-light {
    .select__top,
    .select__sub,
    .select__placeholder {
        color: var(--color-light-text-secondary-transparent);
    }

    .select-button {
        color: var(--color-light-text-primary);
        border-bottom-color: var(--color-light-graphic-tertiary);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        background-color: var(--color-light-bg-secondary);

        &_hovered {
            border-bottom-color: var(--color-light-graphic-primary);
        }

        &:focus,
        &_focused {
            border-bottom-color: var(--color-light-graphic-primary);
            box-shadow: inset 0 -1px 0 var(--color-light-graphic-primary);

            &.select-button_hovered {
                border-bottom-color: var(--color-light-graphic-primary);
                box-shadow: inset 0 -1px 0 var(--color-light-graphic-primary);
            }
        }

        &_pressed {
            border-bottom-color: var(--color-light-graphic-primary);
        }

        &_disabled {
            color: var(--color-light-text-secondary);
            border-bottom-color: var(--color-dark-bg-secondary-inverted);
            border-bottom-style: var(--border-style-control-disabled);
        }
    }

    &.select_opened {
        .select-button {
            border-bottom-color: var(--color-light-graphic-primary);
            box-shadow: inset 0 -1px 0 var(--color-light-graphic-primary);
        }
    }

    &.select_invalid {
        .select__sub {
            color: var(--color-light-text-negative);
        }

        .select-button {
            border-bottom-color: var(--color-light-graphic-negative);

            &_hovered {
                border-bottom-color: var(--color-light-graphic-negative);
            }

            &:focus,
            &_focused {
                border-bottom-color: var(--color-light-graphic-negative);
                box-shadow: inset 0 -1px 0 var(--color-light-graphic-negative);

                &.select-button_hovered {
                    border-bottom-color: var(--color-light-graphic-negative);
                    box-shadow: inset 0 -1px 0 var(--color-light-graphic-negative);
                }
            }
        }

        &.select_opened {
            .select-button {
                border-bottom-color: var(--color-light-graphic-negative);
                box-shadow: inset 0 -1px 0 var(--color-light-graphic-negative);
            }
        }
    }
}
