/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --top-scale-s: calc(strip(var(--font-size-xs)) / strip(var(--font-size-s)));
    --top-scale-m: calc(strip(var(--font-size-s)) / strip(var(--font-size-m)));
    --top-scale-l: calc(strip(var(--font-size-m)) / strip(var(--font-size-l)));
    --top-scale-xl: calc(strip(var(--font-size-l)) / strip(var(--font-size-xl)));
}

.select {
    display: inline-block;
    max-width: 100%;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__inner {
        position: relative;
        display: inline-table;
        vertical-align: top;
        width: 100%;
    }

    &_width_available &__inner {
        table-layout: fixed;
    }

    &__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: var(--font-size-m);
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scale(1) translateY(0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform, font-size;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }

    &__sub-wrapper {
        display: table;
        width: 100%;
    }

    &__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: var(--gap-s);
        white-space: normal;

        .select_size_s & {
            font-size: var(--font-size-xs);
        }

        .select_size_m & {
            font-size: var(--font-size-s);
        }

        .select_size_l & {
            font-size: var(--font-size-m);
        }

        .select_size_xl & {
            font-size: var(--font-size-l);
        }
    }

    .select-button,
    &__native-control {
        display: table-cell;
    }

    .select-button {
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: 0;
        user-select: none;
        font-family: var(--font);
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: transparent;
        border: none;
        border-radius: 0;
        transition-duration: 250ms;
        transition-property: border-bottom-color, box-shadow, color, width, background-color;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); /* TODO @teryaew: add custom easings to styles */

        &::-moz-focus-inner {
            padding: 0;
            border: 0;
        }

        &_size_s {
            min-height: 30px;
            padding-right: 30px;
            font-size: var(--font-size-s);
            line-height: 28px;
        }

        &_size_m {
            min-height: 40px;
            padding-right: 34px;
            font-size: var(--font-size-m);
            line-height: 38px;
        }

        &_size_l {
            min-height: 50px;
            padding-right: 44px;
            font-size: var(--font-size-l);
            line-height: var(--font-size-4xl);
        }

        &_size_xl {
            min-height: 60px;
            padding-right: 52px;
            font-size: var(--font-size-xl);
            line-height: 58px;
        }

        &_disabled {
            cursor: default;
        }

        .icon-button {
            &_size_s {
                width: 24px;
            }

            &_size_m {
                width: 30px;
            }

            &_size_l {
                width: 34px;
            }

            &_size_xl {
                width: 34px;
            }
        }
    }

    &__tick {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    &_disabled &__tick {
        opacity: var(--opacity-disabled);
    }

    &_opened &__tick,
    .select-button_hovered &__tick {
        opacity: var(--opacity-active);
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &&_no-tick &__top,
    &&_no-tick .select-button {
        padding-right: 0;
    }

    &__native-control {
        opacity: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 100%;
    }

    &__placeholder {
        opacity: 0;
        transition: opacity 200ms cubic-bezier(.25, .1, .25, 1);
    }

    &:not(&_has-label) &__placeholder,
    &&_has-label&_has-placeholder&_opened &__placeholder {
        opacity: var(--opacity-active);
    }
}

.select_size_s {
    &.select_has-label {
        padding-top: 9px;
    }

    .select__top {
        font-size: var(--font-size-s);
        line-height: var(--font-size-2xl);
        padding-right: 30px;
    }

    &.select_has-placeholder.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-s)) translateY(-22px);
            width: calc((2 - var(--top-scale-s)) * 100)%;
            padding-right: 0;
        }
    }
}

.select_size_m {
    &.select_has-label {
        padding-top: 6px;
    }

    .select__top {
        font-size: var(--font-size-m);
        line-height: var(--font-size-3xl);
        padding-right: 34px;
    }

    &.select_has-placeholder.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-m)) translateY(-30px);
            width: calc((2 - var(--top-scale-m)) * 100)%;
            padding-right: 0;
        }
    }
}

.select_size_l {
    &.select_has-label {
        padding-top: 14px;
    }

    .select__top {
        font-size: var(--font-size-l);
        line-height: 50px;
        padding-right: 44px;
    }

    &.select_has-placeholder.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-l)) translateY(-40px);
            width: calc((2 - var(--top-scale-l)) * 100)%;
            padding-right: 0;
        }
    }
}

.select_size_xl {
    &.select_has-label {
        padding-top: 13px;
    }

    .select__top {
        font-size: var(--font-size-xl);
        line-height: 60px;
        padding-right: 52px;
    }

    &.select_has-placeholder.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-xl)) translateY(-50px);
            width: calc((2 - var(--top-scale-xl)) * 100)%;
            padding-right: 0;
        }
    }
}

.select.select_view_filled {
    &.select_size_s {
        .select__top {
            padding: 0 var(--gap-xs);
            line-height: 42px;
        }

        .select-button {
            height: 42px;
            padding: 0 var(--gap-xs);

            &__content {
                padding-right: 14px;
            }

            .icon-button {
                &_size_s {
                    margin-right: var(--gap-xs);
                }
            }
        }

        .select__top,
        .select-button {
            font-size: var(--font-size-s);
        }

        &__sub {
            padding-top: var(--gap-2xs);
            padding-right: var(--gap-xs);
            font-size: var(--font-size-xs);
        }

        &.select_has-label {
            .select-button__content {
                padding-top: 11px;
            }
        }

        &.select_has-value,
        &.select_has-placeholder.select_opened {
            .select__top {
                font-size: var(--font-size-xs);
                transform: translateY(-8px);
                width: auto;
            }
        }
    }

    &.select_size_m {
        .select__top {
            padding: 0 var(--gap-s);
            line-height: 56px;
        }

        .select-button {
            height: 56px;
            padding: 0 var(--gap-s);

            &__content {
                padding-right: 18px;
            }

            .icon-button {
                &_size_m {
                    margin-right: var(--gap-2xs);
                }
            }
        }

        .select__top,
        .select-button {
            font-size: var(--font-size-m);
        }

        &__sub {
            padding-top: var(--gap-2xs);
            padding-right: var(--gap-s);
            font-size: var(--font-size-s);
        }

        &.select_has-label {
            .select-button__content {
                padding-top: 17px;
            }
        }

        &.select_has-value,
        &.select_has-placeholder.select_opened {
            .select__top {
                font-size: var(--font-size-s);
                transform: translateY(-12px);
                width: auto;
            }
        }
    }

    .select__top {
        transform-origin: 0 50%;
    }

    .select-button {
        color: var(--color-dark-indigo);
        border-bottom-color: var(--color-dark-indigo-15);
        background-color: var(--color-dark-indigo-05);
        border-radius: 4px 4px 0 0;

        &.select-button_hovered {
            background-color: var(--color-dark-indigo-10);
            border-color: var(--color-dark-indigo-60);
        }

        &__content {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.select_no-tick .select-button__text {
        padding-right: 0;
    }

    &__sub {
        line-height: var(--line-height-condensed);
    }

    .select__top,
    .select__sub {
        color: var(--color-dark-indigo-60);
    }

    .select__placeholder {
        color: var(--color-dark-indigo-60);
    }

    &.select_focused {
        .select-button {
            border-bottom-color: var(--color-dark-indigo);
            box-shadow: inset 0 -1px 0 var(--color-dark-indigo);
        }
    }

    &.select_has-label {
        padding-top: 0;
    }

    &.select_disabled {
        .select-button {
            color: var(--color-dark-indigo-60);
            background-color: var(--color-dark-indigo-10);
            border-bottom-color: var(--color-dark-indigo-15);
            border-bottom-style: var(--border-style-control-disabled);
        }

        .select__top, .select__placeholder {
            color: var(--color-dark-indigo-30);
        }
    }

    &.select_invalid {
        .select__sub {
            color: var(--color-error);
        }

        .select-button {
            border-bottom-color: var(--color-error);
            box-shadow: inset 0 -1px 0 var(--color-error);

            &.select-button_hovered, &.select-button_pressed {
                border-bottom-color: var(--color-error);
                box-shadow: inset 0 -1px 0 var(--color-error);
            }
        }
    }
}
