/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --top-scale-s: calc(strip(var(--font-size-xs)) / strip(var(--font-size-s)));
    --top-scale-m: calc(strip(var(--font-size-s)) / strip(var(--font-size-m)));
    --top-scale-l: calc(strip(var(--font-size-m)) / strip(var(--font-size-l)));
    --top-scale-xl: calc(strip(var(--font-size-l)) / strip(var(--font-size-xl)));
}

.select {
    display: inline-block;
    max-width: 100%;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__inner {
        position: relative;
        display: inline-table;
        width: 100%;
    }

    &_width_available &__inner {
        table-layout: fixed;
    }

    &__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: var(--font-size-m);
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scale(1) translateY(0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }

    &__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;

        .select_size_s & {
            font-size: var(--font-size-xs);
        }

        .select_size_m & {
            font-size: var(--font-size-s);
        }

        .select_size_l & {
            font-size: var(--font-size-m);
        }

        .select_size_xl & {
            font-size: var(--font-size-l);
        }
    }

    .select-button,
    &__native-control {
        display: table-cell;
    }

    .select-button {
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: 0;
        user-select: none;
        font-family: var(--font);
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: transparent;
        border: none;
        border-radius: 0;
        transition-duration: 250ms;
        transition-property: border-bottom-color, box-shadow, color, width;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); /* TODO @teryaew: add custom easings to styles */

        &::-moz-focus-inner {
            padding: 0;
            border: 0;
        }

        &_size_s {
            min-height: 30px;
            padding-right: 30px;
            font-size: var(--font-size-s);
            line-height: 28px;
        }

        &_size_m {
            min-height: 40px;
            padding-right: 34px;
            font-size: var(--font-size-m);
            line-height: 38px;
        }

        &_size_l {
            min-height: 50px;
            padding-right: 44px;
            font-size: var(--font-size-l);
            line-height: 48px;
        }

        &_size_xl {
            min-height: 60px;
            padding-right: 52px;
            font-size: var(--font-size-xl);
            line-height: 58px;
        }

        &_disabled {
            cursor: default;
        }
    }

    &__tick {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    &_disabled &__tick {
        opacity: var(--opacity-disabled);
    }

    &_opened &__tick,
    .select-button_hovered &__tick {
        opacity: var(--opacity-active);
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &__native-control {
        opacity: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 100%;
    }
}

.select_size_s {
    &.select_has-label {
        padding-top: 9px;
    }

    .select__top {
        font-size: var(--font-size-s);
        line-height: 30px;
    }

    &.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-s)) translateY(-22px);
        }
    }
}

.select_size_m {
    &.select_has-label {
        padding-top: 6px;
    }

    .select__top {
        font-size: var(--font-size-m);
        line-height: 40px;
    }

    &.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-m)) translateY(-30px);
        }
    }
}

.select_size_l {
    &.select_has-label {
        padding-top: 14px;
    }

    .select__top {
        font-size: var(--font-size-l);
        line-height: 50px;
    }

    &.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-l)) translateY(-40px);
        }
    }
}

.select_size_xl {
    &.select_has-label {
        padding-top: 13px;
    }

    .select__top {
        font-size: var(--font-size-xl);
        line-height: 60px;
    }

    &.select_opened,
    &.select_has-value {
        .select__top {
            transform: scale(var(--top-scale-xl)) translateY(-50px);
        }
    }
}
