/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.input {
    display: inline-block;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
    font-weight: 400;
}

.input, .input *, .input *:before, .input *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

.input__inner {
        display: inline-table;
        position: relative;
        width: 100%;
    }

.input__box {
        overflow: hidden;
        display: table-cell;
        position: relative;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-transition-duration: 250ms;
                transition-duration: 250ms;
        -webkit-transition-property: border-bottom-color, width, -webkit-box-shadow;
        transition-property: border-bottom-color, width, -webkit-box-shadow;
        transition-property: border-bottom-color, box-shadow, width;
        transition-property: border-bottom-color, box-shadow, width, -webkit-box-shadow;
        -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); /* TODO @teryaew: add custom easings to styles */
        -webkit-touch-callout: none;
    }

.input__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-transform: scale(1) translate3d(0, 0, 0);
                transform: scale(1) translate3d(0, 0, 0);
        -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-property: color, -webkit-transform;
        transition-property: color, -webkit-transform;
        transition-property: color, transform;
        transition-property: color, transform, -webkit-transform;
        -webkit-transition-timing-function: cubic-bezier(.25, .1, .25, 1);
                transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }

.input__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;
    }

.input__control {
        display: inline-block;
        position: relative;
        width: 100%;

        /** Если использовать `height: 100%` поле схлопывается в Safari v10.1.2. **/
        min-height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        font-weight: 400;
        line-height: inherit;
        background: none;
        border: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

.input__control::-webkit-search-decoration {
            -webkit-appearance: none;
        }

.input__control::-webkit-search-cancel-button {
            display: none;
        }

.input__control::-webkit-input-placeholder {
            text-indent: 0;
        }

.input__control::-moz-placeholder {
            opacity: 1;
        }

.input__control::-ms-clear {
            display: none;
        }

.input__control[placeholder],
        .input__control::-webkit-input-placeholder {
            text-overflow: ellipsis;
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.input__control[placeholder],
        .input__control:-ms-input-placeholder {
            text-overflow: ellipsis;
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.input__control[placeholder],
        .input__control::placeholder {
            text-overflow: ellipsis;
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.input__control:-webkit-autofill,
        .input__control:-webkit-autofill:hover,
        .input__control:-webkit-autofill:focus,
        .input__control:-webkit-autofill:after {
            /* Hack from http://stackoverflow.com/a/29350537 */
            -webkit-transition: background-color 5000s ease-in-out 0s;
            transition: background-color 5000s ease-in-out 0s;
        }

.input_has-label .input__control::-webkit-input-placeholder {
            opacity: 0;
        }

.input_has-label .input__control:-ms-input-placeholder {
            opacity: 0;
        }

.input_has-label .input__control::placeholder {
            opacity: 0;
        }

.input_has-label.input_focused .input__control::-webkit-input-placeholder {
                opacity: 1;
            }

.input_has-label.input_focused .input__control:-ms-input-placeholder {
                opacity: 1;
            }

.input_has-label.input_focused .input__control::placeholder {
                opacity: 1;
            }

.input_has-clear .input__control {
        padding-right: 0;
        text-overflow: ellipsis;
    }

.input__clear {
        opacity: .6;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        color: inherit;
        font: inherit;
        background: none;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        -webkit-transition: opacity 0.1s ease-out;
        transition: opacity 0.1s ease-out;
    }

.input__clear:hover {
            opacity: 1;
        }

.input_has-icon .input__icon {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        text-align: center;
    }

.input_has-icon .input__control {
        padding-right: 2px;
        text-overflow: ellipsis;
    }

.input_width_available {
        width: 100%;
    }

/* Override table styles by flex */

.input.input_has-addons .input__box {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 100%;
            height: 100%;
        }

.input.input_has-addons .input__control {
            padding-right: 12px;
        }

.input.input_has-addons .input__addons_left + .input__control {
            padding-right: 0;
            padding-left: 12px;
        }

/* If has left & right addons */

.input.input_has-addons .input__control:nth-child(2):nth-last-child(2) {
            padding-right: 12px;
        }

.input__addons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

.input_type_hidden {
        display: none !important;
    }

/* reset for ios */

.input__control:disabled {
        opacity: 1;
    }

.input_focused {
    z-index: 1;
}

.input_focused.input_mode_link .input__control {
            padding-left: 0;
        }

.input_disabled:before,
    .input_disabled .input__clear {
        display: none;
    }

.input_disabled .input__control::-webkit-input-placeholder {
            opacity: .6;
        }

.input_disabled .input__control:-ms-input-placeholder {
            opacity: .6;
        }

.input_disabled .input__control::placeholder {
            opacity: .6;
        }

.input_disabled .input__box,
    .input_disabled .input__control {
        cursor: default;
    }

.input_type_password .input__control {
    text-overflow: clip;
}

.input_size_s.input_has-label {
        padding-top: 9px;
    }

.input_size_s .input__top {
        line-height: 30px;
    }

.input_size_s.input_focused .input__top, .input_size_s.input_has-value .input__top {
            -webkit-transform: scale(0.92308) translate3d(0, -22px, 0);
                    transform: scale(0.92308) translate3d(0, -22px, 0);
        }

.input_size_s .input__top,
    .input_size_s .input__box {
        font-size: 13px;
    }

.input_size_s .input__box {
        height: 30px;
    }

.input_size_s .input__sub {
        font-size: 12px;
    }

.input_size_s .input__control {
        padding: 7px 0;
    }

.input_size_s.input_has-clear .input__box,
    .input_size_s.input_has-icon .input__box {
        padding-right: 30px;
    }

.input_size_s.input_has-clear .input__clear,
    .input_size_s.input_has-icon .input__icon {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }

.input_size_m.input_has-label {
        padding-top: 6px;
    }

.input_size_m .input__top {
        line-height: 40px;
    }

.input_size_m.input_focused .input__top, .input_size_m.input_has-value .input__top {
            -webkit-transform: scale(0.8125) translate3d(0, -30px, 0);
                    transform: scale(0.8125) translate3d(0, -30px, 0);
        }

.input_size_m .input__top,
    .input_size_m .input__box {
        font-size: 16px;
    }

.input_size_m .input__box {
        height: 40px;
    }

.input_size_m .input__sub {
        font-size: 13px;
    }

.input_size_m .input__control {
        padding: 10px 0;
    }

.input_size_m.input_has-clear .input__box,
    .input_size_m.input_has-icon .input__box {
        padding-right: 34px;
    }

.input_size_m.input_has-clear .input__clear,
    .input_size_m.input_has-icon .input__icon {
        width: 34px;
        height: 40px;
        line-height: 38px;
    }

.input_size_m.input_mode_link .input__box {
            height: 38px;
            padding: 0 12px;
        }

.input_size_m.input_mode_link .input__trigger {
            line-height: 40px;
        }

.input_size_l.input_has-label {
        padding-top: 14px;
    }

.input_size_l .input__top {
        line-height: 50px;
    }

.input_size_l.input_focused .input__top, .input_size_l.input_has-value .input__top {
            -webkit-transform: scale(0.88889) translate3d(0, -40px, 0);
                    transform: scale(0.88889) translate3d(0, -40px, 0);
        }

.input_size_l .input__top,
    .input_size_l .input__box {
        font-size: 18px;
    }

.input_size_l .input__box {
        height: 50px;
    }

.input_size_l .input__sub {
        font-size: 16px;
    }

.input_size_l .input__control {
        padding: 14px 0;
    }

.input_size_l.input_has-clear .input__box,
    .input_size_l.input_has-icon .input__box {
        padding-right: 44px;
    }

.input_size_l.input_has-clear .input__clear,
    .input_size_l.input_has-icon .input__icon {
        width: 44px;
        height: 50px;
        line-height: 48px;
    }

.input_size_xl.input_has-label {
        padding-top: 13px;
    }

.input_size_xl .input__top {
        line-height: 60px;
    }

.input_size_xl.input_focused .input__top, .input_size_xl.input_has-value .input__top {
            -webkit-transform: scale(0.81818) translate3d(0, -50px, 0);
                    transform: scale(0.81818) translate3d(0, -50px, 0);
        }

.input_size_xl .input__top,
    .input_size_xl .input__box {
        font-size: 22px;
    }

.input_size_xl .input__box {
        height: 60px;
    }

.input_size_xl .input__sub {
        font-size: 18px;
    }

.input_size_xl .input__control {
        padding: 17px 0;
    }

.input_size_xl.input_has-clear .input__box,
    .input_size_xl.input_has-icon .input__box {
        padding-right: 52px;
    }

.input_size_xl.input_has-clear .input__clear,
    .input_size_xl.input_has-icon .input__icon {
        width: 52px;
        height: 60px;
        line-height: 58px;
    }

/*# sourceMappingURL=input.css.map */
