@import '../vars.css';

.heading {
    font-family: var(--font);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-condensed);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &_size_s {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: var(--font-size-l);
    }

    &_size_m {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: var(--font-size-xl);

        @media (--medium) {
            font-size: var(--font-size-2xl);
        }
    }

    &_size_l {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: var(--font-size-2xl);

        @media (--medium) {
            font-size: var(--font-size-3xl);
        }
    }

    &_size_xl {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: var(--font-size-3xl);

        @media (--medium) {
            margin-top: 35px;
            margin-bottom: 30px;
            font-size: var(--font-size-4xl);
        }
    }

    &_theme_alfa-on-color {
        color: var(--color-content-alfa-on-color);
    }

    &_theme_alfa-on-white {
        color: var(--color-content-alfa-on-white);
    }
}
