/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.icon_size_m.icon_name_lock.icon_theme_alfa-on-white {
    background-image: url('./icon_lock_m_black.svg');
}

.icon_size_m.icon_name_lock.icon_theme_alfa-on-color {
    background-image: url('./icon_lock_m_white.svg');
}

.icon_size_s.icon_name_lock.icon_theme_alfa-on-white {
    background-image: url('./icon_lock_s_black.svg');
}

.icon_size_s.icon_name_lock.icon_theme_alfa-on-color {
    background-image: url('./icon_lock_s_white.svg');
}

.icon_size_xs.icon_name_lock.icon_theme_alfa-on-white {
    background-image: url('./icon_lock_xs_black.svg');
}

.icon_size_xs.icon_name_lock.icon_theme_alfa-on-color {
    background-image: url('./icon_lock_xs_white.svg');
}
