@import '../../src/vars.css';

.gemini-box {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.gemini-box_width_available {
    display: block;
}

.gemini-box_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
}

.gemini-box_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
    background: var(--color-background-alfa-on-color);
}
