@import '../../../src/vars.css';

.styleguide {
    max-width: 100vw;

    &_has-sidebar {
        padding-left: 200px;
    }

    &__content {
        display: block;
        max-width: none;
        min-height: 100vh;
        margin: 0 auto;

        padding: 24px 12px;

        @media (--medium) {
            padding: 36px 60px;
        }
    }

    &__inner {
        max-width: 800px;
        margin: 0 auto;

        @media (--medium) {
            margin: 0;
        }
    }

    &__sidebar {
        background-color: #f5f5f5;
        border: #e8e8e8 solid;
        border-width: 0 1px 0 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    .column {
        padding-right: 10px;
    }

    .column.s {
        padding-right: 5px;
    }

    .column.m {
        padding-right: 10px;
    }

    .column.l {
        padding-right: 20px;
    }

    .column.xl {
        padding-right: 30px;
    }

    & + & {
        margin-top: 20px;
    }
}

.icon_theme_alfa-on-color {
    background-image:
        linear-gradient(
            color(var(--color-background-alfa-on-white) a(.03)) 3%,
            color(var(--color-background-alfa-on-white) a(.03)) 3%
        );
}

.icon_theme_alfa-on-white {
    background-image:
        linear-gradient(
            color(var(--color-background-alfa-on-color) a(.03)) 3%,
            color(var(--color-background-alfa-on-color) a(.03)) 3%
        );
}
