/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.popup {
    position: absolute;

    box-sizing: border-box;

    z-index: 9999;

    font-family: var(--font);
    font-weight: var(--font-weight);
    line-height: 1.2;

    border-radius: var(--border-radius-control);

    &_size_s {
        font-size: var(--font-size-s);
    }

    &_size_m {
        font-size: var(--font-size-m);
    }

    &_size_l {
        font-size: var(--font-size-l);
    }

    &_size_xl {
        font-size: var(--font-size-xl);
    }

    &_visible {
        visibility: visible;
        clip: auto;
        transform: none;
    }

    &_height_available {
        bottom: 0;
        top: 0 !important;

        width: 300px;

        position: fixed;
        padding: 5px 23px;

        border-radius: 0;
    }

    &_height_available.popup_visible {
        margin: 0 0 0 -35px;
        opacity: 1;
    }

    &_height_adaptive &__gradient,
    &_target_screen &__gradient {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        pointer-events: none;
        transition: height 200ms ease-in-out;
    }

    &_height_adaptive.popup_size_s &__gradient,
    &_target_screen.popup_size_s &__gradient {
        height: 31px;
    }

    &_height_adaptive.popup_size_m &__gradient,
    &_target_screen.popup_size_m &__gradient {
        height: 40px;
    }

    &_height_adaptive.popup_size_l &__gradient,
    &_target_screen.popup_size_l &__gradient {
        height: 50px;
    }

    &_height_adaptive.popup_size_xl &__gradient,
    &_target_screen.popup_size_xl &__gradient {
        height: 58px;
    }

    &_height_adaptive &__inner,
    &_target_screen &__inner {
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &_height_adaptive &__container {
        height: 100%;
    }

    &__content {
        /* Для resize-sensor */
        position: relative;
    }

    &_padded.popup_size_s &__content {
        padding: 7px 12px 8px;
    }

    &_padded.popup_size_m &__content {
        padding: 10px 14px 11px;
    }

    &_padded.popup_size_l &__content {
        padding: 14px 18px 15px;
    }

    &_padded.popup_size_xl &__content {
        padding: 17px 22px;
    }

    &_target_screen {
        position: fixed;
        border-radius: 0;
        box-shadow: none;

        .popup__container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .popup__content {
            /* чтобы контент с position:relative в UIWebView не исчезал при быстром скролле */
            transform: translateZ(0);
        }
    }
}

.popup_type_tooltip {
    &:before {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        display: inline-block;
        margin: -7px;
        border-style: solid;
        border-width: 7px;
    }

    /* top */
    &.popup_direction_top-left:before { bottom: -7px; }
    &.popup_direction_top-center:before { bottom: -7px; left: 50%; }
    &.popup_direction_top-right:before { bottom: -7px; }

    &.popup_size_s.popup_direction_top-left:before { left: 15px; }
    &.popup_size_s.popup_direction_top-right:before { right: 15px; }

    &.popup_size_m.popup_direction_top-left:before { left: 20px; }
    &.popup_size_m.popup_direction_top-right:before { right: 20px; }

    &.popup_size_l.popup_direction_top-left:before { left: 25px; }
    &.popup_size_l.popup_direction_top-right:before { right: 25px; }

    &.popup_size_xl.popup_direction_top-left:before { left: 30px; }
    &.popup_size_xl.popup_direction_top-right:before { right: 30px; }

    /* left */
    &.popup_direction_left-top:before { right: -7px; }
    &.popup_direction_left-center:before { top: 50%; right: -7px; }
    &.popup_direction_left-bottom:before { right: -7px; }

    &.popup_size_s.popup_direction_left-top:before { top: 15px; }
    &.popup_size_s.popup_direction_left-bottom:before { bottom: 15px; }

    &.popup_size_m.popup_direction_left-top:before { top: 20px; }
    &.popup_size_m.popup_direction_left-bottom:before { bottom: 20px; }

    &.popup_size_l.popup_direction_left-top:before { top: 25px; }
    &.popup_size_l.popup_direction_left-bottom:before { bottom: 25px; }

    &.popup_size_xl.popup_direction_left-top:before { top: 30px; }
    &.popup_size_xl.popup_direction_left-bottom:before { bottom: 30px; }

    /* right */
    &.popup_direction_right-top:before { left: -7px; }
    &.popup_direction_right-center:before { top: 50%; left: -7px; }
    &.popup_direction_right-bottom:before { left: -7px; }

    &.popup_size_s.popup_direction_right-top:before { top: 15px; }
    &.popup_size_s.popup_direction_right-bottom:before { bottom: 15px; }

    &.popup_size_m.popup_direction_right-top:before { top: 20px; }
    &.popup_size_m.popup_direction_right-bottom:before { bottom: 20px; }

    &.popup_size_l.popup_direction_right-top:before { top: 25px; }
    &.popup_size_l.popup_direction_right-bottom:before { bottom: 25px; }

    &.popup_size_xl.popup_direction_right-top:before { top: 30px; }
    &.popup_size_xl.popup_direction_right-bottom:before { bottom: 30px; }

    /* bottom */
    &.popup_direction_bottom-left:before { top: -7px; }
    &.popup_direction_bottom-center:before { top: -7px; left: 50%; }
    &.popup_direction_bottom-right:before { top: -7px; }

    &.popup_size_s.popup_direction_bottom-left:before { left: 15px; }
    &.popup_size_s.popup_direction_bottom-right:before { right: 15px; }

    &.popup_size_m.popup_direction_bottom-left:before { left: 20px; }
    &.popup_size_m.popup_direction_bottom-right:before { right: 20px; }

    &.popup_size_l.popup_direction_bottom-left:before { left: 25px; }
    &.popup_size_l.popup_direction_bottom-right:before { right: 25px; }

    &.popup_size_xl.popup_direction_bottom-left:before { left: 30px; }
    &.popup_size_xl.popup_direction_bottom-right:before { right: 30px; }
}
