/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vars.css";
@import "@alfalab/core-components-vars/colors-bluetint.css";

:root {
    --popup-gradient: color(var(--color-dark-bg-primary) a(0)) 0%,
        color(var(--color-dark-bg-primary) a(0.4)) 40%,
        color(var(--color-dark-bg-primary) a(0.9)) 75%,
        color(var(--color-dark-bg-primary) a(1)) 100%;
}

.popup_theme_alfa-dark {
    color: var(--color-dark-text-primary);
    box-shadow: var(--shadow-dark);

    .popup__container {
        background-color: var(--color-dark-specialbg-primary-grouped);
    }

    &.popup_height_adaptive .popup__gradient,
    &.popup_target_screen .popup__gradient {
        &_top {
            background: linear-gradient(to top, var(--popup-gradient));
        }

        &_bottom {
            background: linear-gradient(to bottom, var(--popup-gradient));
        }
    }

    &.popup_type_tooltip:before {
        border-color: var(--color-dark-graphic-tertiary);
    }
}
