/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.form-field {
    position: relative;

    &_size_s {
        padding-bottom: 20px;
    }

    &_size_s &__label {
        padding-bottom: 12px;
    }

    &_size_m {
        padding-bottom: 30px;
    }

    &_size_m &__label {
        padding-bottom: 10px;
    }

    &_size_l,
    &_size_xl {
        padding-bottom: 35px;
    }

    &_size_l &__label,
    &_size_xl &__label {
        padding-bottom: 15px;
    }
}

@media (--large) {
    .form-field_view_line {
        .form-field__label {
            position: absolute;
            top: 0;
            left: -172px;
            width: 152px;
            text-align: right;
            padding-bottom: 0;
        }

        &.form-field_size_s {
            .form-field__label {
                padding-top: 6px;
            }

            .form-field__control {
                & > .radio
                & > .checkbox {
                    padding-top: 7px;
                }

                & > .radio-group_type_normal,
                & > .checkbox-group_type_normal {
                    padding-top: 7px;
                }

                & > .radio-group_type_button,
                & > .checkbox-group_type_button {
                    padding-top: 0;
                }
            }
        }

        &.form-field_size_m {
            .form-field__label {
                padding-top: 9px;
            }

            .form-field__control {
                & > .radio,
                & > .radio-group_type_normal,
                & > .radio-group_type_line {
                    padding-top: 9px;
                }

                & > .checkbox,
                & > .checkbox-group_type_normal,
                & > .checkbox-group_type_line {
                    padding-top: 11px;
                }

                & > .radio-group_type_button,
                & > .checkbox-group_type_button {
                    padding-top: 0;
                }
            }
        }

        &.form-field_size_l {
            .form-field__label {
                padding-top: 12px;
            }

            .form-field__control {
                & > .radio,
                & > .radio-group_type_normal,
                & > .radio-group_type_line {
                    padding-top: 10px;
                }

                & > .checkbox,
                & > .checkbox-group_type_normal,
                & > .checkbox-group_type_line {
                    padding-top: 12px;
                }

                & > .radio-group_type_button,
                & > .checkbox-group_type_button {
                    padding-top: 0;
                }
            }
        }

        &.form-field_size_xl {
            .form-field__label {
                padding-top: 13px;
            }

            .form-field__control {
                & > .radio
                & > .checkbox {
                    padding-top: 8px;
                }

                & > .radio-group_type_normal,
                & > .checkbox-group_type_normal {
                    padding-top: 8px;
                }

                & > .radio-group_type_button,
                & > .checkbox-group_type_button {
                    padding-top: 0;
                }
            }
        }
    }
}
