/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.playground-with-share-example-button {
    position: relative;

    &:hover .playground-with-share-example-button__share-code {
        opacity: 1;
    }

    &__share-code {
        color: #1978c8;
        background: white;
        border: none;
        font-size: 14px;
        margin: 1px;
        position: absolute;
        right: 120px;
        top: 0;
        padding: 6px 8px;
        font-size: 14px;
        opacity: 0;
        transition: opacity ease-in-out .15s .2s;
        z-index: 1;

        &:hover {
            color: #f28a25;
            cursor: pointer;
        }
    }
}
