/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.plate {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: var(--gap-s);
    border-radius: var(--border-radius-control);
    box-shadow: var(--shadow);

    &_hidden {
        display: none;
    }

    &_has-closer, &_has-shrink {
        padding-right: 34px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
    }

    &__content {
        margin-top: 7px;

        &_shrank {
            display: none;
        }
    }

    &__closer, &__shrink {
        opacity: var(--opacity-minor);
        position: absolute;
        top: 2px;
        right: 0;
        cursor: pointer;
        transition: opacity .1s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    &_flat {
        box-shadow: none;
    }
}

.plate_theme_alfa-on-color,
.plate_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
    background: var(--color-background-alfa-on-white);
}
