/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.plate {
    display: inline-block;
    position: relative;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: var(--gap-s);
    border-radius: var(--border-radius-control);
    box-shadow: var(--shadow);
    background-color: #fff;

    &_hidden {
        display: none;
    }

    &_has-clear {
        padding-right: 34px;
    }

    /* FIXME: maybe remove cascade? */
    &__clear > .icon {
        opacity: var(--opacity-minor);
        position: absolute;
        top: var(--gap-s);
        right: var(--gap-s);
        cursor: pointer;
        transition: opacity .1s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    &_flat {
        box-shadow: none;

        &.plate_theme_alfa-on-color {
            background-color: rgba(255, 255, 255, .06);
        }

        &.plate_theme_alfa-on-white {
            background-color: rgba(0, 0, 0, .06);
        }
    }
}
