/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.plate {
    display: inline-block;
    position: relative;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: var(--gap-s);
    border-radius: var(--border-radius-control);
    box-shadow: var(--shadow);

    &_hidden {
        display: none;
    }

    &_has-closer {
        padding-right: 34px;
    }

    &__closer {
        opacity: var(--opacity-minor);
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: opacity .1s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    &_flat {
        box-shadow: none;
    }
}

.plate_theme_alfa-on-color {
    background: var(--color-background-alfa-on-color);
}

.plate_theme_alfa-on-white {
    background: var(--color-background-alfa-on-white);
}
