[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JavaScript
[*.{jsx,js}]
indent_style = space
indent_size = 4

# CSS
[*.css]
indent_style = space
indent_size = 4

[package.json]
indent_style = space
indent_size = 2
