.build/
.idea/
.publish/

node_modules/
npm-debug.log
yarn-error.log

.gemini-react-tmp/
.gemini.tmp.*/
arui-demo/styleguide/build/
arui-demo/styleguide/index.html
coverage/
gemini-coverage/
gemini-report/
gemini-utils/polyfills.js
test-results.xml
tools/modernizr.js
