language: node_js

node_js:
  - stable

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

env:
  - CXX=g++-4.8

install:
  - yarn install

script:
  - yarn lint
  - yarn test

cache:
  directories:
    - node_modules

matrix:
  fast_finish: true
