image: Visual Studio 2017

branches:
  except:
    - gh-pages

environment:
  matrix:
    - nodejs_version: "8.9.1"

init:
  - tzutil /s "Russian Standard Time"

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install

test_script:
  - node --version
  - yarn lint
  - yarn test

build: off

cache:
  - node_modules

matrix:
  fast_finish: true

platform:
  - x64

skip_commits:
  files:
    - '*.md'
