image: Visual Studio 2017

branches:
  except:
    - gh-pages

environment:
  matrix:
    - nodejs_version: "8.10.0"

init:
  - tzutil /s "Russian Standard Time"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm run lint
  - npm run test:coverage

build: off

cache:
  - node_modules

matrix:
  fast_finish: true

platform:
  - x64

skip_commits:
  files:
    - '*.md'
