/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --sidebar-width: 430px;
    --sidebar-header-height: 48px;
    --transition-duration: 350ms;
}

body.sidebar-overlay {
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: var(--sidebar-width);
    height: 100%;
    font-family: var(--font);
    transition: transform var(--transition-duration) ease-in-out;
    transform: translateX(100%);
    z-index: 1001;

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &_visible {
        transform: translateX(0);
    }

    &__header {
        display: flex;
        min-height: 30px;
        margin-bottom: var(--gap-4xl);
    }

    &__header-content {
        display: none;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: -100vw;

        width: 100vw;
        height: 200vw;

        border: none;
        outline: none;

        content: '';

        visibility: hidden;

        transition: all var(--transition-duration) ease-in-out;
        cursor: pointer;

        &_visible {
            visibility: visible;
            background-color: var(--shadow-overlay-color);
        }
    }

    &__closer {
        margin: -9px;
        opacity: 0.6;
        transition: opacity var(--transition-duration);

        &:hover {
            opacity: var(--opacity-active);
        }

        .icon-button {
            width: 48px;
            height: 48px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;

        padding: var(--gap-xl);

        overflow-y: auto;
        overflow-x: hidden;
    }

    &__content {
        position: relative;
        flex: 1;

        width: 100%;

        > :first-child {
            margin-top: 0;
        }
    }
}

@media (--small-only) {
    .sidebar {
        width: 100%;

        &_visible {
            overflow: hidden;
        }

        &__header {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;

            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            height: var(--sidebar-header-height);
            padding: 0 var(--gap-m);
        }

        &__closer {
            margin: 0 0 0 var(--gap-m-neg);
        }

        &__header-content {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            overflow: hidden;
        }

        &__inner {
            padding: 0;
        }

        &__footer {
            position: relative;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                width: 100%;
                height: 24px;

                content: '';
                pointer-events: none;
                transform: translateY(-100%);
            }
        }

        &__action {
            display: flex;
            align-items: center;
        }

        &__overlay {
            display: none;
        }

        &__content {
            position: relative;

            min-height: calc(100vh - var(--sidebar-header-height));
            padding: calc(var(--sidebar-header-height) + var(--gap-xl)) var(--gap-m) var(--gap-xl);

            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            transform: translateZ(0);
        }
    }

    body.sidebar-visible {
        position: fixed;
        overflow: hidden;
    }
}
