/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.checkbox_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .checkbox__box {
        background: rgba(11, 31, 53, 0.05);
        border: 1px solid rgba(11, 31, 53, 0.6);
        transition: all .1s ease-out;
    }

    &.checkbox_checked {
        .checkbox__box {
            background: rgba(240, 50, 38, 0.85);
            border-color: rgba(11, 31, 53, 0.24);
        }

        &.checkbox_hovered .checkbox__box,
        &.checkbox_focused .checkbox__box {
            background: #f03226;
        }
    }

    &.checkbox_focused,
    &.checkbox_hovered {
        .checkbox__box {
            background: rgba(11, 31, 53, 0.1);
            border-color: rgba(11, 31, 53, 0.95);
        }
    }

    &.checkbox_disabled {
        color: var(--color-content-disabled-alfa-on-white);

        .checkbox__box {
            background: rgba(11, 31, 53, 0.2);
            border-color: transparent;
        }

        &.checkbox_checked {
            .checkbox__box {
                background: rgba(11, 31, 53, 0.1);
            }

            &.checkbox_focused {
                .checkbox__box {
                    background: rgba(240, 50, 38, 0.85);
                }
            }
        }

        &.checkbox_focused {
            .checkbox__box {
                background: rgba(11, 31, 53, 0.1);
                border: 2px solid rgba (11, 31, 53, 0.95);
            }
        }
    }
}
