/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --size-m-box: 16px;
    --size-l-box: 24px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);
    line-height: 1;

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__control {
        opacity: 0;
        position: absolute;
        margin: 0;
        z-index: -1;
    }

    &__box {
        display: inline-flex;
        position: relative;
        border-radius: var(--border-radius-control);
        flex: 0 0 auto;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 2px));
        opacity: 0;
        transition: all .1s ease-out;
    }

    &_size_m {
        font-size: var(--font-size-m);

        .checkbox__box {
            width: var(--size-m-box);
            height: var(--size-m-box);
        }

        .checkbox__text {
            padding-left: 10px;
        }
    }

    &_size_l {
        font-size: var(--font-size-xl);

        .checkbox__box {
            width: var(--size-l-box);
            height: var(--size-l-box);
        }

        .checkbox__text {
            padding-left: 12px;
            margin-top: 2px;
        }
    }

    &_disabled {
        cursor: default;
    }
}

.checkbox_type_button {
    display: inline-block;

    &.checkbox_checked .button__text {
        font-weight: var(--font-weight-normal);
    }
}

.checkbox_view_line {
    &.checkbox_size_m {
        margin-right: 12px;
    }

    &.checkbox_size_l {
        margin-right: 15px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.checkbox_invalid {
    .checkbox__box {
        border-color: var(--color-error-translucent);
    }

    &.checkbox_focused,
    &.checkbox_hovered {
        .checkbox__box {
            border-color: var(--color-error-translucent);
        }
    }
}

.checkbox_checked {
    .checkbox__icon {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
