/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 @import "../vars.css";
 @import "@alfalab/core-components-vars/colors-bluetint.css";

 .checkbox_theme_alfa-dark {
     color: var(--color-dark-text-primary);
 
     .checkbox__box {
         background: var(--color-dark-bg-secondary);
         border: 1px solid var(--color-dark-border-tertiary-inverted);
     }
 
     &.checkbox_checked {
         .checkbox__box {
             background: var(--color-dark-bg-secondary-inverted);
         }
 
         &.checkbox_hovered .checkbox__box,
         &.checkbox_focused .checkbox__box {
             background: var(--color-dark-bg-primary-inverted);
         }
     }
 
     &.checkbox_focused {
         .checkbox__box {
             border-color: var(--color-dark-border-tertiary-inverted);
 
             &:after {
                 border-color: var(--color-dark-border-tertiary-inverted);
             }
         }
     }
 
     &.checkbox_hovered {
         .checkbox__box {
             border-color: var(--color-dark-border-tertiary-inverted);
         }
     }
 
     &.checkbox_disabled {
         color: var(--color-dark-text-disabled);
 
         .checkbox__box {
             background: var(--color-dark-bg-tertiary);
             border-color: transparent;
         }
     }
 }
 