/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.checkbox_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .checkbox__box {
        background: var(--color-dark-indigo-05);
        border: 1px solid var(--color-dark-indigo-60);
    }

    &.checkbox_checked {
        .checkbox__box {
            background: rgba(239, 49, 36, 0.85);
            border-color: var(--color-dark-indigo-25-deprecated);
        }

        &.checkbox_hovered .checkbox__box,
        &.checkbox_focused .checkbox__box {
            background: var(--color-red-brand);
        }
    }

    &.checkbox_focused {
        .checkbox__box {
            background: var(--color-dark-indigo-10);

            &:after {
                border-color: rgba(11, 31, 53, 0.95);
            }
        }
    }

    &.checkbox_hovered {
        .checkbox__box {
            background: var(--color-dark-indigo-10);
        }
    }

    &.checkbox_disabled {
        color: var(--color-content-disabled-alfa-on-white);

        .checkbox__box {
            background: var(--color-dark-indigo-20-deprecated);
            border-color: transparent;
        }
    }

    &.checkbox:active {
        .checkbox__box {
            background: var(--color-dark-indigo-20-deprecated);
        }

        &.checkbox_checked {
            .checkbox__box,
            &.checkbox_hovered .checkbox__box,
            &.checkbox_focused .checkbox__box {
                background: var(--color-accent-alt);
            }
        }

        &.checkbox_disabled {
            .checkbox__box {
                background: var(--color-dark-indigo-20-deprecated);
            }
        }
    }
}
