/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.header {
    box-sizing: border-box;
    position: relative;

    &__main-case {
        width: 100%;
        height: 80px;

        position: absolute;
        top: 100%;

        font-family: var(--font);
        font-weight: var(--font-weight);

        z-index: 1000;

        transition: background 200ms ease;

        &_fixed {
            position: fixed;
            top: 0;
        }
    }

    &__inner {
        box-sizing: border-box;
        margin: auto;
    }

    &__logo {
        width: 72px;
        height: 80px;
        float: left;
        box-sizing: border-box;

        padding: 10px 0;

        text-align: center;

        margin-right: 20px;

        border: 0;
        border-radius: 0 0 4px 4px;
        background-color: #ef3124;

        outline: none;
    }

    &__content {
        padding-top: 5px;
    }

    &__menu {
        float: left;
    }

    &__support {
        float: right;

        margin-right: 30px;
    }

    &__user {
        float: right;
    }

    &__user,
    &__support {
        padding-top: 10px;
    }

    &_theme_alfa-on-color &__main-case_colored {
        background-color: var(--color-background-alfa-on-color);
    }

    &_theme_alfa-on-white &__main-case_colored {
        background: var(--color-background-alfa-on-white);
    }

    &__top-content {
        position: relative;
    }

    &__logo-text {
        font-size: 40px;
        font-weight: 600;
    }
}

@media (--small-only) {
    .header {
        &__main-case {
            position: static;
        }

        &__inner {
            padding-right: var(--small-screen-padding);
            padding-left: var(--small-screen-padding);
        }

        &_theme_alfa-on-color &__main-case_colored,
        &_theme_alfa-on-white &__main-case_colored {
            background-color: transparent;
        }
    }
}

@media (--medium) {
    .header {
        &__inner {
            padding-right: 15px;
            padding-left: 60px;
        }
    }
}

@media (--large) {
    .header {
        &__logo {
            width: 172px;
        }
    }
}

@media (--large-only) {
    .header {
        &__inner {
            width: var(--large-screen-content-width);
            padding-left: 10px;
        }
    }
}

@media (--xlarge) {
    .header {
        &__inner {
            width: var(--xlarge-screen-content-width);
        }
    }
}
