@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('./font_roboto_thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./font_roboto_light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./font_roboto_regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./font_roboto_medium.ttf');
}
