/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../../vars-fantasy.css';

.link {
    font-family: var(--font);
    font-weight: var(--font-weight);

    cursor: pointer;

    transition: color 200ms ease-out;

    text-decoration: none;

    outline: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);

    &__text {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 1px;

        transition: border-color 200ms ease-out;
    }

    &__icon {
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block;
        line-height: 0;
    }

    &_size_xs {
        font-size: var(--font-size-xs);
        line-height: 1.5;
    }

    &_size_s {
        font-size: var(--font-size-s);
        line-height: 1.5;
    }

    &_size_m {
        font-size: var(--font-size-m);
        line-height: 1.5;
    }

    &_size_l {
        font-size: var(--font-size-xl);
    }

    &_size_xl {
        font-size: var(--font-size-2xl);
    }

    &_pseudo &__text {
        border-bottom-style: dotted;
    }

    &_disabled,
    &_checked {
        cursor: default;
    }

    &_disabled &__icon, &_checked &__icon {
        opacity: var(--opacity-disabled);
    }
}

.link_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);

    .link__text {
        border-color: rgba(255, 255, 255, .4);
    }

    &.link_hovered,
    &.link_focused {
        color: var(--color-content-accent-alfa-on-color);

        .link__text {
            border-color: rgba(255, 255, 255, 1);
        }
    }

    &.link_disabled,
    &.link_checked {
        color: var(--color-content-minor-alfa-on-color);

        .link__text {
            border-color: transparent;
        }
    }
}

.link_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .link__text {
        /* TODO @teryaew: move to variables */
        border-color: rgba(10, 30, 50, .4);
    }

    &.link_hovered,
    &.link_focused {
        color: var(--color-content-heavy-accent-alfa-on-white);

        .link__text {
            border-color: var(--color-accent-translucent);
        }
    }

    &.link_disabled,
    &.link_checked {
        color: var(--color-content-minor-alfa-on-white);

        .link__text {
            border-color: transparent;
        }
    }
}
