/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.playground-with-share-example-button {
    position: relative;
    margin-top: 60px;

    &__share-code {
        background-image: url('./icon.svg');
        background-color: white;
        height: 24px;
        width: 24px;
        position: absolute;
        right: 0;
        top: -32px;
        border: none;

        &:focus {
            outline: 1px dashed #f28a25;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
