@import '../../../src/vars.css';

.preview {
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    padding: 20px;
    border: 1px solid rgba(11, 31, 53, 0.1);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .styleguide_theme_alfa-on-color & {
        border-color: rgba(255, 255, 255, 0.1);
    }
}
