/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.collapsible {
    position: relative;
    height: 0;
    visibility: hidden;
    transition: height 0.2s;
    overflow: hidden;

    &_expanded {
        height: auto;
        visibility: visible;
        padding-bottom: 15px;
    }
}
