/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tag-button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
    text-align: center;
    white-space: nowrap;
    border-color: transparent;
    border-radius: 30px;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-property: background, color, width;
    transition-property: background, color, width;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

.tag-button, .tag-button *, .tag-button *:before, .tag-button *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

.tag-button_hovered,
    .tag-button_hovered.tag-button_focused,
    .tag-button_focused {
        border-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

.tag-button__text {
        font-weight: 500;
    }

.tag-button_size_s {
        min-height: 30px;
        padding: 0 10px;
        font-size: 13px;
        line-height: 28px;
    }

.tag-button_size_m {
        min-height: 40px;
        padding: 0 14px;
        font-size: 16px;
        line-height: 38px;
    }

.tag-button_size_l {
        min-height: 50px;
        padding: 0 18px;
        font-size: 18px;
        line-height: 48px;
    }

.tag-button_size_xl {
        min-height: 60px;
        padding: 0 22px;
        font-size: 22px;
        line-height: 58px;
    }

.tag-button_width_available {
        width: 100%;
    }

.tag-button_disabled {
        cursor: default;
    }

.tag-button_theme_alfa-on-color {
    color: rgba(255, 255, 255, .9);
    background: rgba(255, 255, 255, 0.3);
}

.tag-button_theme_alfa-on-color.tag-button_hovered {
        background: rgba(255, 255, 255, 0.4);
    }

.tag-button_theme_alfa-on-color.tag-button_focused {
        background: rgba(255, 255, 255, 0.55);
    }

.tag-button_theme_alfa-on-color.tag-button_pressed {
        background: rgba(255, 255, 255, 0.6);
    }

.tag-button_theme_alfa-on-color.tag-button_checked {
        color: rgba(10, 30, 50, .9);
        background: rgba(255, 255, 255, 0.75);
    }

.tag-button_theme_alfa-on-color.tag-button_disabled {
        color: rgba(255, 255, 255, .4);
        background: transparent;
        border-color: rgba(255, 255, 255, .2);
        border-style: dotted;
        border-width: 1px;
    }

.tag-button_theme_alfa-on-color.tag-button_disabled .tag-button__text {
            opacity: .6;
        }

.tag-button_theme_alfa-on-white {
    color: rgba(10, 30, 50, .9);
    background: rgba(10, 30, 50, 0.05);
}

.tag-button_theme_alfa-on-white.tag-button_hovered {
        background: rgba(10, 30, 50, 0.08);
    }

.tag-button_theme_alfa-on-white.tag-button_focused {
        background: rgba(10, 30, 50, 0.14);
    }

.tag-button_theme_alfa-on-white.tag-button_pressed {
        background: rgba(10, 30, 50, 0.18);
    }

.tag-button_theme_alfa-on-white.tag-button_checked {
        color: rgba(255, 255, 255, .9);
        background: rgba(10, 30, 50, 0.9);
    }

.tag-button_theme_alfa-on-white.tag-button_disabled {
        color: rgba(10, 30, 50, .6);
        background: transparent;
        border-color: rgba(10, 30, 50, .2);
        border-style: dotted;
        border-width: 1px;
    }

.tag-button_theme_alfa-on-white.tag-button_disabled .tag-button__text {
            opacity: .6;
        }

/*# sourceMappingURL=tag-button.css.map */
