/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../../vars-fantasy.css';

.button_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
    background: transparent;
    border-color: rgba(10, 30, 50, .3);
    border-style: solid;
    border-width: 1px;

    &.button_hovered {
        border-color: var(--color-content-alfa-on-white);
    }

    &.button_focused {
        border-color: var(--color-content-alfa-on-white);
        box-shadow: inset 0 0 0 1px var(--color-content-alfa-on-white);

        &.button_hovered {
            border-color: var(--color-content-alfa-on-white);
            box-shadow: inset 0 0 0 1px var(--color-content-alfa-on-white);
        }
    }

    &.button_pressed {
        background: rgba(10, 30, 50, .05);
        border-color: var(--color-content-alfa-on-white);
    }

    &.button_checked,
    &.button_view_action {
        color: var(--color-content-alfa-on-white);
        background: rgba(10, 30, 50, .15);
        border-color: rgba(10, 30, 50, .05);

        &.button_hovered {
            background: rgba(10, 30, 50, .25);
        }

        &.button_pressed {
            background: rgba(10, 30, 50, .3);
        }

        &.button_focused {
            border-color: var(--color-content-alfa-on-white);
        }
    }

    &.button_view_extra {
        color: var(--color-content-accent-alfa-on-color);
        background: var(--color-accent-translucent);
        border-color: var(--color-accent-translucent);

        &.button_hovered {
            background: var(--color-accent);
            border-color: var(--color-accent);
        }

        &.button_focused {
            border-color: var(--color-content-alfa-on-white);
        }

        &.button_pressed {
            background: var(--color-accent-alt);
            border-color: var(--color-accent-alt);
        }
    }

    &.button_view_other {
        color: var(--color-content-accent-alfa-on-color);
        background: rgba(80, 64, 218, .85);
        border-color: rgba(80, 64, 218, .85);

        &.button_hovered {
            background: rgba(71, 57, 195, .85);
            border-color: rgba(71, 57, 195, .85);
        }

        &.button_focused {
            border-color: var(--color-content-alfa-on-white);
        }

        &.button_pressed {
            background: rgba(64, 51, 174, .85);
            border-color: rgba(64, 51, 174, .85);
        }
    }

    &.button_pseudo {
        border-style: dashed;

        &.button_focused {
            border-color: var(--color-content-alfa-on-white);
            border-style: solid;

            &.button_hovered {
                border-style: dashed;
            }
        }
    }

    &.button_disabled {
        border-color: transparent;
        background: rgba(10, 30, 50, .08);

        .button__text {
            color: var(--color-content-minor-alfa-on-white);
        }
    }
}

.control-group {
    &.checkbox-group_theme_alfa-on-white,
    &.radio-group_theme_alfa-on-white {
        > .button:last-child,
        > :last-child .button {
            border-right-color: var(--color-content-minor-alfa-on-white);

            &.button_hovered {
                border-right-color: var(--color-content-alfa-on-white);
            }
        }

        & .button_hovered {
            border-color: var(--color-content-alfa-on-white);
        }

        & .button_checked.button_hovered {
            background-color: rgba(10, 30, 50, .25);
            border-color: var(--color-content-alfa-on-white);
        }

        & .button_focused {
            background-color: rgba(10, 30, 50, .08);
            border-color: var(--color-content-alfa-on-white);
            box-shadow: inset 0 0 0 1px var(--color-content-alfa-on-white);
        }

        & .button_checked.button_focused {
            border-color: var(--color-content-alfa-on-white);
            box-shadow: inset 0 0 0 1px var(--color-content-alfa-on-white);
        }
    }

    &.checkbox-group_theme_alfa-on-white {
        .button {
            border-right-color: rgba(10, 30, 50, .15);
            border-left-color: rgba(10, 30, 50, .15);

            &.button_hovered {
                border-right-color: var(--color-content-alfa-on-white);
                border-left-color: var(--color-content-alfa-on-white);
            }

            &.button_focused {
                border-right-color: var(--color-content-alfa-on-white);
                border-left-color: var(--color-content-alfa-on-white);
            }
        }

        > .button:first-child,
        > :first-child .button {
            border-left-color: var(--color-content-minor-alfa-on-white);

            &.button_hovered {
                border-left-color: var(--color-content-alfa-on-white);
            }

            &.button_disabled {
                border-left: transparent;
            }

            &.button_focused {
                border-color: var(--color-content-alfa-on-white);
            }
        }

        .button_checked {
            background-color: rgba(10, 30, 50, .15);
            border-color: transparent;
            border-left-color: rgba(10, 30, 50, .15);
        }

        > .button_checked:last-child,
        > :last-child .button_checked {
            border-color: transparent;
            border-left-color: rgba(10, 30, 50, .15);

            &.button_hovered {
                border-color: var(--color-content-alfa-on-white);
            }
        }

        > .button_checked:first-child,
        > :first-child .button_checked {
            border-color: transparent;

            &.button_hovered {
                border-color: var(--color-content-alfa-on-white);
            }
        }

        .button_focused {
            background-color: transparent;

            &.button_checked {
                background-color: var(--color-background-control-focused-alfa-on-color);
            }
        }
    }

    &.radio-group_theme_alfa-on-white {
        .button_checked {
            background-color: var(--color-background-control-focused-alfa-on-color);
            border-color: var(--color-border-control-focused-alfa-on-color);
            border-right-color: transparent;
        }

        > .button_checked:last-child,
        > :last-child .button_checked {
            border-right-color: var(--color-border-control-focused-alfa-on-color);

            &.button_hovered {
                border-right-color: var(--color-content-alfa-on-white);
            }

            &.button_focused {
                border-right-color: var(--color-content-alfa-on-white);
            }
        }

        > .button_checked:first-child,
        > :first-child .button_checked {
            border-left-color: transparent;

            &.button_hovered {
                border-color: var(--color-content-alfa-on-white);
            }

            &.button_focused {
                border-left-color: var(--color-content-alfa-on-white);
            }
        }
    }
}
