/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.icon_size_m.icon_name_payment-error.icon_theme_alfa-on-white {
    background-image: url('./icon_payment-error_m_black.svg');
}

.icon_size_m.icon_name_payment-error.icon_theme_alfa-on-color {
    background-image: url('./icon_payment-error_m_white.svg');
}

.icon_size_xl.icon_name_payment-error.icon_theme_alfa-on-white {
    background-image: url('./icon_payment-error_xl_black.svg');
}

.icon_size_xl.icon_name_payment-error.icon_theme_alfa-on-color {
    background-image: url('./icon_payment-error_xl_white.svg');
}

.icon_size_xxl.icon_name_payment-error.icon_theme_alfa-on-white {
    background-image: url('./icon_payment-error_xxl_black.svg');
}

.icon_size_xxl.icon_name_payment-error.icon_theme_alfa-on-color {
    background-image: url('./icon_payment-error_xxl_white.svg');
}
