*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > div,
#react-app {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: inherit;
}
