/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.slide-down {
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: height 0.3s ease;

    &__content {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        &_expanded {
            position: static;
        }
    }
}
