/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    /**
     * Цвет контента с повышенным акцентом для темы `alfa-on-color`.
     * Используется, чтобы компенсировать потерю акцента для контента.
     *
     * Например для заголовков страниц, набранных тонким шрифтом, что делает
     * их "слишком светлыми" при использовании стандартного `--color-content-alfa-on-color`.
     */
    --color-content-accent-alfa-on-color: rgb(255, 255, 255);

    /**
     * Цвет контента для темы `alfa-on-color`.
     */
    --color-content-alfa-on-color: rgba(255, 255, 255, 1);

    /**
     * Цвет второстепенного контента для `alfa-on-color`.
     */
    --color-content-minor-alfa-on-color: rgba(255, 255, 255, .7);

    /**
     * Цвет неактивного контента для `alfa-on-color`.
     * Например, используется на неактивных полях ввода.
     */
    --color-content-disabled-alfa-on-color: rgba(255, 255, 255, .4);

    /**
     * Цвет фона компонентов для `alfa-on-color`.
     */
    --color-background-alfa-on-color: rgb(11, 31, 53);

    /**
     * Цвет фона для для второстепенного контента `alfa-on-white`.
     */
    --color-background-minor-alfa-on-color: rgba(255, 255, 255, .08);

    /**
     * Цвет фона для контролов для `alfa-on-color`.
     */
    --color-background-control-alfa-on-color: transparent;

    /**
     * Цвет фона для контролов при наведении для `alfa-on-color`.
     */
    --color-background-control-hovered-alfa-on-color: rgba(255, 255, 255, .1);

    /**
     * Цвет фона для контролов в фокусе для `alfa-on-color`.
     */
    --color-background-control-focused-alfa-on-color: rgba(11, 31, 53, .15);

    /**
     * Цвет фона для замороженных контролов для `alfa-on-color`.
     */
    --color-background-control-disabled-alfa-on-color: rgba(255, 255, 255, .1);

    /**
    * Цвет рамки для контролов для `alfa-on-color`.
    */
    --color-border-control-alfa-on-color: rgba(255, 255, 255, .4);

    /**
     * Цвет рамки для контролов в фокусе для `alfa-on-color`.
     */
    --color-border-control-focused-alfa-on-color: rgba(255, 255, 255, .9);

    /**
     * Цвет рамки для контролов при наведении для `alfa-on-color`.
     */
    --color-border-control-hovered-alfa-on-color: rgba(255, 255, 255, .9);

    /**
     * Цвет рамки для нажатых контролов для `alfa-on-color`.
     */
    --color-border-control-pressed-alfa-on-color: rgba(255, 255, 255, .9);

    /**
    * Цвет рамки для выбранных контролов для `alfa-on-color`.
    */
    --color-border-control-checked-alfa-on-color: rgba(255, 255, 255, .5);

    /**
     * Цвет рамки для неактивных контролов для `alfa-on-color`.
     */
    --color-border-control-disabled-alfa-on-color: rgba(255, 255, 255, .2);

    /**
     * Цвет для разделительных бордеров для `alfa-on-color`.
     */
    --color-border-separator-alfa-on-color: rgba(255, 255, 255, .07);

    /**
    * Цвет для градиента на краях экрана для `alfa-on-color`.
    */
    --color-gradient-edge-screen-alfa-on-color: linear-gradient(to top, #222a32, rgba(34, 42, 50, 0));
}
