/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    /**
     * Стандартная шрифтовая гарнитура для всех компонентов.
     *
     * NB#1: Использование `-apple-system` в начале декларации совместно с shorthand свойством `font` на IE
     * приводит к инвалидации и фоллбэку на дефолтный браузерный Times New Roman. С `font-family` проблем нет.
     *
     * NB#2: На ОС семейства Windows версий XP-8.1 на которых не было установлено обновление
     * https://support.microsoft.com/ru-ru/help/2970228/update-to-support-the-new-currency-symbol-for-the-russian-ruble-in-win
     * отсутствует поддержка символа российского рубля. Для решения этой проблемы мы используем
     * односимвольный шрифт Roboto Rouble (~3kb gzipped). Использование именно этого семейства обосновано
     * свободой лицензии, в отличии от Segoe UI.
     */
    --font: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;

    /**
     * Облегченная толщина шрифта. Может быть использована для
     * снижения визуальной массы текста и только при больших
     * кеглях. Например, используется в заголовках.
     *
     * Не используйте на малых и стандартных кеглях: на неретина
     * дисплеях сильно снижается читаемость.
     */
    --font-weight-light: 300;

    /**
     * Стандартная толщина шрифта для всех компонентов.
     */
    --font-weight-normal: 400;

    /**
     * Толщина шрифта для сильного акцента. Например, используется в акцентных кнопках или
     * выделении активных пунктов меню.
     */
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /**
     * Самый маленький размер шрифта. Используется для самой второстепенной
     * информации, например, в подвале страницы.
     */
    --font-size-xs: 12px;

    /**
     * Маленький размер шрифта. Используйется для снижения акцента.
     */
    --font-size-s: 13px;

    /**
     * Стандартный размер шрифта.
     */
    --font-size-m: 16px;

    /**
     * Большой размер шрифта.
     */
    --font-size-l: 18px;

    /**
     * Экстра большой размер шрифта.
     */
    --font-size-xl: 22px;

    /**
     * Двойной экстра размер шрифта. Используется для особых акцентов,
     * например, в увеличенных отдельно стоящих ссылках.
     */
    --font-size-2xl: 30px;

    /**
     * Тройной экстра размер шрифта. Используется в крупных заголовках.
     */
    --font-size-3xl: 40px;

    /**
     * Четверной экстра размер шрифта. Используется в особо крупных заголовках.
     */
    --font-size-4xl: 48px;

    /**
     * Базовый интерлиньяж
     */
    --line-height-normal: 1.4;

    /**
     * Сокращённый интерлиньяж
     */
    --line-height-condensed: 1.2;
}
