:root {
    --dark-indigo: #0b1f35;
    --dark-indigo-95: #f20b1f35;
    --dark-indigo-90: #e60b1f35;
    --dark-indigo-80: #cc0b1f35;
    --dark-indigo-70: #b30b1f35;
    --dark-indigo-60: #990b1f35;
    --dark-indigo-50: #800b1f35;
    --dark-indigo-40: #660b1f35;
    --dark-indigo-30: #4d0b1f35;
    --dark-indigo-25: #400b1f35;
    --dark-indigo-20: #330b1f35;
    --dark-indigo-15: #260b1f35;
    --dark-indigo-10: #1a0b1f35;
    --dark-indigo-05: #0d0b1f35;
    --dark-indigo-95-flat: #172a3f;
    --dark-indigo-90-flat: #233549;
    --dark-indigo-80-flat: #3c4c5d;
    --dark-indigo-70-flat: #546271;
    --dark-indigo-60-flat: #6d7986;
    --dark-indigo-50-flat: #858f9a;
    --dark-indigo-40-flat: #9da5ae;
    --dark-indigo-30-flat: #b5bbc2;
    --dark-indigo-25-flat: #c2c7cc;
    --dark-indigo-20-flat: #ced2d7;
    --dark-indigo-15-flat: #dbdee1;
    --dark-indigo-10-flat: #e6e8ea;
    --dark-indigo-05-flat: #f3f4f5;
    --dark-indigo-deep: #08182a;
    --red-brand: #f03226;
    --red-brand-90: #e6f03226;
    --red-brand-70: #b3f03226;
    --red-brand-50: #80f03226;
    --red-brand-30: #4df03226;
    --red-brand-20: #33f03226;
    --red-brand-90-flat: #f1463b;
    --red-brand-70-flat: #f46f67;
    --red-brand-50-flat: #f79892;
    --red-brand-30-flat: #fac1bd;
    --red-brand-20-flat: #fcd6d4;
    --blue-action: #0e60b9;
    --blue-action-ios: #007aff;
    --blue-swipe-a: #2670c6;
    --blue-swipe-b: #3781d8;
    --blue-swipe-c: #4a90e2;
    --indigo-active: #5e758a;
    --endeavour: #0063a7;
    --red-error: #ff5c5c;
    --red-dark: #d91d0b;
    --green-done: #0dba26;
    --green-delta: #5fa50d;
    --warning-default: #fce333;
    --black: #000000;
    --black-95: #f2000000;
    --black-90: #e6000000;
    --black-80: #cc000000;
    --black-70: #b3000000;
    --black-60: #99000000;
    --black-50: #80000000;
    --black-40: #66000000;
    --black-30: #4d000000;
    --black-25: #40000000;
    --black-20: #33000000;
    --black-15: #26000000;
    --black-10: #1a000000;
    --black-05: #0d000000;
    --black-95-flat: #0d0d0d;
    --black-90-flat: #191919;
    --black-85-flat: #262626;
    --black-80-flat: #333333;
    --black-70-flat: #4c4c4c;
    --black-60-flat: #666666;
    --black-50-flat: #7f7f7f;
    --black-40-flat: #999999;
    --black-30-flat: #b2b2b2;
    --black-25-flat: #bfbfbf;
    --black-20-flat: #cccccc;
    --black-15-flat: #d9d9d9;
    --black-10-flat: #e5e5e5;
    --black-05-flat: #f2f2f2;
    --white: #ffffff;
    --white-95: #f2ffffff;
    --white-90: #e6ffffff;
    --white-80: #ccffffff;
    --white-70: #b3ffffff;
    --white-60: #99ffffff;
    --white-50: #80ffffff;
    --white-40: #66ffffff;
    --white-30: #4dffffff;
    --white-20: #33ffffff;
    --white-10: #1affffff;
    --white-05: #0dffffff;
    --grey-00: #00bfbfbf;
    --grey-20: #33bfbfbf;
    --grey-50: #80bfbfbf;
    --category-information: #4383e8;
    --category-invoice: #6082a7;
    --category-notice: #4dd5d5;
    --bg-corporate: #212a33;
    --bg-corporate-90: #e6212a33;
    --bg-corporate-60: #99212a33;
    --bg-corporate-30: #4d212a33;
    --bg-corporate-90-flat: #373f47;
    --bg-corporate-60-flat: #7a7f85;
    --bg-corporate-30-flat: #bcbfc1;
    --bg-personal: #14325A;
    --text-black-primary: #f20b1f35;
    --text-black-secondary: #990b1f35;
    --text-black-tertiary: #4d0b1f35;
    --text-black-paragraph: #b30b1f35;
    --text-white-primary: #ffffff;
    --text-white-secondary: #b3ffffff;
    --text-white-tertiary: #66ffffff;
    --text-white-paragraph: #ccffffff;
}
