:root {
    --color-dark-indigo: rgba(11, 31, 53, 1);
    --color-dark-indigo-95-deprecated: rgba(11, 31, 53, 0.95);
    --color-dark-indigo-90-deprecated: rgba(11, 31, 53, 0.9);
    --color-dark-indigo-80-deprecated: rgba(11, 31, 53, 0.8);
    --color-dark-indigo-70-deprecated: rgba(11, 31, 53, 0.7);
    --color-dark-indigo-60: rgba(11, 31, 53, 0.6);
    --color-dark-indigo-50-deprecated: rgba(11, 31, 53, 0.5);
    --color-dark-indigo-40-deprecated: rgba(11, 31, 53, 0.4);
    --color-dark-indigo-30: rgba(11, 31, 53, 0.3);
    --color-dark-indigo-25-deprecated: rgba(11, 31, 53, 0.25);
    --color-dark-indigo-20-deprecated: rgba(11, 31, 53, 0.2);
    --color-dark-indigo-15: rgba(11, 31, 53, 0.15);
    --color-dark-indigo-10: rgba(11, 31, 53, 0.1);
    --color-dark-indigo-07: rgba(11, 31, 53, 0.07);
    --color-dark-indigo-05: rgba(11, 31, 53, 0.05);
    --color-dark-indigo-03: rgba(11, 31, 53, 0.03);
    --color-dark-indigo-95-flat-deprecated: rgba(23, 42, 63, 1);
    --color-dark-indigo-90-flat-deprecated: rgba(35, 53, 73, 1);
    --color-dark-indigo-80-flat-deprecated: rgba(60, 76, 93, 1);
    --color-dark-indigo-70-flat-deprecated: rgba(84, 98, 113, 1);
    --color-dark-indigo-60-flat: rgba(109, 121, 134, 1);
    --color-dark-indigo-50-flat-deprecated: rgba(133, 143, 154, 1);
    --color-dark-indigo-40-flat-deprecated: rgba(157, 165, 174, 1);
    --color-dark-indigo-30-flat: rgba(181, 187, 194, 1);
    --color-dark-indigo-25-flat-deprecated: rgba(194, 199, 204, 1);
    --color-dark-indigo-20-flat-deprecated: rgba(206, 210, 215, 1);
    --color-dark-indigo-15-flat: rgba(219, 222, 225, 1);
    --color-dark-indigo-10-flat: rgba(230, 232, 234, 1);
    --color-dark-indigo-07-flat: rgba(238, 239, 241, 1);
    --color-dark-indigo-05-flat: rgba(243, 244, 245, 1);
    --color-dark-indigo-03-flat: rgba(247, 248, 249, 1);
    --color-dark-indigo-deep-deprecated: rgba(8, 24, 42, 1);
    --color-red-brand: rgba(239, 49, 36, 1);
    --color-red-brand-90: rgba(239, 49, 36, 0.9);
    --color-red-brand-70: rgba(239, 49, 36, 0.7);
    --color-red-brand-50: rgba(239, 49, 36, 0.5);
    --color-red-brand-30: rgba(239, 49, 36, 0.3);
    --color-red-brand-20: rgba(239, 49, 36, 0.2);
    --color-red-brand-10: rgba(239, 49, 36, 0.1);
    --color-red-brand-90-flat: rgba(241, 69, 57, 1);
    --color-red-brand-70-flat: rgba(244, 110, 101, 1);
    --color-red-brand-50-flat: rgba(247, 152, 145, 1);
    --color-red-brand-30-flat: rgba(250, 193, 189, 1);
    --color-red-brand-20-flat: rgba(252, 214, 211, 1);
    --color-red-brand-10-flat: rgba(253, 234, 233, 1);
    --color-blue-action: rgba(14, 96, 185, 1);
    --color-blue-action-ios: rgba(0, 122, 255, 1);
    --color-blue-action-ios-10: rgba(0, 122, 255, 0.1);
    --color-blue-action-ios-10-flat: rgba(230, 242, 255, 1);
    --color-blue-swipe-a: rgba(38, 112, 198, 1);
    --color-blue-swipe-b: rgba(55, 129, 216, 1);
    --color-blue-swipe-c: rgba(74, 144, 226, 1);
    --color-indigo-active: rgba(94, 117, 138, 1);
    --color-endeavour: rgba(0, 99, 167, 1);
    --color-red-error: rgba(255, 92, 92, 1);
    --color-red-dark: rgba(217, 29, 11, 1);
    --color-green-done: rgba(47, 194, 110, 1);
    --color-green-done-20: rgba(47, 194, 110, 0.2);
    --color-green-done-10: rgba(47, 194, 110, 0.1);
    --color-green-done-05: rgba(47, 194, 110, 0.05);
    --color-green-done-20-flat: rgba(213, 243, 226, 1);
    --color-green-done-10-flat: rgba(234, 249, 241, 1);
    --color-green-done-05-flat: rgba(245, 252, 248, 1);
    --color-green-text: rgba(19, 164, 99, 1);
    --color-green-delta-deprecated: rgba(95, 165, 13, 1);
    --color-warning-default: rgba(252, 227, 51, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-black-95: rgba(0, 0, 0, 0.95);
    --color-black-90: rgba(0, 0, 0, 0.9);
    --color-black-80: rgba(0, 0, 0, 0.8);
    --color-black-70: rgba(0, 0, 0, 0.7);
    --color-black-60: rgba(0, 0, 0, 0.6);
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-black-40: rgba(0, 0, 0, 0.4);
    --color-black-30: rgba(0, 0, 0, 0.3);
    --color-black-25: rgba(0, 0, 0, 0.25);
    --color-black-20: rgba(0, 0, 0, 0.2);
    --color-black-15: rgba(0, 0, 0, 0.15);
    --color-black-10: rgba(0, 0, 0, 0.1);
    --color-black-05: rgba(0, 0, 0, 0.05);
    --color-black-95-flat: rgba(13, 13, 13, 1);
    --color-black-90-flat: rgba(25, 25, 25, 1);
    --color-black-85-flat: rgba(38, 38, 38, 1);
    --color-black-80-flat: rgba(51, 51, 51, 1);
    --color-black-70-flat: rgba(76, 76, 76, 1);
    --color-black-60-flat: rgba(102, 102, 102, 1);
    --color-black-50-flat: rgba(127, 127, 127, 1);
    --color-black-40-flat: rgba(153, 153, 153, 1);
    --color-black-30-flat: rgba(178, 178, 178, 1);
    --color-black-25-flat: rgba(191, 191, 191, 1);
    --color-black-20-flat: rgba(204, 204, 204, 1);
    --color-black-15-flat: rgba(217, 217, 217, 1);
    --color-black-10-flat: rgba(229, 229, 229, 1);
    --color-black-05-flat: rgba(242, 242, 242, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-white-95: rgba(255, 255, 255, 0.95);
    --color-white-90: rgba(255, 255, 255, 0.9);
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-white-70: rgba(255, 255, 255, 0.7);
    --color-white-60: rgba(255, 255, 255, 0.6);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-40: rgba(255, 255, 255, 0.4);
    --color-white-30: rgba(255, 255, 255, 0.3);
    --color-white-20: rgba(255, 255, 255, 0.2);
    --color-white-10: rgba(255, 255, 255, 0.1);
    --color-white-05: rgba(255, 255, 255, 0.05);
    --color-grey-00: rgba(191, 191, 191, 0);
    --color-grey-20: rgba(191, 191, 191, 0.2);
    --color-grey-50: rgba(191, 191, 191, 0.5);
    --color-category-information: rgba(67, 131, 232, 1);
    --color-category-invoice: rgba(96, 130, 167, 1);
    --color-category-notice: rgba(77, 213, 213, 1);
    --color-bg-corporate: rgba(33, 42, 51, 1);
    --color-bg-corporate-90: rgba(33, 42, 51, 0.9);
    --color-bg-corporate-60: rgba(33, 42, 51, 0.6);
    --color-bg-corporate-30: rgba(33, 42, 51, 0.3);
    --color-bg-corporate-90-flat: rgba(55, 63, 71, 1);
    --color-bg-corporate-60-flat: rgba(122, 127, 133, 1);
    --color-bg-corporate-30-flat: rgba(188, 191, 193, 1);
    --color-bg-personal: rgba(20, 50, 90, 1);
    --color-text-black-primary: rgba(11, 31, 53, 0.95);
    --color-text-black-secondary: rgba(11, 31, 53, 0.6);
    --color-text-black-tertiary: rgba(11, 31, 53, 0.3);
    --color-text-black-paragraph: rgba(11, 31, 53, 0.7);
    --color-text-white-primary: rgba(255, 255, 255, 1);
    --color-text-white-secondary: rgba(255, 255, 255, 0.7);
    --color-text-white-tertiary: rgba(255, 255, 255, 0.4);
    --color-text-white-paragraph: rgba(255, 255, 255, 0.8);
    --color-corporate-payment-to-person: rgba(246, 191, 101, 1);
    --color-corporate-payment-to-atm: rgba(136, 136, 173, 1);
    --color-corporate-payment-to-card: rgba(164, 137, 170, 1);
}
