/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.list-header {
    line-height: var(--line-height-condensed);
    padding: 8px 12px;

    position: relative;
    margin: 24px -12px 16px;
    font-size: var(--font-size-s);

    &__description {
        opacity: var(--opacity-minor);
    }

    &_filled.list-header_theme_alfa-on-white {
        background-color: var(--color-border-separator-alfa-on-white);
    }

    &_filled.list-header_theme_alfa-on-color {
        background-color: var(--color-border-separator-alfa-on-color);
    }
}

@media (--small-only) {
    .list-header {
        font-size: var(--font-size-xxs);
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-extra);
    }
}
