.section-heading {
    .heading {
        margin: 0 0 24px;
        font-size: 28px;

        /* TODO 24px to fit long component names */

        line-height: 1.2;
        font-weight: 900;

        .styleguide_theme_alfa-on-color & {
            color: #fff;
        }

        @media (--medium) {
            font-size: 40px;
            line-height: 1.1;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}
