/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --width: 350px;
}

.notification {
    visibility: hidden;
    position: fixed;
    width: var(--width);
    min-height: 56px;
    padding: var(--gap-m);
    font-family: var(--font);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-condensed);
    border-radius: var(--border-radius-2x);
    transition: transform .2s ease-out;
    z-index: 9999;
    user-select: none;

    color: var(--color-content-alfa-on-color);
    background: var(--color-dark-indigo);
    box-shadow: 0 4px 16px rgba(11, 31, 53, 0.12), 0 1px 2px rgba(11, 31, 53, 0.24);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &_stick-to_left {
        left: var(--gap-s);
        transform: translate(calc(var(--width) * -1), 0);
    }

    &_stick-to_right {
        right: var(--gap-s);
        transform: translate(var(--width), 0);
    }

    &_theme_alfa-on-color {
        color: var(--color-content-alfa-on-white);
        background: var(--color-white);
        box-shadow: 0 4px 16px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
    }

    &_has-closer {
        padding-right: calc(var(--gap-m) + 18px + var(--gap-m));
    }

    &__title {
        font-size: var(--font-size-m);
        line-height: var(--line-height-condensed);
        font-weight: var(--font-weight-bold);
    }

    &__content {
        font-size: var(--font-size-s);
        line-height: var(--line-height-condensed);
        font-weight: var(--font-weight-normal);
    }

    &__title + &__content {
        margin-top: var(--gap-xs);
    }

    &__icon,
    &__closer {
        position: absolute;
    }

    &__icon {
        display: none;
        top: var(--gap-m);
        left: var(--gap-m);
    }

    &__closer {
        opacity: var(--opacity-minor);
        top: var(--gap-xs);
        right: var(--gap-xs);
        width: 34px;
        height: 34px;
        cursor: pointer;
        transition: opacity 200ms;

        &:hover {
            opacity: var(--opacity-active);
        }
    }

    &_status_ok,
    &_status_error,
    &_status_fail {
        padding-left: calc(var(--gap-s) + var(--gap-xl) + var(--gap-m));
    }

    &_status_ok &__icon,
    &_status_error &__icon,
    &_status_fail &__icon {
        display: block;
    }

    &_visible {
        visibility: visible;
        transform: translate(0, 0);
    }
}

@media (--mobile) {
    .notification {
        width: calc(100% - var(--gap-xl));
        min-height: 48px;
        padding: var(--gap-s);
        transform: translate(0, -500px);

        &_visible {
            transform: translate(0, 0);
        }

        &_has-closer {
            padding-right: calc(var(--gap-s) + 18px + var(--gap-m));
        }

        &__icon {
            top: var(--gap-s);
            left: var(--gap-s);
        }

        &__closer {
            top: var(--gap-2xs);
            right: var(--gap-2xs);
        }

        &_status_ok,
        &_status_error,
        &_status_fail {
            padding-left: calc(var(--gap-m) + var(--gap-xl) + var(--gap-m));
        }
    }
}
