/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --width: 315px;
}

.notification {
    visibility: hidden;
    position: fixed;
    width: var(--width);
    min-height: 80px;
    padding: var(--gap-s) calc(var(--gap-s) * 4) var(--gap-s) calc(var(--gap-s) * 2);
    font-family: var(--font);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-condensed);
    border-radius: var(--border-radius-control);
    transition: all .2s ease-out;
    z-index: 9999;

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &_stick-to_left {
        left: var(--gap-s);
        transform: translate(calc(var(--width) * -1), 0);
    }

    &_stick-to_right {
        right: var(--gap-s);
        transform: translate(var(--width), 0);
    }

    &_theme_alfa-on-color {
        color: var(--color-content-alfa-on-color);
        background: var(--color-background-alfa-on-color);
        box-shadow: var(--shadow-light);
    }

    &_theme_alfa-on-white {
        color: var(--color-content-alfa-on-white);
        background: var(--color-background-alfa-on-white);
        box-shadow: var(--shadow-light);
    }

    &__title {
        padding-bottom: 10px;
        font-size: var(--font-size-m);
    }

    &__content {
        font-size: var(--font-size-s);
    }

    &__icon,
    &__close {
        position: absolute;
    }

    &__icon {
        display: none;
        top: 10px;
        left: 18px;
    }

    &__close {
        opacity: var(--opacity-minor);
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: opacity 200ms;

        &:hover {
            opacity: var(--opacity-active);
        }
    }

    &_status_ok,
    &_status_error {
        width: 350px;
        padding-left: 60px;
    }

    &_status_ok &__icon,
    &_status_error &__icon {
        display: block;
    }

    &_visible {
        visibility: visible;
        transform: translate(0, 0);
    }
}

@media (--small-only) {
    .notification {
        width: 100%;
        border-radius: 0;
        transform: translate(0, -500px);

        &_visible {
            transform: translate(0, 0);
        }

        &_stick-to_left {
            left: 0;
        }

        &_stick-to_right {
            right: 0;
        }
    }
}
