/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.calendar {
    display: inline-block;
    padding: 0;
    outline: 0;
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    border-radius: var(--border-radius-control);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__name {
        text-align: center;
    }

    &__layout {
        border-collapse: separate;
        border-spacing: 0;
    }

    &__title {
        vertical-align: middle;
        padding: 20px 20px 7px;
        line-height: 20px;
    }

    &__layout {
        padding: 0 10px 10px;
    }

    &__dayname,
    &__day {
        font-size: var(--font-size-s);
    }

    &__dayname {
        cursor: default;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-normal);
        line-height: 34px;
        text-align: center;
    }

    &__day {
        width: 35px;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        position: relative;
    }

    &__arrow, &__double_arrow {
        opacity: var(--opacity-minor);
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: all 0.1s ease-out;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__arrow:hover {
        opacity: var(--opacity-active);
    }

    &__arrow_direction_left, &__double_arrow_direction_left {
        float: left;
    }

    &__arrow_direction_right, &__double_arrow_direction_right {
        float: right;
    }

    &__day_type_weekend {
        font-weight: var(--font-weight-medium);
    }

    &__day_event {
        &:after {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 15px;
        }
    }

    &__day_event&__day_state_current, &__day_event&__day_state_today {
        &:after {
            bottom: -4px;
        }
    }

    &__day_state_today, &__day_state_current {
        position: relative;
        margin: 0;
        outline: 0;
        user-select: none;
        text-align: center;
        z-index: 2;

        &:before {
            content: '';
            position: absolute;
            top: 4px;
            right: 3px;
            bottom: 4px;
            left: 3px;
            border-radius: 14px;
            z-index: -1;
        }
    }

    &__day_state_today {
        &:before {
            background: rgba(11, 31, 53, .05);
        }
    }

    &__day_state_current {
        color: var(--color-accent-content);

        &:before {
            background: var(--color-accent);
        }
    }

    &__day_type_off,
    &__day_type_weekend-off {
        cursor: default;
        opacity: var(--opacity-minor);
    }

    &__arrow_disabled {
        visibility: hidden;
    }
}
