@import '../vars.css';

.calendar_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
    background-color: var(--color-background-alfa-on-color);

    .calendar {
        &__event {
            background-color: var(--color-background-alfa-on-color);

            &:after {
                background-color: var(--color-white-30);
            }
        }

        &__wrapper {
            background-color: var(--color-background-alfa-on-color);

            &:before {
                background: linear-gradient(to bottom, var(--color-dark-indigo) 0%, var(--color-dark-indigo) 33%, rgba(11, 31, 53, 0) 100%);
            }
        }

        &__day {
            &:hover {
                background: var(--color-white-10);
            }

            &_state_today {
                box-shadow: inset 0 0 0 1px var(--color-white);
            }

            &_state_current {
                color: var(--color-dark-indigo);
                background: var(--color-white);

                &:hover {
                    background: var(--color-white);
                }
            }
        }

        &__dayname {
            color: var(--color-white-30);
        }

        &__day_empty,
        &__select_type_off,
        &__day_type_off,
        &__day_type_weekend-off {
            color: var(--color-white-30);

            &:hover {
                background-color: transparent;
            }
        }

        &__name {
            &_month, &_year {
                background: var(--color-white-05-deprecated);

                &:hover {
                    background-color: var(--color-white-20-deprecated);
                }
            }
        }

        &__select {
            background: var(--color-white-05-deprecated);
            border: 1px solid var(--color-white-20-deprecated);

            &:hover {
                background: var(--color-white-20-deprecated);
                border-color: var(--color-white-30);
            }

            &_type_off:hover {
                background: var(--color-white-05-deprecated);
                border-color: var(--color-white-20-deprecated);
            }

            &_state_current {
                border-color: var(--color-white);

                &:hover {
                    border-color: var(--color-white);
                }
            }
        }

        &__select-arrows {
            background-image: url(./images/calendar__select-arrows-color.svg);
        }

        &__arrow_direction_left {
            background-image: url(./images/calendar__arrow-left-color.svg);
        }

        &__arrow_direction_right {
            background-image: url(./images/calendar__arrow-right-color.svg);
        }
    }
}
