/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.calendar {
    display: inline-block;
    width: 335px;
    min-height: 314px;
    max-height: 332px;
    padding: 16px;
    outline: 0;
    overflow: hidden;

    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);

    box-shadow: 0 1px 2px var(--color-dark-indigo-15), 0 3px 12px var(--color-dark-indigo-10);
    border-radius: var(--border-radius-2x);

    &_width_available {
        width: 100%;
    }

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__name {
        text-align: center;

        &_month, &_year {
            display: inline-block;
            height: 30px;

            cursor: pointer;
            outline: none;

            font-size: var(--font-size-l);
            line-height: 30px;
        }

        &_month {
            width: 89px;
            margin-left: 30px;
        }

        &_year {
            width: 73px;
            margin-left: 8px;
            margin-right: 30px;
        }
    }

    &__wrapper {
        width: 303px;
        height: 246px;
        overflow: hidden;
    }

    &__years, &__months {
        width: 319px;
        height: 246px;
        overflow: auto;
        padding: 4px;
    }

    &__select {
        display: inline-block;

        margin: 4px;
        width: 90px;
        height: 50px;

        box-sizing: border-box;
        border-radius: var(--border-radius-control);
        outline: none;

        line-height: 50px;
        text-align: center;
        cursor: pointer;
    }

    &__layout {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
    }

    &__title {
        vertical-align: middle;
        padding: 0 0 16px;
        line-height: 30px;
    }

    &__layout {
        padding: 0 10px 10px;
    }

    &__dayname {
        cursor: default;
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-normal);
        line-height: 34px;
        text-align: center;

        mix-blend-mode: normal;
        opacity: 0.4;
    }

    &__day {
        width: 34px;
        height: 30px;
        margin-top: 6px;

        cursor: pointer;
        border-radius: var(--border-radius-control);
        line-height: 30px;
        text-align: center;
        position: relative;
        outline: none;
    }

    &__arrow {
        width: 36px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        outline: none;

        font-size: var(--font-size-l);

        mix-blend-mode: normal;
        border-radius: var(--border-radius-control);
    }

    &__arrow:hover {
        opacity: var(--opacity-active);
    }

    &__arrow_direction_left {
        float: left;
    }

    &__arrow_direction_right {
        float: right;
    }

    &__day_type_weekend {
        font-weight: var(--font-weight-medium);
    }

    &__event {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        position: absolute;
        bottom: -1px;
        left: 50%;
        margin-left: -5px;

        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }
    }

    &__day_state_today, &__day_state_current {
        position: relative;
        outline: 0;
        user-select: none;
        text-align: center;
        z-index: 2;
    }

    &__day_state_today {
        box-sizing: border-box;
        border-radius: var(--border-radius-control);
    }

    &__day_empty,
    &__select_type_off,
    &__day_type_off,
    &__day_type_weekend-off {
        cursor: default;
    }

    &__arrow_disabled {
        pointer-events: none;
        cursor: default;

        &, &:hover {
            opacity: 0;
        }
    }
}
