/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.icon_theme_alfa-on-white {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in action-check, action-down, action-error, action-fail,
                action-ok, action-ok-filled, action-up, tool-attachment, tool-calendar, tool-close {
                &.icon_name_$(name) {
                    background-image: url('./images/icon_$(name)_$(size)_black.svg');
                }
            }
        }
    }

    @each $name in action-down, action-up {
        &.icon_name_$(name) {
            background-image: url('./images/icon_$(name)_xs_black.svg');
        }
    }

    &.icon_name_action-check-indeterminate {
        background-image: url('./images/icon_action-check-indeterminate_m_black.svg');
    }
}
