/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.radio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);
    white-space: nowrap;

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__control {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: -1;
    }

    &__box {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border-radius: 50%;

        &:after {
            opacity: 0;
            visibility: hidden;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transition: transform .05s ease-out, opacity .05s ease-out, visibility 0s linear .05s;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }

    &_size_m {
        font-size: var(--font-size-m);
    }

    &_size_m &__box {
        width: 14px;
        height: 14px;
        margin-right: 10px;

        &:after {
            width: 6px;
            height: 6px;
            margin-top: -3px;
            margin-left: -3px;
        }
    }

    &_size_l {
        font-size: var(--font-size-xl);
    }

    &_size_l &__box {
        width: 18px;
        height: 18px;
        margin-right: 12px;

        &:after {
            width: 8px;
            height: 8px;
            margin-top: -4px;
            margin-left: -4px;
        }
    }

    &_checked &__box:after {
        opacity: var(--opacity-active);
        visibility: visible;
    }

    &_disabled {
        cursor: default;
    }
}

.radio_type_button {
    display: inline-block;

    .radio__control {
        visibility: hidden;
        position: absolute;
    }

    &.radio_checked .button__text {
        font-weight: var(--font-weight-normal);
    }
}

.radio_width_available {
    width: 100%;
}

.radio_invalid {
    .radio__box {
        border-color: var(--color-error-translucent);
    }

    &.radio_focused,
    &.radio_hovered {
        .radio__box {
            border-color: var(--color-error-translucent);
            box-shadow: 0 0 0 1px var(--color-error-translucent);
        }
    }
}
