/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.radio_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .radio__box {
        background: rgba(11, 31, 53, 0.05);
        border: 1px solid rgba(11, 31, 53, 0.6);
        transition: all 0.2s ease;
    }

    &.radio_checked {
        .radio__box {
            background: rgba(240, 50, 38, 0.85);
            border: 1px solid rgba(11, 31, 53, 0.24);
        }

        &.radio_hovered .radio__box {
            background: #f03226;
        }
    }

    &.radio_focused,
    &.radio_hovered {
        .radio__box {
            border-color: var(--color-border-control-focused-alfa-on-white);
        }
    }

    &.radio_disabled {
        color: var(--color-content-disabled-alfa-on-white);

        .radio__box {
            border-color: transparent;
            background: rgba(11, 31, 53, 0.2);
        }

        &.radio_focused .radio__box {
            background: rgba(240, 50, 38, 0.85);
            border: 2px solid rgba(11, 31, 53, 0.95);
        }

        &.radio_hovered .radio__box {
            background: rgba(11, 31, 53, 0.2);
        }

        &.radio_focused .radio__box {
            background: rgba(240, 50, 38, 0.85);
            border: 2px solid rgba(11, 31, 53, 0.95);
        }
    }
}
