/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.radio_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .radio__box {
        background: var(--color-background-control-alfa-on-white);
        border: 1px solid var(--color-border-control-alfa-on-white);
        transition: all 200ms ease;
    }

    &.radio_checked {
        .radio__box {
            background: var(--color-accent-translucent);
            border-color: transparent;

            &:after {
                background: var(--color-accent-content);
            }
        }

        &.radio_hovered .radio__box {
            background: var(--color-accent);
            border-color: transparent;
        }
    }

    &.radio_focused,
    &.radio_hovered {
        .radio__box {
            border-color: var(--color-border-control-focused-alfa-on-white);
        }
    }

    &.radio_focused .radio__box {
        box-shadow: 0 0 0 1px var(--color-border-control-focused-alfa-on-white);
    }

    &.radio_disabled {
        color: var(--color-content-disabled-alfa-on-white);

        .radio__box {
            background: var(--color-background-control-disabled-alfa-on-white);
            border-color: transparent;
        }

        &.radio_checked .radio__box:after {
            background: var(--color-accent-content-minor);
        }
    }
}
