/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.radio_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .radio__box {
        transition: all 200ms ease;

        background: var(--color-background-control-alfa-on-white);

        border: 1px solid rgba(0, 0, 0, .3);
    }

    &.radio_checked {
        .radio__box {
            border-color: transparent;
            background: var(--color-accent-translucent);

            &:after {
                background: var(--color-accent-content);
            }
        }

        &.radio_hovered .radio__box {
            border-color: transparent;
            background: var(--color-accent);
        }
    }

    &.radio_focused,
    &.radio_hovered {
        .radio__box {
            border-color: rgba(0, 0, 0, .9);
        }
    }

    &.radio_focused .radio__box {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .9);
    }

    &.radio_disabled,
    &.radio_disabled.radio_hovered {
        color: var(--color-content-minor-alfa-on-white);

        .radio__box {
            border-color: transparent;
            background: var(--color-background-control-disabled-alfa-on-white);
            box-shadow: none;
        }

        &.radio_checked .radio__box:after {
            background: var(--color-accent-content-minor);
        }
    }
}
