@import '../../vars-fantasy.css';

.tabs__content {
    box-sizing: border-box;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 1px;
        left: 0;
        right: 0;
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}

.tabs_theme_alfa-on-color {
    .tabs__content:after {
        border-bottom-color: var(--color-background-control-disabled-alfa-on-color);
    }
}

.tabs_theme_alfa-on-white {
    .tabs__content:after {
        border-bottom-color: var(--color-background-control-disabled-alfa-on-white);
    }
}

@media (--small-only) {
    .tabs_scrollable {
        overflow: hidden;
        width: 100%;

        &:after {
            content: '';
            display: block;
            margin-bottom: -20px;
        }

        .tabs__panel {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0 0 20px;
        }

        .tabs__content {
            display: inline-block;
        }
    }
}
