/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.app {
    &__title,
    &__menu,
    &__content {
        width: 700px;
        margin: 0 auto;
    }

    &__title + &__content {
        margin-top: 32px;
    }

    &__menu {
        margin-bottom: 40px;
    }
}

@media (--small-only) {
    .app {
        &__title,
        &__content {
            box-sizing: border-box;
            width: 100%;
            padding: 0 var(--small-screen-padding);
        }

        &__menu {
            overflow: hidden;
            width: 100%;

            &:after {
                content: '';
                display: block;
                margin-bottom: -20px;
            }
        }

        &__menu-case {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0 0 20px;
        }

        &__menu-content {
            display: inline-block;
            padding: 0 var(--small-screen-padding) 0;
        }
    }
}
