/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.menu {
    outline: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
}

.menu, .menu *, .menu *:before, .menu *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

.menu_view_horizontal .menu-item {
        display: inline-block;
        vertical-align: top;
    }

.menu_view_horizontal .menu-item.menu-item_type_link:first-child {
            padding-left: 0;
        }

.menu_view_horizontal .menu-item.menu-item_type_link:last-child {
            padding-right: 0;
        }

.menu_view_horizontal .menu-item:first-child {
        border-radius: 3px 0 0 3px;
    }

.menu_view_horizontal .menu-item:last-child {
        border-radius: 0 3px 3px 0;
    }

.menu_mode_nav .menu-item_checked {
        opacity: .6;
    }

.menu_mode_check .menu-item_checked:before, .menu_mode_radio .menu-item_checked:before, .menu_mode_radio-check .menu-item_checked:before {
        content: '';
        display: inline-block;
        position: absolute;
    }

.menu_mode_check .menu-item_checked:before {
        background-repeat: no-repeat;
    }

.menu_mode_radio .menu-item_checked:before, .menu_mode_radio-check .menu-item_checked:before {
        border-radius: 50%;
    }

.menu_size_s .menu__group-title {
        padding: 10px 12px;
        font-size: 13px;
    }

.menu_size_s .menu-item {
        padding: 6px 10px;
        font-size: 13px;
    }

.menu_size_s.menu_mode_check .menu-item_checked:before {
            top: 50%;
            width: 18px;
            height: 18px;
            margin-top: -9px;
            margin-left: -21px;
        }

.menu_size_s.menu_mode_radio .menu-item_checked:before, .menu_size_s.menu_mode_radio-check .menu-item_checked:before {
            top: 12px;
            width: 5px;
            height: 5px;
            margin-left: -14px;
        }

.menu_size_s.menu_mode_check .menu-item,
        .menu_size_s.menu_mode_check .menu__group-title,
        .menu_size_s.menu_mode_radio .menu-item,
        .menu_size_s.menu_mode_radio .menu__group-title,
        .menu_size_s.menu_mode_radio-check .menu-item,
        .menu_size_s.menu_mode_radio-check .menu__group-title {
            padding-left: 24px;
        }

.menu_size_s .menu__group .menu-item {
            padding-left: 36px;
        }

.menu_size_m .menu__group-title {
        padding: 8px 12px;
        font-size: 16px;
    }

.menu_size_m .menu-item {
        padding: 9px 12px;
        font-size: 16px;
    }

.menu_size_m.menu_mode_check .menu-item_checked:before {
            top: 50%;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            margin-left: -28px;
        }

.menu_size_m.menu_mode_radio .menu-item_checked:before, .menu_size_m.menu_mode_radio-check .menu-item_checked:before {
            top: 17px;
            width: 6px;
            height: 6px;
            margin-left: -14px;
        }

.menu_size_m.menu_mode_check .menu-item,
        .menu_size_m.menu_mode_check .menu__group-title,
        .menu_size_m.menu_mode_radio .menu-item,
        .menu_size_m.menu_mode_radio .menu__group-title,
        .menu_size_m.menu_mode_radio-check .menu-item,
        .menu_size_m.menu_mode_radio-check .menu__group-title {
            padding-left: 30px;
        }

.menu_size_m .menu__group .menu-item {
            padding-left: 48px;
        }

.menu_size_l .menu__group-title {
        padding: 10px 17px;
        font-size: 18px;
    }

.menu_size_l .menu-item {
        padding: 12px 15px 13px;
        font-size: 18px;
    }

.menu_size_l.menu_mode_check .menu-item_checked:before {
            top: 50%;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            margin-left: -33px;
        }

.menu_size_l.menu_mode_radio .menu-item_checked:before, .menu_size_l.menu_mode_radio-check .menu-item_checked:before {
            top: 21px;
            width: 8px;
            height: 8px;
            margin-left: -21px;
        }

.menu_size_l.menu_mode_check .menu-item,
        .menu_size_l.menu_mode_check .menu__group-title,
        .menu_size_l.menu_mode_radio .menu-item,
        .menu_size_l.menu_mode_radio .menu__group-title,
        .menu_size_l.menu_mode_radio-check .menu-item,
        .menu_size_l.menu_mode_radio-check .menu__group-title {
            padding-left: 36px;
        }

.menu_size_l .menu__group .menu-item {
            padding-left: 56px;
        }

.menu_size_xl .menu__group-title {
        padding: 12px 19px;
        font-size: 22px;
    }

.menu_size_xl .menu-item {
        padding: 11px 15px;
        font-size: 22px;
    }

.menu_size_xl.menu_mode_check .menu-item_checked:before {
            top: 50%;
            width: 36px;
            height: 36px;
            margin-top: -18px;
            margin-left: -40px;
        }

.menu_size_xl.menu_mode_radio .menu-item_checked:before, .menu_size_xl.menu_mode_radio-check .menu-item_checked:before {
            top: 21px;
            width: 10px;
            height: 10px;
            margin-left: -22px;
        }

.menu_size_xl.menu_mode_check .menu-item,
        .menu_size_xl.menu_mode_check .menu__group-title,
        .menu_size_xl.menu_mode_radio .menu-item,
        .menu_size_xl.menu_mode_radio .menu__group-title,
        .menu_size_xl.menu_mode_radio-check .menu-item,
        .menu_size_xl.menu_mode_radio-check .menu__group-title {
            padding-left: 38px;
        }

.menu_size_xl .menu__group .menu-item {
            padding-left: 50px;
        }

.menu__group-title {
    font-weight: 500;
}

.menu__group + .menu__group {
        border-top: 0;
    }

.menu__group:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }

.menu__group:first-child {
        padding-top: 0;
        border-top: 0;
    }

.menu_group-view_line .menu__group {
        position: relative;
    }

.menu_group-view_line .menu__group-title {
        position: absolute;
        line-height: 1.4;
    }

.menu_group-view_line.menu_size_s .menu__group-title {
            padding: 6px 3px;
        }

.menu_group-view_line.menu_size_m .menu__group-title {
            padding: 9px 12px;
        }

.menu_group-view_line.menu_size_l .menu__group-title {
            padding: 12px 7px;
        }

.menu_group-view_line.menu_size_xl .menu__group-title {
            padding: 11px 1px;
        }

/*# sourceMappingURL=menu.css.map */
