/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.link {
    cursor: pointer;
    outline: none;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    transition: color 100ms ease-out;
    -webkit-tap-highlight-color: var(--color-black-10);

    &_flex {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    &,
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    &__text-container {
        flex: 1 1 auto;
    }

    &__text {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        transition: border-color 100ms ease-out;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
    }

    &__icon + &__text-container,
    &__text-container + &__icon {
        margin-left: 6px;
    }

    &__icon_left {
        flex: 0 0 auto;
    }

    &_size_xs {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-normal);
    }

    &_size_s {
        font-size: var(--font-size-s);
        line-height: var(--line-height-normal);
    }

    &_size_m {
        font-size: var(--font-size-m);
        line-height: var(--line-height-normal);
    }

    &_size_l {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-condensed);
    }

    &_size_xl {
        font-size: var(--font-size-2xl);
        line-height: var(--line-height-condensed);
    }

    &_pseudo &__text {
        border-bottom-style: dashed;
    }

    &_disabled,
    &_checked {
        cursor: default;
    }

    &_disabled &__icon,
    &_checked &__icon {
        opacity: var(--opacity-disabled);
    }
}

.link_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);

    .link__text {
        border-color: var(--color-content-disabled-alfa-on-color);
    }

    &:hover,
    &:focus {
        color: var(--color-content-accent-alfa-on-color);

        .link__text {
            border-color: var(--color-content-minor-alfa-on-color);
        }
    }

    &.link_disabled {
        color: var(--color-content-disabled-alfa-on-color);
    }
}

.link_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .link__text {
        border-color: var(--color-content-disabled-alfa-on-white);
    }

    &:hover,
    &:focus {
        color: var(--color-content-accent-alfa-on-white);

        .link__text {
            border-color: var(--color-content-minor-alfa-on-white);
        }
    }

    &.link_view_blue {
        color: var(--color-blue-link-web);

        .link__text {
            border-color: var(--color-blue-link-web);
        }

        &:hover,
        &:focus {
            color: var(--color-blue-link-web);

            .link__text {
                border-color: transparent;
            }
        }
    }

    &.link_disabled {
        color: var(--color-dark-indigo-30);
    }
}

.link_theme_alfa-on-color,
.link_theme_alfa-on-white {
    &.link_disabled,
    &.link_checked {
        .link__text {
            border-color: transparent;
        }
    }

    &.link_checked {
        font-weight: var(--font-weight-medium);
    }
}
