.examples {
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    &__code {
        margin: 0;
        padding: 0.2em 0.4em;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        white-space: normal;
        background-color: rgba(11, 31, 53, 0.05);
    }

    &__heading {
        &_size_l {
            margin: 36px 0 18px;
            font-size: 24px;
            line-height: 1.3;

            @media (--medium) {
                font-size: 32px;
                line-height: 1.2;
            }
        }

        &_size_m {
            margin: 36px 0 18px;
            font-size: 20px;
            line-height: 1.4;

            @media (--medium) {
                font-size: 24px;
                line-height: 1.3;
            }
        }

        &_size_s {
            margin: 36px 0 18px;
            font-size: 16px;
            line-height: 1.5;

            @media (--medium) {
                font-size: 20px;
                line-height: 1.4;
            }
        }
    }

    &__paragraph {
        margin: 0 0 18px;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
    }

    &__list {
        list-style: none;
        margin: 0 0 18px;
        padding: 0 0 0 50px;
        counter-reset: item;

        & & {
            margin-top: 9px;
            margin-bottom: 9px;
            padding-left: 25px;
        }

        li {
            position: relative;
            margin: 0 0 9px;
            font-size: 16px;
            line-height: 1.5;
        }

        li:before {
            display: block;
            position: absolute;
            right: 100%;
            top: 0;
            margin-right: 0.6em;
            content: '\2014';
        }

        &_ordered > li:before {
            content: counter(item) '.';
            counter-increment: item;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
}

.examples__table, .react-component__tab-body > div > table {
    margin: 0 0 24px;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        th, td {
            padding: 0 12px 9px 0;
            color: rgba(11, 31, 53, 0.6);
            font-size: 13px;
            line-height: 1.5;
            font-weight: normal;
            text-align: left;
            vertical-align: top;
            border-bottom: 3px solid rgba(11, 31, 53, 0.1);

            .styleguide_theme_alfa-on-color & {
                color: rgba(255, 255, 255, 0.6);
                border-bottom-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    tbody {
        th, td {
            padding: 9px 12px 9px 0;
            font-size: 13px;
            line-height: 1.5;
            font-weight: normal;
            text-align: left;
            vertical-align: top;
            border-bottom: 1px solid rgba(11, 31, 53, 0.1);

            .styleguide_theme_alfa-on-color & {
                color: #fff;
                border-bottom-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    code {
        padding: 0;
        font-size: 13px;
        background-color: transparent;
    }

    p, div {
        margin: 0;
        color: inherit;
        font-size: 100%;
    }
}
