/* TODO think about it */
.examples, .examples > div {
    > img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    > code {
        margin: 0;
        padding: 0.2em 0.4em;
        font-family: var(--monospace);
        white-space: normal;
        background-color: rgba(11, 31, 53, 0.05);
    }

    > pre {
        display: block;
        margin: 36px 0;
        padding: 20px;
        color: rgba(11, 31, 53, 0.9);
        font-size: 16px;
        line-height: 1.5;
        font-family: var(--monospace);
        white-space: normal;
        background-color: rgba(11, 31, 53, 0.05);
    }

    > h1 {
        margin: 0 0 24px;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 900;

        /* Здесь и далее временные дублирующие стили (было/стало) */
        font-size: 28px;

        @media (--medium) {
            font-size: 48px;

            font-size: 40px;
            line-height: 1.1;
        }
    }

    > h2 {
        margin: 24px 0;
        font-size: 30px;
        line-height: 1.2;

        margin: 36px 0 24px;
        font-size: 24px;
        line-height: 1.3;

        @media (--medium) {
            font-size: 40px;

            font-size: 32px;
            line-height: 1.2;
        }
    }

    > h3 {
        margin: 24px 0;
        font-size: 22px;
        line-height: 1.2;

        margin: 36px 0 24px;
        font-size: 20px;
        line-height: 1.4;

        @media (--medium) {
            font-size: 30px;

            font-size: 24px;
            line-height: 1.3;
        }
    }

    > h4 {
        margin: 24px 0;
        font-size: 18px;
        line-height: 1.2;

        margin: 36px 0 24px;
        font-size: 16px;
        line-height: 1.5;

        @media (--medium) {
            font-size: 20px;
            line-height: 1.4;
        }
    }

    > p {
        margin: 0;
        padding: 0 0 15px;
        font-size: 16px;
        line-height: 1.5;

        margin: 0 0 24px;
        padding: 0;

        &.paragraph_view_lead {
            /* margin-bottom: 25px; */
            font-size: 22px;

            margin: 0 0 24px;
            font-size: 20px;
            line-height: 1.4;
        }

        &.paragraph_view_comment {
            padding: 0 0 0 21px;
            color: rgba(11, 31, 53, 0.6);
            border-left: 3px solid rgba(11, 31, 53, 0.1);
        }
    }

    > ol, > ul {
        margin: 25px 0;

        margin: 0 0 24px;
    }

    > li {
        margin: 0 0 12px;
        line-height: 1.5;
    }

    > table, .react-component__tab-body > div > table {
        margin: 0 0 24px;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;

        thead {
            th, td {
                padding: 0 12px 8px 0;
                color: rgba(11, 31, 53, 0.6);
                font-size: 13px;
                line-height: 1.5;
                font-weight: normal;
                text-align: left;
                vertical-align: top;
                border-bottom: 3px solid rgba(11, 31, 53, 0.1);

                .styleguide_theme_alfa-on-color & {
                    color: rgba(255, 255, 255, 0.6);
                    border-bottom-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        tbody {
            th, td {
                padding: 8px 12px 8px 0;
                font-size: 13px;
                line-height: 1.5;
                font-weight: normal;
                text-align: left;
                vertical-align: top;
                border-bottom: 1px solid rgba(11, 31, 53, 0.1);

                .styleguide_theme_alfa-on-color & {
                    color: #fff;
                    border-bottom-color: rgba(255, 255, 255, 0.1);
                }
            }

            th {
                text-align: left;
            }
        }

        code {
            padding: 0;
            font-size: 13px;
            background-color: transparent;
        }

        p, div {
            margin: 0;
            color: inherit;
            font-size: 100%;
        }
    }
}
