.rules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    margin: 24px 0;

    &__section {
        flex: 0 0 100%;
        display: block;
        position: relative;
        margin: 9px 0 0;
        padding: 0 25px;

        &:first-child {
            margin: 0;
        }

        @media (--medium) {
            flex: 0 1 48%;
            margin: 0;
        }

        &:before {
            display: block;
            margin: 0 -25px 18px;
            padding: 9px 25px 6px;
            font-weight: bold;
            border-bottom: 3px solid;
        }

        &:after {
            display: block;
            position: absolute;
            left: 0;
            top: 9px;
            width: 18px;
            height: 24px;
            content: '';
        }

        &_good:before {
            color: rgba(13, 186, 38, 0.8);
            border-color: rgba(13, 186, 38, 0.8);
            content: 'Правильно';
        }

        &_good:after {
            background: url(../../../src/icon/ui/ok/icon_ok_s_color.svg) no-repeat 50% 50%;
        }

        &_bad:before {
            color: rgba(239, 49, 36, 0.8);
            border-color: rgba(239, 49, 36, 0.8);
            content: 'Неправильно';

            .styleguide_theme_alfa-on-color & {
                color: rgba(239, 49, 36, 1);
                border-color: rgba(239, 49, 36, 1);
            }
        }

        &_bad:after {
            background: url(../../../src/icon/ui/error/icon_error_s_color.svg) no-repeat 50% 50%;
        }
    }

    ul {
        margin: 0;
    }
}
