.playground {
    position: relative;
    margin: 20px 0;

    .icon-button {
        padding: 0 20px;
        color: #0b1f35;
        font-size: 16px;
    }

    &__share-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__code-button {
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
    }
}
