.playground {
    position: relative;
    margin: 26px 0 36px;

    &__tab {
        position: relative;
    }

    .icon-button {
        padding: 0 20px;
        color: inherit;
        font-size: 16px;
    }

    &__share-button {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
    }

    &__code-button {
        position: absolute;
        z-index: 10;
        bottom: 100%;
        right: 0;
        opacity: 0.5;
    }
}
