.cm-s-base16-light.CodeMirror { background: rgba(243, 244, 245, 1) !important; }
.cm-s-base16-light.CodeMirror { color: rgba(32, 32, 32, 1) !important; }
.cm-s-base16-light div.CodeMirror-selected { background: rgba(224, 224, 224, 1) !important; }
.cm-s-base16-light .CodeMirror-gutters { background: rgba(245, 245, 245, 1) !important; }
.cm-s-base16-light .CodeMirror-guttermarker { color: rgba(172, 65, 66, 1) !important; }
.cm-s-base16-light .CodeMirror-guttermarker-subtle { color: rgba(176, 176, 176, 1) !important; }
.cm-s-base16-light .CodeMirror-linenumber { color: rgba(176, 176, 176, 1) !important; }
.cm-s-base16-light .CodeMirror-cursor { border-color: rgba(32, 32, 32, 1) !important; }
.cm-s-base16-light span.cm-comment { color: rgba(183, 186, 188, 1) !important; }
.cm-s-base16-light span.cm-atom { color: rgba(170, 117, 159, 1) !important; }
.cm-s-base16-light span.cm-number { color: rgba(170, 117, 159, 1) !important; }
.cm-s-base16-light span.cm-property { color: rgba(144, 169, 89, 1) !important; }
.cm-s-base16-light span.cm-attribute { color: rgba(144, 169, 89, 1) !important; }
.cm-s-base16-light span.cm-keyword { color: rgba(172, 65, 66, 1) !important; }
.cm-s-base16-light span.cm-string { color: rgba(244, 191, 117, 1) !important; }
.cm-s-base16-light span.cm-string-2 { color: rgba(32, 32, 32, 1) !important; }
.cm-s-base16-light span.cm-variable { color: rgba(144, 169, 89, 1) !important; }
.cm-s-base16-light span.cm-variable-2 { color: rgba(106, 159, 181, 1) !important; }
.cm-s-base16-light span.cm-def { color: rgba(210, 132, 69, 1) !important; }
.cm-s-base16-light span.cm-bracket { color: rgba(32, 32, 32, 1) !important; }
.cm-s-base16-light span.cm-tag { color: rgba(172, 65, 66, 1) !important; }
.cm-s-base16-light span.cm-link { color: rgba(170, 117, 159, 1) !important; }
.cm-s-base16-light span.cm-error { background: rgba(172, 65, 66, 1) !important; }
.cm-s-base16-light span.cm-error { color: rgba(80, 80, 80, 1) !important; }
.cm-s-base16-light .CodeMirror-activeline-background { color: rgba(32, 32, 32, 1) !important; }
.cm-s-base16-light .CodeMirror-matchingbracket { color: rgba(255, 255, 255, 1) !important; }

.styleguide_theme_alfa-on-color {
    .cm-s-base16-light.CodeMirror { background: rgba(11, 31, 53, 1) !important; }
    .cm-s-base16-light.CodeMirror { color: rgba(224, 224, 224, 1) !important; }
    .cm-s-base16-light div.CodeMirror-selected { background: rgba(48, 48, 48, 1) !important; }
    .cm-s-base16-light .CodeMirror-gutters { background: rgba(21, 21, 21, 1) !important; }
    .cm-s-base16-light .CodeMirror-guttermarker { color: rgba(172, 65, 66, 1) !important; }
    .cm-s-base16-light .CodeMirror-guttermarker-subtle { color: rgba(80, 80, 80, 1) !important; }
    .cm-s-base16-light .CodeMirror-linenumber { color: rgba(80, 80, 80, 1) !important; }
    .cm-s-base16-light .CodeMirror-cursor { border-color: rgba(224, 224, 224, 1) !important; }
    .cm-s-base16-light span.cm-comment { color: rgba(183, 186, 188, 1) !important; }
    .cm-s-base16-light span.cm-atom { color: rgba(170, 117, 159, 1) !important; }
    .cm-s-base16-light span.cm-number { color: rgba(170, 117, 159, 1) !important; }
    .cm-s-base16-light span.cm-property { color: rgba(144, 169, 89, 1) !important; }
    .cm-s-base16-light span.cm-attribute { color: rgba(144, 169, 89, 1) !important; }
    .cm-s-base16-light span.cm-keyword { color: rgba(172, 65, 255, 1) !important; }
    .cm-s-base16-light span.cm-string { color: rgba(244, 191, 117, 1) !important; }
    .cm-s-base16-light span.cm-string-2 { color: rgba(224, 224, 224, 1) !important; }
    .cm-s-base16-light span.cm-variable { color: rgba(144, 169, 89, 1) !important; }
    .cm-s-base16-light span.cm-variable-2 { color: rgba(106, 159, 181, 1) !important; }
    .cm-s-base16-light span.cm-def { color: rgba(210, 132, 69, 1) !important; }
    .cm-s-base16-light span.cm-bracket { color: rgba(224, 224, 224, 1) !important; }
    .cm-s-base16-light span.cm-tag { color: rgba(172, 65, 66, 1) !important; }
    .cm-s-base16-light span.cm-link { color: rgba(170, 117, 159, 1) !important; }
    .cm-s-base16-light span.cm-error { background: rgba(172, 65, 66, 1) !important; }
    .cm-s-base16-light span.cm-error { color: rgba(176, 176, 176, 1) !important; }
    .cm-s-base16-light .CodeMirror-activeline-background { color: rgba(224, 224, 224, 1) !important; }
    .cm-s-base16-light .CodeMirror-matchingbracket { color: rgba(255, 255, 255, 1) !important; }
}

.playground .CodeMirror-scroll {
    margin-right: -31px;
}
