/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../../../src/vars.css';

.preview-with-theme-switcher {
    &__layout {
        display: flex;

        &_theme_alfa-on-white {
            color: var(--color-content-alfa-on-white);
            background: var(--color-background-alfa-on-white);
        }

        &_theme_alfa-on-color {
            color: var(--color-content-alfa-on-color);
            background: color(var(--color-background-alfa-on-color) a(.9));
        }
    }

    &__wrapper {
        margin: 15px;
        display: inline-block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        padding: 2px;
    }

    &__button-group {
        position: absolute;
        top: -40px;
        left: 0;
    }

    &__button {
        width: 32px;
        height: 32px;
        border: solid 1px #eee;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: 1px dotted #f28a25;
        }

        &_theme_alfa-on-white {
            color: var(--color-content-alfa-on-white);
            background: var(--color-background-alfa-on-white);
        }

        &_theme_alfa-on-color {
            color: var(--color-content-alfa-on-color);
            background: color(var(--color-background-alfa-on-color) a(.9));
        }
    }

    &__button + &__button {
        margin-left: 10px;
    }
}
