/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vars.css";

:root {
    --top-scale-s: calc(strip(var(--font-size-xs)) / strip(var(--font-size-s)));
    --top-scale-m: calc(strip(var(--font-size-s)) / strip(var(--font-size-m)));
    --top-scale-l: calc(strip(var(--font-size-m)) / strip(var(--font-size-l)));
    --top-scale-xl: calc(
        strip(var(--font-size-l)) / strip(var(--font-size-xl))
    );
    --filled-s-top-padding: 21px;
    --filled-m-top-padding: 28px;
    --filled-height: 110px;
    --filled-s-min-height: 43px;
    --filled-m-min-height: 57px;
}

.textarea {
    display: inline-block;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &,
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    &__inner {
        display: inline-table;
        position: relative;
        width: 100%;
    }

    &__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: var(--font-size-m);
        white-space: nowrap;
        text-overflow: ellipsis;
        transform: scale(1) translateY(0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform, font-size;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: var(--gap-s);
        white-space: normal;
    }

    &__control {
        overflow-y: auto;
        display: table-cell;
        vertical-align: top;
        position: relative;
        width: 100%;
        min-width: 150px;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        background: none;
        border: none;
        border-radius: 0;
        transition-duration: 250ms;
        transition-property: border-bottom-color, box-shadow, width,
            background-color;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-input-placeholder {
            text-indent: 0;
        }

        &::-moz-placeholder {
            opacity: var(--opacity-active);
        }

        &::placeholder {
            transition: opacity 0.2s ease-in-out;
        }
    }

    /* TODO s/l/xl sizes */
    &__icon {
        display: block;
        position: absolute;
        right: 5px;
        top: var(--gap-xs);
        width: 24px;
        height: 24px;
    }

    &_has-icon {
        .textarea__control {
            padding-right: var(--gap-2xl);
        }
    }

    &_has-label {
        .textarea__control::placeholder {
            opacity: 0;
        }

        &.textarea_focused {
            .textarea__control::placeholder {
                opacity: var(--opacity-active);
            }
        }
    }

    &_focused {
        z-index: 1;
    }

    &_disabled {
        cursor: default;

        .textarea__control {
            resize: none;
        }
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &_resize_none .textarea__control {
        resize: none;
    }

    &_resize_both &__control {
        resize: both;
    }

    &_resize_horizontal &__control {
        resize: horizontal;
    }

    &_resize_vertical &__control {
        resize: vertical;
    }

    &_autosize &__control {
        overflow-x: hidden;
    }

    &_size_s {
        &.textarea_has-label {
            padding-top: 9px;
        }

        .textarea__top {
            line-height: var(--font-size-2xl);
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-s);
        }

        .textarea__control {
            min-height: 22px;
            margin-top: var(--gap-xs);
            padding-bottom: var(--gap-xs);
        }

        .textarea__sub {
            font-size: var(--font-size-xs);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-s)) translateY(-22px);
                width: calc((2 - var(--top-scale-s)) * 100) %;
            }
        }
    }

    &_size_m {
        &.textarea_has-label {
            padding-top: 6px;
        }

        .textarea__top {
            line-height: var(--font-size-3xl);
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-m);
        }

        .textarea__control {
            min-height: 30px;
            margin-top: 10px;
            padding-bottom: 10px;
        }

        .textarea__sub {
            font-size: var(--font-size-s);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-m)) translateY(-30px);
                width: calc((2 - var(--top-scale-m)) * 100) %;
            }
        }
    }

    &_size_l {
        &.textarea_has-label {
            padding-top: 14px;
        }

        .textarea__top {
            line-height: 50px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-l);
        }

        .textarea__control {
            min-height: 38px;
            margin-top: var(--gap-s);
            padding-bottom: var(--gap-s);
        }

        .textarea__sub {
            font-size: var(--font-size-m);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-l)) translateY(-40px);
                width: calc((2 - var(--top-scale-l)) * 100) %;
            }
        }
    }

    &_size_xl {
        &.textarea_has-label {
            padding-top: 13px;
        }

        .textarea__top {
            line-height: 60px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-xl);
        }

        .textarea__control {
            min-height: 46px;
            margin-top: 14px;
            padding-bottom: 14px;
        }

        .textarea__sub {
            font-size: var(--font-size-l);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-xl)) translateY(-50px);
                width: calc((2 - var(--top-scale-xl)) * 100) %;
            }
        }
    }
}

.textarea_view_filled.textarea_theme_alfa-on-white {
    &.textarea_size_s {
        .textarea__top {
            padding: 0 var(--gap-xs);
            line-height: var(--filled-s-min-height);
        }

        .textarea__control {
            min-height: var(--filled-s-min-height);
            padding: 14px var(--gap-xs) 6px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-s);
        }

        .textarea__sub {
            padding-top: var(--gap-2xs);
            padding-right: var(--gap-xs);
            font-size: var(--font-size-xs);
        }

        .textarea__icon {
            right: var(--gap-xs);
            top: var(--gap-xs);
        }

        &.textarea_has-icon .textarea__control {
            padding-right: var(--gap-2xl);
        }

        &.textarea_has-label {
            .textarea__control {
                padding-top: var(--filled-s-top-padding);
            }
        }

        &.textarea_has-label.textarea_focused,
        &.textarea_has-label.textarea_has-value {
            .textarea__inner {
                padding-top: var(--filled-s-top-padding);
            }

            &:not(.textarea_autosize) .textarea__control {
                min-height: calc(
                    var(--filled-height) - var(--filled-s-top-padding)
                );
            }

            .textarea__control {
                min-height: calc(
                    var(--filled-s-min-height) - var(--filled-s-top-padding)
                );
                padding-top: 0;
            }
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                font-size: var(--font-size-xs);
                transform: translateY(-10px);
            }
        }
    }

    &.textarea_size_m {
        .textarea__top {
            padding: 0 var(--gap-s);
            line-height: var(--filled-m-min-height);
        }

        .textarea__control {
            min-height: var(--filled-m-min-height);
            padding: 18px var(--gap-s) var(--gap-xs);
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-m);
        }

        .textarea__sub {
            padding-top: var(--gap-2xs);
            padding-right: var(--gap-s);
            font-size: var(--font-size-s);
        }

        .textarea__icon {
            right: var(--gap-s);
            top: var(--gap-m);
        }

        &.textarea_has-icon .textarea__control {
            padding-right: var(--gap-4xl);
        }

        &.textarea_has-label {
            .textarea__control {
                padding-top: var(--filled-m-top-padding);
            }
        }

        &.textarea_has-label.textarea_focused,
        &.textarea_has-label.textarea_has-value {
            .textarea__inner {
                padding-top: var(--filled-m-top-padding);
            }

            &:not(.textarea_autosize) .textarea__control {
                min-height: calc(
                    var(--filled-height) - var(--filled-m-top-padding)
                );
            }

            .textarea__control {
                min-height: calc(
                    var(--filled-m-min-height) - var(--filled-m-top-padding)
                );
                padding-top: 0;
            }
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                font-size: var(--font-size-s);
                transform: translateY(-12px);
            }
        }
    }

    .textarea__top {
        transform-origin: 0 50%;
        will-change: transform;
    }

    .textarea__inner {
        border-radius: 4px 4px 0 0;
        background-color: var(--color-dark-indigo-05);
        transition-duration: 250ms;
        transition-property: border-bottom-color, box-shadow, width,
            background-color;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
            background-color: var(--color-dark-indigo-10);
        }
    }

    .textarea__control {
        margin: 0;
        color: var(--color-dark-indigo);
        border-bottom-color: var(--color-dark-indigo-15);

        &:hover {
            border-color: var(--color-dark-indigo-60);
        }

        &::placeholder {
            color: var(--color-dark-indigo-60);
        }
    }

    &:not(.textarea_autosize) .textarea__control {
        min-height: var(--filled-height);
    }

    &__sub {
        line-height: var(--line-height-condensed);
    }

    .textarea__top,
    .textarea__sub {
        color: var(--color-dark-indigo-60);
    }

    &.textarea_focused {
        .textarea__control {
            border-bottom-color: var(--color-dark-indigo);
            box-shadow: inset 0 -1px 0 var(--color-dark-indigo);
        }
    }

    &.textarea_has-label {
        padding-top: 0;

        .textarea__control::placeholder {
            color: transparent;
        }

        &.textarea_focused {
            .textarea__control::placeholder {
                color: var(--color-dark-indigo-60);
            }
        }
    }

    &.textarea_focused,
    &.textarea_has-value {
        .textarea__top {
            width: auto;
        }
    }

    &.textarea_invalid {
        .textarea__sub {
            color: var(--color-error);
        }

        .textarea__control {
            border-bottom-color: var(--color-error);
            box-shadow: inset 0 -1px 0 var(--color-error);
        }

        &.textarea_focused {
            .textarea__control {
                border-bottom-color: var(--color-error);
                box-shadow: inset 0 -1px 0 var(--color-error);
            }
        }
    }
}
