/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.textarea {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: var(--font);
    font-weight: var(--font-weight);

    &__inner {
        display: inline-table;
        width: 100%;
    }

    &__control {
        box-sizing: border-box;
        overflow-y: auto;
        display: table-cell;
        vertical-align: top;
        position: relative;
        width: 100%;
        min-width: 150px;
        min-height: 5em;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        background: none;
        border-radius: var(--border-radius-control);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-input-placeholder {
            text-indent: 0;
        }

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    &_focused {
        z-index: 1;
    }

    &_disabled {
        cursor: default;

        resize: none;
    }

    &_size_s {
        font-size: var(--font-size-s);

        .textarea__control {
            padding: 8px 10px;
        }
    }

    &_size_m {
        font-size: var(--font-size-m);

        .textarea__control {
            padding: 10px 12px;
        }
    }

    &_size_l {
        font-size: var(--font-size-l);

        .textarea__control {
            padding: 12px 15px;
        }
    }

    &_size_xl {
        font-size: var(--font-size-xl);

        .textarea__control {
            padding: 14px 15px;
        }
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &_resize_none {
        resize: none;
    }

    &_resize_both {
        resize: both;
    }

    &_resize_horizontal {
        resize: horizontal;
    }

    &_resize_vertical {
        resize: vertical;
    }

    &_autosize {
        .textarea__control {
            overflow-y: hidden;
        }
    }

    &.textarea_invalid {
        .textarea__control {
            border-color: var(--color-error-translucent);
        }

        &.textarea_focused {
            .textarea__control {
                background: var(--color-error-transparent);
                border-color: var(--color-error-translucent);
                box-shadow: 0 0 0 1px var(--color-error-translucent);
            }
        }

        .textarea__sub {
            color: var(--color-error);
        }
    }

    &__sub {
        box-sizing: border-box;
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;

        .textarea_size_s & {
            font-size: var(--font-size-xs);
        }

        .textarea_size_m & {
            font-size: var(--font-size-s);
        }

        .textarea_size_l & {
            font-size: var(--font-size-m);
        }

        .textarea_size_xl & {
            font-size: var(--font-size-l);
        }
    }
}
