/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.textarea_theme_alfa-on-color {
    &,
    .textarea__control {
        color: var(--color-content-alfa-on-color);
    }

    .textarea__control {
        background: var(--color-background-control-alfa-on-color);
        border: 1px solid rgba(255, 255, 255, .4);
        transition: all 200ms ease;

        &::placeholder {
            color: var(--color-content-minor-alfa-on-color);
        }
    }

    &.textarea_focused {
        .textarea__control {
            border-color: var(--color-border-control-focused-alfa-on-color);
        }
    }

    &.textarea_focused {
        .textarea__control {
            background-color: var(--color-background-control-focused-alfa-on-color);
            box-shadow: 0 0 0 1px var(--color-border-control-focused-alfa-on-color);
        }
    }

    &.textarea_disabled {
        &,
        .textarea__control {
            color: var(--color-content-minor-alfa-on-color);
        }

        .textarea__control {
            border-color: transparent;
            background: var(--color-background-control-disabled-alfa-on-color);
        }
    }
}
