/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.textarea_theme_alfa-on-white {
    &,
    .textarea__control {
        color: var(--color-content-alfa-on-white);
    }

    .textarea__control {
        background: var(--color-background-control-alfa-on-white);
        border: 1px solid rgba(0, 0, 0, .3);
        transition: all 200ms ease;
    }

    &::placeholder {
        color: var(--color-content-minor-alfa-on-white);
    }

    &.textarea_hovered,
    &.textarea_focused {
        .textarea__control {
            border-color: rgba(0, 0, 0, .9);
        }
    }

    &.textarea_focused {
        .textarea__control {
            background-color: var(--color-background-control-focused-alfa-on-white);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .9);
        }
    }

    &.textarea_disabled {
        &,
        .textarea__control {
            color: var(--color-content-minor-alfa-on-white);
        }

        .textarea__control {
            background: var(--color-background-control-disabled-alfa-on-white);
            border-color: transparent;
        }
    }
}
