/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.textarea_theme_alfa-on-color {
    background: var(--color-background-control-alfa-on-color);

    color: var(--color-content-alfa-on-color);

    border: 1px solid rgba(255, 255, 255, .4);

    transition: all 200ms ease;

    &::placeholder {
        color: var(--color-content-minor-alfa-on-color);
    }

    &.textarea_hovered,
    &.textarea_focused {
        border-color: rgba(255, 255, 255, .9);
    }

    &.textarea_focused {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, .9);

        background-color: var(--color-background-control-focused-alfa-on-color);
    }

    &.textarea_invalid {
        border-color: var(--color-error-translucent);

        &.textarea_focused {
            border-color: var(--color-error-translucent);
            box-shadow: 0 0 0 1px var(--color-error-translucent);
            background: var(--color-error-transparent);
        }
    }

    &.textarea_disabled {
        border-color: transparent;
        background: var(--color-background-control-disabled-alfa-on-color);
        color: var(--color-content-minor-alfa-on-color);
    }
}
