/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --top-scale-s: calc(strip(var(--font-size-xs)) / strip(var(--font-size-s)));
    --top-scale-m: calc(strip(var(--font-size-s)) / strip(var(--font-size-m)));
    --top-scale-l: calc(strip(var(--font-size-m)) / strip(var(--font-size-l)));
    --top-scale-xl: calc(strip(var(--font-size-l)) / strip(var(--font-size-xl)));
}

.textarea {
    display: inline-block;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__inner {
        display: inline-table;
        position: relative;
        width: 100%;
    }

    &__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: var(--font-size-m);
        white-space: nowrap;
        text-overflow: ellipsis;
        transform: scale(1) translateY(0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform, font-size;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }

    &__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;
    }

    &__control {
        overflow-y: auto;
        display: table-cell;
        vertical-align: top;
        position: relative;
        width: 100%;
        min-width: 150px;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        background: none;
        border: none;
        border-radius: 0;
        transition-duration: 250ms;
        transition-property: border-bottom-color, box-shadow, width, background-color;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-input-placeholder {
            text-indent: 0;
        }

        &::-moz-placeholder {
            opacity: var(--opacity-active);
        }

        &::placeholder {
            transition: opacity .2s ease-in-out;
        }
    }

    &_has-label {
        .textarea__control::placeholder {
            opacity: 0;
        }

        &.textarea_focused {
            .textarea__control::placeholder {
                opacity: var(--opacity-active);
            }
        }
    }

    &_focused {
        z-index: 1;
    }

    &_disabled {
        cursor: default;

        .textarea__control {
            resize: none;
        }
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &_resize_none .textarea__control {
        resize: none;
    }

    &_resize_both &__control {
        resize: both;
    }

    &_resize_horizontal &__control {
        resize: horizontal;
    }

    &_resize_vertical &__control {
        resize: vertical;
    }

    &_autosize &__control {
        overflow-x: hidden;
    }

    &_size_s {
        &.textarea_has-label {
            padding-top: 9px;
        }

        .textarea__top {
            line-height: 30px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-s);
        }

        .textarea__control {
            min-height: 22px;
            margin-top: 8px;
            padding-bottom: 8px;
        }

        .textarea__sub {
            font-size: var(--font-size-xs);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-s)) translateY(-22px);
            }
        }
    }

    &_size_m {
        &.textarea_has-label {
            padding-top: 6px;
        }

        .textarea__top {
            line-height: 40px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-m);
        }

        .textarea__control {
            min-height: 30px;
            margin-top: 10px;
            padding-bottom: 10px;
        }

        .textarea__sub {
            font-size: var(--font-size-s);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-m)) translateY(-30px);
            }
        }
    }

    &_size_l {
        &.textarea_has-label {
            padding-top: 14px;
        }

        .textarea__top {
            line-height: 50px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-l);
        }

        .textarea__control {
            min-height: 38px;
            margin-top: 12px;
            padding-bottom: 12px;
        }

        .textarea__sub {
            font-size: var(--font-size-m);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-l)) translateY(-40px);
            }
        }
    }

    &_size_xl {
        &.textarea_has-label {
            padding-top: 13px;
        }

        .textarea__top {
            line-height: 60px;
        }

        .textarea__top,
        .textarea__control {
            font-size: var(--font-size-xl);
        }

        .textarea__control {
            min-height: 46px;
            margin-top: 14px;
            padding-bottom: 14px;
        }

        .textarea__sub {
            font-size: var(--font-size-l);
        }

        &.textarea_focused,
        &.textarea_has-value {
            .textarea__top {
                transform: scale(var(--top-scale-xl)) translateY(-50px);
            }
        }
    }
}

.textarea_view_filled {
    .textarea__top {
        padding: 0 12px;
        line-height: 56px;
        transform-origin: 0 50%;
        will-change: transform;
    }

    .textarea__control {
        min-height: 56px;
        margin: 0;
        padding: 8px 12px;
        color: rgba(11, 31, 53, 1);
        border-bottom-color: rgba(11, 31, 53, 0.15);
        background-color: rgba(11, 31, 53, 0.05);
        border-radius: 4px 4px 0 0;

        &:hover {
            background-color: rgba(11, 31, 53, 0.1);
            border-color: rgba(11, 31, 53, 0.6);
        }

        &::placeholder {
            color: rgba(11, 31, 53, 0.6);
        }
    }

    &:not(.textarea_autosize) .textarea__control {
        min-height: 106px;
    }

    .textarea__top,
    .textarea__control {
        font-size: var(--font-size-m);
    }

    &__sub {
        padding-top: 4px;
        padding-right: 12px;
        font-size: var(--font-size-s);
        line-height: 1.2;
    }

    .textarea__top,
    .textarea__sub {
        color: rgba(11, 31, 53, 0.6);
    }

    &.textarea_focused {
        .textarea__control {
            border-bottom-color: rgba(11, 31, 53, 1);
            box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 1);
        }
    }

    &.textarea_has-label {
        padding-top: 0;

        .textarea__control {
            padding-top: 26px;
        }

        .textarea__control::placeholder {
            color: transparent;
        }

        &.textarea_focused {
            .textarea__control::placeholder {
                color: rgba(11, 31, 53, 0.6);
            }
        }
    }

    &.textarea_focused,
    &.textarea_has-value {
        .textarea__top {
            font-size: 13px;
            transform: translateY(-12px);
        }
    }

    &.textarea_invalid {
        .textarea__sub {
            color: var(--color-error);
        }

        .textarea__control {
            border-bottom-color: var(--color-error);
            box-shadow: inset 0 -1px 0 var(--color-error);
        }

        &.textarea_focused {
            .textarea__control {
                border-bottom-color: var(--color-error);
                box-shadow: inset 0 -1px 0 var(--color-error);
            }
        }
    }
}
