/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.popup-header {
    position: relative;
    font-family: var(--font);

    &__title {
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    &__closer {
        position: absolute;
        left: 12px;
    }

    &_size_s {
        padding: 6px 48px;
        font-size: var(--font-size-s);

        .popup-header__closer {
            top: 6px;
        }
    }

    &_size_m {
        padding: 9px 48px;
        font-size: var(--font-size-m);

        .popup-header__closer {
            top: 8px;
        }
    }

    &_size_l {
        padding: 12px 48px;
        font-size: var(--font-size-l);

        .popup-header__closer {
            top: 10px;
        }
    }

    &_size_xl {
        padding: 11px 48px;
        font-size: var(--font-size-xl);

        .popup-header__closer {
            top: 8px;
        }
    }
}
