/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.input__inner {
        display: inline-table;
        width: 100%;
    }

.input_width_available .input__inner {
        table-layout: fixed;
    }

.input__box {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: table-cell;
        position: relative;
        min-width: 150px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        border-radius: 4px;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-property: background, border-color, width, -webkit-box-shadow;
        transition-property: background, border-color, width, -webkit-box-shadow;
        transition-property: background, border-color, box-shadow, width;
        transition-property: background, border-color, box-shadow, width, -webkit-box-shadow;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-touch-callout: none;
    }

.input__sub {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;
    }

.input_size_s .input__sub {
            font-size: 12px;
        }

.input_size_m .input__sub {
            font-size: 13px;
        }

.input_size_l .input__sub {
            font-size: 16px;
        }

.input_size_xl .input__sub {
            font-size: 18px;
        }

.input__control {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        font-weight: 300;
        background: none;
        border: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

.input__control::-webkit-search-decoration {
            -webkit-appearance: none;
        }

.input__control::-webkit-search-cancel-button {
            display: none;
        }

.input__control::-webkit-input-placeholder {
            text-indent: 0;
        }

.input__control::-moz-placeholder {
            opacity: 1;
        }

.input__control::-ms-clear {
            display: none;
        }

.input__control::-webkit-input-placeholder {
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.input__control:-ms-input-placeholder {
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.input__control::placeholder {
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.input__control:-webkit-autofill,
        .input__control:-webkit-autofill:hover,
        .input__control:-webkit-autofill:focus,
        .input__control:-webkit-autofill:after {
            /* Hack from http://stackoverflow.com/a/29350537 */
            -webkit-transition: background-color 5000s ease-in-out 0s;
            transition: background-color 5000s ease-in-out 0s;
        }

.input_has-label .input__control::-webkit-input-placeholder {
            opacity: 0;
        }

.input_has-label .input__control:-ms-input-placeholder {
            opacity: 0;
        }

.input_has-label .input__control::placeholder {
            opacity: 0;
        }

.input_has-label.input_focused .input__control::-webkit-input-placeholder {
                opacity: 1;
            }

.input_has-label.input_focused .input__control:-ms-input-placeholder {
                opacity: 1;
            }

.input_has-label.input_focused .input__control::placeholder {
                opacity: 1;
            }

.input.input_has-clear .input__control {
        padding-right: 0;
        text-overflow: ellipsis;
    }

.input__clear {
        opacity: .5;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: text;
        outline: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        color: inherit;
        font: inherit;
        background: none;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        -webkit-transition: opacity 0.1s ease-out;
        transition: opacity 0.1s ease-out;
    }

.input__clear:hover {
            cursor: pointer;
            opacity: 1;
        }

.input_has-icon .input__icon {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        text-align: center;
    }

.input_has-icon .input__control {
        padding-right: 2px;
        text-overflow: ellipsis;
    }

.input_width_available {
        width: 100%;
        min-width: 0;
    }

/* Override table styles by flex */

.input_has-addons .input__box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        height: 100%;
    }

.input__addons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

.input__addons_left .control-group > .button:last-child,
        .input__addons_left .control-group > :last-child .button,
        .input__addons_right .control-group > .button:first-child,
        .input__addons_right .control-group > :first-child .button {
            border-radius: 0;
        }

.input__addons_left {
        margin-left: -1px;
    }

.input_type_hidden {
        display: none !important;
    }

/* reset for ios */

.input__control:disabled {
        opacity: 1;
    }

.input_focused {
    z-index: 1;
}

.input_focused.input_mode_link .input__control {
            padding-left: 0;
        }

.input_disabled:before,
    .input_disabled .input__clear {
        display: none;
    }

.input_disabled .input__box,
    .input_disabled .input__control {
        cursor: default;
    }

.input_type_password .input__control {
    text-overflow: clip;
}

.input_size_s .input__box {
        height: 30px;
        font-size: 13px;
    }

.input_size_s .input__control {
        padding: 0 10px;
        line-height: 28px;
    }

.input_size_s.input_has-clear .input__box,
    .input_size_s.input_has-icon .input__box {
        padding-right: 28px; /* -2px borders */
    }

.input_size_s.input_has-clear .input__clear,
    .input_size_s.input_has-icon .input__icon { /* TODO: Maybe icon should not have set this width/height */
        width: 28px;
        height: 28px;
        line-height: 26px;
    }

.input_size_m .input__box {
        height: 40px;
        font-size: 16px;
    }

.input_size_m .input__control {
        padding: 0 12px;
        line-height: 38px;
    }

.input_size_m.input_has-clear .input__box,
    .input_size_m.input_has-icon .input__box {
        padding-right: 38px;
    }

.input_size_m.input_has-clear .input__clear,
    .input_size_m.input_has-icon .input__icon {
        width: 38px;
        height: 38px;
        line-height: 36px;
    }

.input_size_m.input_mode_link .input__box {
            height: 38px;
            padding: 0 12px;
        }

.input_size_m.input_mode_link .input__trigger {
            line-height: 40px;
        }

.input_size_l .input__box {
        height: 50px;
        font-size: 18px;
    }

.input_size_l .input__control {
        padding: 0 15px;
        line-height: 48px;
    }

.input_size_l.input_has-clear .input__box,
    .input_size_l.input_has-icon .input__box {
        padding-right: 48px;
    }

.input_size_l.input_has-clear .input__clear,
    .input_size_l.input_has-icon .input__icon {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }

.input_size_xl .input__box {
        height: 60px;
        font-size: 22px;
    }

.input_size_xl .input__control {
        padding: 0 15px;
        line-height: 58px;
    }

.input_size_xl.input_has-clear .input__box,
    .input_size_xl.input_has-icon .input__box {
        padding-right: 60px;
    }

.input_size_xl.input_has-clear .input__clear,
    .input_size_xl.input_has-icon .input__icon {
        width: 58px;
        height: 58px;
        line-height: 56px;
    }

.input_invalid .input__box {
        border-color: rgba(248, 96, 101, .85);
    }

.input_invalid.input_focused .input__box {
            background: rgba(248, 96, 101, .08);
            border-color: rgba(248, 96, 101, .85);
            -webkit-box-shadow: 0 0 0 1px rgba(248, 96, 101, .85);
                    box-shadow: 0 0 0 1px rgba(248, 96, 101, .85);
        }

.input_invalid .input__sub {
        color: rgba(248, 96, 101, 1);
    }

.control-group .input__box {
        border-radius: 0;
    }

.control-group .input-group__input-case_invalid + * .input {
            padding-left: 1px;
        }

.control-group .input-group__input-case_invalid + * .input .input__box {
                border-left: none;
            }

.control-group .input-group__input-case_invalid + * .input_theme_alfa-on-white:not(.input_focused),
        .control-group .input-group__input-case_invalid + * .input_theme_alfa-on-color:not(.input_focused) {
            padding-left: 1px;
        }

.control-group .input-group__input-case_invalid + * .input_theme_alfa-on-white:not(.input_focused) .input__box, .control-group .input-group__input-case_invalid + * .input_theme_alfa-on-color:not(.input_focused) .input__box {
                border-left: none;
                -webkit-box-shadow: -1px 0 0 0 rgba(248, 96, 101, .85);
                        box-shadow: -1px 0 0 0 rgba(248, 96, 101, .85);
            }

.control-group .input_theme_alfa-on-white.input_invalid.input_focused .input__box, .control-group .input_theme_alfa-on-color.input_invalid.input_focused .input__box {
                border-color: rgba(248, 96, 101, .85);
            }

.control-group > :last-child .input .input__box {
            border-radius: 0 4px 4px 0;
        }

.control-group > :last-child .input.input_theme_alfa-on-white.input_invalid .input__box, .control-group > :last-child .input.input_theme_alfa-on-color.input_invalid .input__box {
                border-color: rgba(248, 96, 101, .85);
            }

.control-group > :first-child .input__box {
        border-radius: 4px 0 0 4px;
    }

.control-group > :first-child .input__box.input_invalid.input_focused {
            -webkit-box-shadow: 0 0 0 1px rgba(248, 96, 101, .85);
                    box-shadow: 0 0 0 1px rgba(248, 96, 101, .85);
        }

.control-group > :not(:first-child):not(:last-child) .input.input_invalid.input_focused {
            padding-left: 1px;
        }

.control-group > :not(:first-child):not(:last-child) .input.input_invalid.input_focused .input__box {
                border-left: none;
                -webkit-box-shadow: -1px 0 0 1px rgba(248, 96, 101, .85), 0 0 0 1px rgba(248, 96, 101, .85);
                        box-shadow: -1px 0 0 1px rgba(248, 96, 101, .85), 0 0 0 1px rgba(248, 96, 101, .85);
            }

.control-group > :only-child .input__box {
        border-radius: 4px;
    }

/*# sourceMappingURL=input.css.map */
