/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.input_theme_alfa-on-color .input__box {
        background: transparent;
        border-color: rgba(255, 255, 255, .4);
        border-style: solid;
        border-width: 1px;
    }

.input_theme_alfa-on-color,
    .input_theme_alfa-on-color .input__control {
        color: rgba(255, 255, 255, .9);
    }

.input_theme_alfa-on-color .input__control::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .3);
        }

.input_theme_alfa-on-color .input__control:-ms-input-placeholder {
            color: rgba(255, 255, 255, .3);
        }

.input_theme_alfa-on-color .input__control::placeholder {
            color: rgba(255, 255, 255, .3);
        }

.input_theme_alfa-on-color .input__control:-webkit-autofill,
        .input_theme_alfa-on-color .input__control:-webkit-autofill:hover,
        .input_theme_alfa-on-color .input__control:-webkit-autofill:focus,
        .input_theme_alfa-on-color .input__control:-webkit-autofill:after {
            -webkit-text-fill-color: rgba(255, 255, 255, .9) !important;
        }

.input_theme_alfa-on-color .input__clear {
        background-image: url(images/input__clear_color.svg);
    }

.input_theme_alfa-on-color.input_has-icon .input__icon {
            color: rgba(255, 255, 255, .9);
            opacity: .5;
        }

.input_theme_alfa-on-color.input_mode_link .input__box {
            background: transparent;
            border-color: transparent;
        }

.input_theme_alfa-on-color.input_focused .input__box {
            background-color: rgba(0, 0, 0, .15);
            border-color: rgba(255, 255, 255, .9);
            -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .9);
                    box-shadow: 0 0 0 1px rgba(255, 255, 255, .9);
        }

.input_theme_alfa-on-color.input_disabled .input__box {
            background: rgba(255, 255, 255, .1);
            border-color: transparent;
        }

.input_theme_alfa-on-color.input_disabled,
        .input_theme_alfa-on-color.input_disabled .input__control {
            color: rgba(255, 255, 255, .3);
        }

.input_theme_alfa-on-color.input_disabled .input__icon {
            opacity: .25;
        }

.input_theme_alfa-on-color.input_size_s .input__clear,
    .input_theme_alfa-on-color.input_size_m .input__clear {
        background-size: 10px;
    }

.input_theme_alfa-on-color.input_size_l .input__clear,
    .input_theme_alfa-on-color.input_size_xl .input__clear {
        background-size: 14px;
    }

.control-group .input_theme_alfa-on-color.input_focused .input__box {
                border-top-color: rgba(255, 255, 255, .9);
                border-right-color: rgba(255, 255, 255, .9);
                border-bottom-color: rgba(255, 255, 255, .9);
            }

.control-group .input-group__input-case:not(.input-group__input-case_invalid) + .input-group__input-case_disabled {
        margin-left: 1px;
    }

.control-group .input-group__input-case:not(.input-group__input-case_invalid) + .input-group__input-case_disabled .input_theme_alfa-on-color.input_disabled .input__box {
                -webkit-box-shadow: -1px 0 0 0 rgba(255, 255, 255, .4);
                        box-shadow: -1px 0 0 0 rgba(255, 255, 255, .4);
            }

.control-group > :not(:last-of-type) .input_theme_alfa-on-color .input__box {
                border-right: none;
            }

.control-group > :not(:last-of-type) .input_theme_alfa-on-color.input_focused:not(.input_invalid) .input__box {
                -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .9), 1px 0 0 1px rgba(255, 255, 255, .9);
                        box-shadow: 0 0 0 1px rgba(255, 255, 255, .9), 1px 0 0 1px rgba(255, 255, 255, .9);
            }

.control-group .input-group__input-case_invalid + * .input_theme_alfa-on-color.input_focused:not(.input_invalid) .input__box {
                -webkit-box-shadow: -1px 0 0 1px rgba(255, 255, 255, .9), 1px 0 0 1px rgba(255, 255, 255, .9);
                        box-shadow: -1px 0 0 1px rgba(255, 255, 255, .9), 1px 0 0 1px rgba(255, 255, 255, .9);
            }

.control-group > :last-of-type .input_theme_alfa-on-color:not(.input_disabled) .input__box {
                border-right-color: rgba(255, 255, 255, .4);
            }

.control-group > :last-of-type .input_theme_alfa-on-color:not(.input_disabled).input_focused .input__box {
                border-right-color: rgba(255, 255, 255, .9);
            }

/*# sourceMappingURL=input_theme_alfa-on-color.css.map */
