/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.radio-group {
    display: inline-block;
    outline: none;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__inner {
        display: inline-table;
        width: 100%;
    }

    &__top {
        display: inline-block;
        line-height: var(--line-height-normal);
        word-break: normal;
    }

    &__sub {
        display: table-caption;
        caption-side: bottom;
        white-space: normal;
    }

    .radio_size_s,
    .radio_size_m {
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    .radio_size_l,
    .radio_size_xl {
        &:not(:last-of-type) {
            margin-bottom: var(--gap-s);
        }
    }

    &_size_s {
        .radio-group__top {
            margin-bottom: 10px;
        }

        .radio-group__sub {
            margin-top: 10px;
        }

        .radio-group__top,
        .radio-group__sub {
            font-size: var(--font-size-xs);
        }
    }

    &_size_m {
        .radio-group__top {
            margin-bottom: 10px;
        }

        .radio-group__sub {
            margin-top: 10px;
        }

        .radio-group__top,
        .radio-group__sub {
            font-size: var(--font-size-s);
        }
    }

    &_size_l {
        .radio-group__top {
            margin-bottom: var(--gap-s);
        }

        .radio-group__sub {
            margin-top: var(--gap-s);
        }

        .radio-group__top,
        .radio-group__sub {
            font-size: var(--font-size-m);
        }
    }

    &_size_xl {
        .radio-group__top {
            margin-bottom: var(--gap-s);
        }

        .radio-group__sub {
            margin-top: var(--gap-s);
        }

        .radio-group__top,
        .radio-group__sub {
            font-size: var(--font-size-l);
        }
    }

    &_type_normal {
        .radio {
            display: block;
        }
    }

    &&_type_button {
        .radio-group__box {
            display: flex;
            flex-wrap: wrap;
            margin-right: calc((var(--gap-s) / 2) * -1);
            margin-bottom: calc((var(--gap-s) / 2) * -1);
        }

        .radio {
            width: auto;
            flex-grow: 0;
            margin-right: calc(var(--gap-s) / 2);
            margin-bottom: calc(var(--gap-s) / 2);
        }
    }

    &&_width_available {
        display: block;

        .radio {
            flex-grow: 1;
        }
    }

    &&_type_line {
        .radio {
            margin-bottom: 0;
        }

        .radio_size_s,
        .radio_size_m {
            margin-right: 13px;
        }

        .radio_size_l,
        .radio_size_xl {
            margin-right: 15px;
        }

        .radio:last-child {
            margin-right: 0;
        }
    }

    &_invalid {
        padding-left: 10px;
    }
}
