/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vars.css";

.flag-icon {
    display: inline-flex;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px 0 var(--shadow-light-color);

    &_flat {
        box-shadow: none;
    }
}
