/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.icon_theme_alfa-on-white.icon_size_s.icon_error {
                    background-image: url('images/icon_error__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_fail {
                    background-image: url('images/icon_fail__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_ok {
                    background-image: url('images/icon_ok__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_ok_filled {
                    background-image: url('images/icon_ok_filled__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_attachment {
                    background-image: url('images/icon_attachment__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_calendar {
                    background-image: url('images/icon_calendar__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_close {
                    background-image: url('images/icon_close__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_search {
                    background-image: url('images/icon_search__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_s.icon_user {
                    background-image: url('images/icon_user__s__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_error {
                    background-image: url('images/icon_error__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_fail {
                    background-image: url('images/icon_fail__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_ok {
                    background-image: url('images/icon_ok__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_ok_filled {
                    background-image: url('images/icon_ok_filled__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_attachment {
                    background-image: url('images/icon_attachment__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_calendar {
                    background-image: url('images/icon_calendar__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_close {
                    background-image: url('images/icon_close__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_search {
                    background-image: url('images/icon_search__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_m.icon_user {
                    background-image: url('images/icon_user__m__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_error {
                    background-image: url('images/icon_error__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_fail {
                    background-image: url('images/icon_fail__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_ok {
                    background-image: url('images/icon_ok__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_ok_filled {
                    background-image: url('images/icon_ok_filled__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_attachment {
                    background-image: url('images/icon_attachment__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_calendar {
                    background-image: url('images/icon_calendar__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_close {
                    background-image: url('images/icon_close__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_search {
                    background-image: url('images/icon_search__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_l.icon_user {
                    background-image: url('images/icon_user__l__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_error {
                    background-image: url('images/icon_error__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_fail {
                    background-image: url('images/icon_fail__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_ok {
                    background-image: url('images/icon_ok__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_ok_filled {
                    background-image: url('images/icon_ok_filled__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_attachment {
                    background-image: url('images/icon_attachment__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_calendar {
                    background-image: url('images/icon_calendar__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_close {
                    background-image: url('images/icon_close__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_search {
                    background-image: url('images/icon_search__xl__white.svg');
                }

.icon_theme_alfa-on-white.icon_size_xl.icon_user {
                    background-image: url('images/icon_user__xl__white.svg');
                }

/*# sourceMappingURL=icon_alfa-on-white.css.map */
