/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.intl-phone-input {
    &.input {
        .input__addons_left + .input__control {
            padding-left: 0;
        }
    }

    &__select {
        /* Override select button border */
        &.select {
            margin-bottom: -1px;

            .select-button {
                border-bottom-color: transparent;
                box-shadow: none;

                &_size_s {
                    padding-left: 6px;
                    padding-right: 22px;
                }

                &_size_m {
                    padding-left: 6px;
                    padding-right: var(--gap-xl);
                }

                &_size_l {
                    padding-left: 9px;
                    padding-right: 28px;
                }

                &_size_xl {
                    padding-left: var(--gap-s);
                    padding-right: 30px;
                }

                &_size_m,
                &_size_l,
                &_size_xl {
                    .icon-button {
                        right: -2px;
                    }
                }
            }
        }
    }

    &__select-option-code {
        opacity: var(--opacity-minor);
        margin-left: 6px;
    }

    &_size_s {
        .intl-phone-input__select-option-code {
            font-size: var(--font-size-s);
        }
    }

    &_size_m {
        .intl-phone-input__select-option-code {
            font-size: var(--font-size-m);
        }
    }

    &_size_l {
        .intl-phone-input__select-option-code {
            font-size: var(--font-size-l);
        }
    }

    &_size_xl {
        .intl-phone-input__select-option-code {
            font-size: var(--font-size-xl);
        }
    }

    &.input_view_filled {
        .select-button {
            padding: 2px var(--gap-xl) 0 2px;

            &.select-button_pressed {
                border-bottom-color: transparent;
                box-shadow: none;
            }
        }
    }
}

.select__popup {
    &.popup_size_s .intl-phone-input__select-option-flag {
        min-width: 16px;
        margin-right: var(--gap-xs);
    }

    &.popup_size_m .intl-phone-input__select-option-flag {
        min-width: 20px;
        margin-right: 10px;
    }

    &.popup_size_l .intl-phone-input__select-option-flag {
        min-width: 22px;
        margin-right: var(--gap-s);
    }

    &.popup_size_xl .intl-phone-input__select-option-flag {
        min-width: 24px;
        margin-right: var(--gap-m);
    }
}
