/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.copyright {
    font-family: var(--font);
    font-weight: var(--font-weight);
    font-size: var(--font-size-xs);
    line-height: 1.5;

    &__no-wrap {
        white-space: nowrap;
    }
}
