/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "@alfalab/core-components-vars/colors-bluetint.css";

.button_theme_alfa-light {
    color: var(--color-light-text-primary);
    background: var(--color-light-bg-secondary);
    border-color: transparent;
    border-style: solid;
    border-width: 1px;

    &.button_pressed,
    &:active {
        background: var(--color-light-bg-tertiary);
    }

    &.button_checked,
    &.button_view_action {
        color: var(--color-light-text-primary-inverted);
        background: var(--color-light-bg-secondary-inverted);
        border-color: transparent;

        &.button_pressed,
        &:active {
            background: var(--color-light-bg-primary-inverted);
        }

        &.button_disabled {
            border-color: transparent;
            background: var(--color-light-bg-secondary-inverted);

            .button__text {
                opacity: 0.2;
            }
        }
    }

    &.button_view_extra,
    &.button_view_rounded {
        color: var(--color-light-text-primary-inverted);
        background: var(--color-light-bg-secondary-inverted);
        border-color: transparent;

        &.button_hovered {
            background: var(--color-light-bg-tertiary-inverted);
            border-color: var(--color-light-border-secondary-inverted);
        }

        &.button_focused {
            border-color: var(--color-light-border-secondary-inverted);
        }

        &.button_pressed,
        &:active {
            background: var(--color-light-bg-primary-inverted);
        }

        &.button_disabled {
            border-color: transparent;
            background: var(--color-light-bg-secondary-inverted);

            .button__text {
                opacity: 0.2;
            }
        }
    }

    &.button_pseudo {
        border-style: dashed;
        border-color: var(--color-light-border-secondary-inverted);
    }

    &.button_disabled {
        border-color: transparent;
        background: var(--color-light-bg-secondary);

        .button__text {
            opacity: 0.2;
        }
    }
}
