/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    user-select: none;
    font-family: var(--font);
    text-align: center;
    white-space: nowrap;
    transition-duration: 200ms;
    transition-property: background, border-color, color, width;
    transition-timing-function: ease;
    border-radius: var(--border-radius-control);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    & + & {
        margin-left: var(--gap-s);
    }

    &__text {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-weight: var(--font-weight-normal);
        text-overflow: ellipsis;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-right: 10px;
        line-height: 1;
    }

    &_width_available {
        width: 100%;
    }

    &_type_link {
        text-decoration: none;
    }

    &_focused {
        z-index: 1;
    }

    &_disabled {
        cursor: default;
        pointer-events: none;
    }

    &_disabled &__icon {
        opacity: var(--opacity-disabled);
    }

    &_view_action &__text,
    &_view_extra &__text,
    &_view_other &__text {
        font-weight: var(--font-weight-medium);
    }

    & > :last-child {
        padding-right: 0;
    }

    &_size_s {
        min-height: 30px;
        padding: 0 15px;
        font-size: var(--font-size-s);
        line-height: 28px;
    }

    &_size_s &__icon {
        margin-left: -4px;
    }

    &_size_m {
        min-height: 40px;
        padding: 0 20px;
        font-size: var(--font-size-m);
        line-height: 38px;
    }

    &_size_m &__icon {
        margin-left: -8px;
    }

    &_size_l {
        min-height: 50px;
        padding: 0 25px;
        font-size: var(--font-size-l);
        line-height: 48px;
    }

    &_size_l &__icon {
        margin-left: -12px;
        min-width: 2px;
    }

    &_size_xl {
        min-height: 60px;
        padding: 0 30px;
        font-size: var(--font-size-xl);
        line-height: 58px;
    }

    &_size_xl &__icon {
        margin-left: -16px;
        min-width: 6px;
    }
}
