/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.button_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
    background: transparent;
    border-color: var(--color-border-control-alfa-on-white);
    border-style: solid;
    border-width: 1px;

    &.button_hovered {
        border-color: var(--color-border-control-hovered-alfa-on-white);
    }

    &.button_focused {
        border-color: var(--color-border-control-focused-alfa-on-white);
        box-shadow: inset 0 0 0 1px var(--color-content-alfa-on-white);

        &.button_hovered {
            border-color: var(--color-border-control-focused-alfa-on-white);
            box-shadow: inset 0 0 0 1px var(--color-content-alfa-on-white);
        }
    }

    &.button_pressed,
    &:active {
        background: var(--color-dark-indigo-05);
        border-color: var(--color-border-control-focused-alfa-on-white);
    }

    &.button_checked,
    &.button_view_action {
        color: var(--color-content-alfa-on-white);
        background: var(--color-dark-indigo-15);
        border-color: var(--color-border-control-checked-alfa-on-white);

        &.button_hovered {
            background: var(--color-dark-indigo-25-deprecated);
        }

        &.button_pressed,
        &:active {
            background: var(--color-dark-indigo-30);
        }

        &.button_focused {
            border-color: var(--color-border-control-focused-alfa-on-white);
        }
    }

    &.button_view_extra,
    &.button_view_rounded {
        color: var(--color-content-accent-alfa-on-color);
        background: var(--color-accent-translucent);
        border-color: var(--color-accent-translucent);

        &.button_hovered {
            background: var(--color-accent);
            border-color: var(--color-accent);
        }

        &.button_focused {
            border-color: var(--color-content-alfa-on-white);
        }

        &.button_pressed,
        &:active {
            background: var(--color-accent-alt);
            border-color: var(--color-accent-alt);
        }

        &.button_disabled {
            border-color: transparent;
            background: var(--color-accent-heavy-translucent);

            .button__text {
                color: var(--color-content-accent-alfa-on-color);
            }
        }
    }

    &.button_pseudo {
        border-style: dashed;

        &.button_focused {
            border-color: var(--color-content-alfa-on-white);
            border-style: solid;

            box-shadow: 0 0 0 1px var(--color-black-90-deprecated);

            &.button_hovered {
                border-color: var(--color-black-70-deprecated);
                box-shadow: 0 0 0 1px var(--color-black-70-deprecated);
            }
        }
    }

    &.button_disabled {
        border-color: transparent;
        background: rgba(11, 31, 53, 0.08);

        .button__text {
            color: var(--color-content-disabled-alfa-on-white);
        }
    }
}
