/**
 * Styles for cross platform page rendering
 */
* {
    font-family: Arial !important;
    font-smooth: never !important;
    font-smoothing: none !important;
    -webkit-font-smoothing: none !important;
}
