/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.textarea {
    display: inline-block;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif;
    font-weight: 400;
}

.textarea, .textarea *, .textarea *:before, .textarea *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

.textarea__inner {
        display: inline-table;
        position: relative;
        width: 100%;
    }

.textarea__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-transform: scale(1) translate3d(0, 0, 0);
                transform: scale(1) translate3d(0, 0, 0);
        -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transition-property: color, -webkit-transform;
        transition-property: color, -webkit-transform;
        transition-property: color, transform;
        transition-property: color, transform, -webkit-transform;
        -webkit-transition-timing-function: cubic-bezier(.25, .1, .25, 1);
                transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }

.textarea__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;
    }

.textarea__control {
        overflow-y: auto;
        display: table-cell;
        vertical-align: top;
        position: relative;
        width: 100%;
        min-width: 150px;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        background: none;
        border: none;
        -webkit-transition-duration: 250ms;
                transition-duration: 250ms;
        -webkit-transition-property: border-bottom-color, width, -webkit-box-shadow;
        transition-property: border-bottom-color, width, -webkit-box-shadow;
        transition-property: border-bottom-color, box-shadow, width;
        transition-property: border-bottom-color, box-shadow, width, -webkit-box-shadow;
        -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

.textarea__control::-webkit-input-placeholder {
            text-indent: 0;
        }

.textarea__control:-ms-input-placeholder {
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.textarea__control::placeholder {
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

.textarea_has-label .textarea__control::-webkit-input-placeholder {
            opacity: 0;
        }

.textarea_has-label .textarea__control:-ms-input-placeholder {
            opacity: 0;
        }

.textarea_has-label .textarea__control::placeholder {
            opacity: 0;
        }

.textarea_has-label.textarea_focused .textarea__control::-webkit-input-placeholder {
                opacity: 1;
            }

.textarea_has-label.textarea_focused .textarea__control:-ms-input-placeholder {
                opacity: 1;
            }

.textarea_has-label.textarea_focused .textarea__control::placeholder {
                opacity: 1;
            }

.textarea_focused {
        z-index: 1;
    }

.textarea_disabled {
        cursor: default;
    }

.textarea_disabled .textarea__control {
            resize: none;
        }

.textarea_width_available {
        width: 100%;
        min-width: 0;
    }

.textarea_resize_none .textarea__control {
        resize: none;
    }

.textarea_resize_both .textarea__control {
        resize: both;
    }

.textarea_resize_horizontal .textarea__control {
        resize: horizontal;
    }

.textarea_resize_vertical .textarea__control {
        resize: vertical;
    }

.textarea_autosize .textarea__control {
        overflow-y: hidden;
    }

.textarea_size_s.textarea_has-label {
            padding-top: 9px;
        }

.textarea_size_s .textarea__top {
            line-height: 30px;
        }

.textarea_size_s .textarea__top,
        .textarea_size_s .textarea__control {
            font-size: 13px;
        }

.textarea_size_s .textarea__control {
            min-height: 30px;
            padding: 8px 0;
        }

.textarea_size_s .textarea__sub {
            font-size: 12px;
        }

.textarea_size_s.textarea_focused .textarea__top, .textarea_size_s.textarea_has-value .textarea__top {
                -webkit-transform: scale(0.92308) translate3d(0, -22px, 0);
                        transform: scale(0.92308) translate3d(0, -22px, 0);
            }

.textarea_size_m.textarea_has-label {
            padding-top: 6px;
        }

.textarea_size_m .textarea__top {
            line-height: 40px;
        }

.textarea_size_m .textarea__top,
        .textarea_size_m .textarea__control {
            font-size: 16px;
        }

.textarea_size_m .textarea__control {
            min-height: 40px;
            padding: 10px 0;
        }

.textarea_size_m .textarea__sub {
            font-size: 13px;
        }

.textarea_size_m.textarea_focused .textarea__top, .textarea_size_m.textarea_has-value .textarea__top {
                -webkit-transform: scale(0.8125) translate3d(0, -30px, 0);
                        transform: scale(0.8125) translate3d(0, -30px, 0);
            }

.textarea_size_l.textarea_has-label {
            padding-top: 14px;
        }

.textarea_size_l .textarea__top {
            line-height: 50px;
        }

.textarea_size_l .textarea__top,
        .textarea_size_l .textarea__control {
            font-size: 18px;
        }

.textarea_size_l .textarea__control {
            min-height: 50px;
            padding: 12px 0;
        }

.textarea_size_l .textarea__sub {
            font-size: 16px;
        }

.textarea_size_l.textarea_focused .textarea__top, .textarea_size_l.textarea_has-value .textarea__top {
                -webkit-transform: scale(0.88889) translate3d(0, -40px, 0);
                        transform: scale(0.88889) translate3d(0, -40px, 0);
            }

.textarea_size_xl.textarea_has-label {
            padding-top: 13px;
        }

.textarea_size_xl .textarea__top {
            line-height: 60px;
        }

.textarea_size_xl .textarea__top,
        .textarea_size_xl .textarea__control {
            font-size: 22px;
        }

.textarea_size_xl .textarea__control {
            min-height: 60px;
            padding: 14px 0;
        }

.textarea_size_xl .textarea__sub {
            font-size: 18px;
        }

.textarea_size_xl.textarea_focused .textarea__top, .textarea_size_xl.textarea_has-value .textarea__top {
                -webkit-transform: scale(0.81818) translate3d(0, -50px, 0);
                        transform: scale(0.81818) translate3d(0, -50px, 0);
            }

/*# sourceMappingURL=textarea.css.map */
