/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../../../src/vars.css';

.view-with-theme-switcher {
    &__layout {
        &_theme_alfa-on-white {
            color: var(--color-content-alfa-on-white);
            background: var(--color-background-alfa-on-white);
        }

        &_theme_alfa-on-color {
            color: var(--color-content-alfa-on-color);
            background: color(var(--color-background-alfa-on-color) a(.9));
        }
    }

    &__wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
    }

    &__button-group {
        position: fixed;
        top: 0;
        left: 0;

        @media (--medium) {
            top: 14px;
            left: auto;
            right: 14px;
        }
    }

    &__button {
        width: 12px;
        height: 24px;
        border: 0;

        @media (--medium) {
            width: 32px;
            height: 32px;
        }

        &:hover {
            cursor: pointer;
        }

        &_theme_alfa-on-white {
            color: var(--color-content-alfa-on-white);
            background: var(--color-background-alfa-on-white);
        }

        &_theme_alfa-on-color {
            color: var(--color-content-alfa-on-color);
            background: color(var(--color-background-alfa-on-color) a(.9));
        }

        &_selected {
            display: none;
        }
    }
}
