@import '../src/main.css';
@import '../src/vars.css';

html, body {
    padding: 20px;
}

.demo-section {
    font-family: var(--font);

    & + & {
        margin-top: 30px;
    }

    &:last-child {
        margin-bottom: 30px;
    }

    border-radius: 5px;
    padding: 40px;

    &_theme_alfa-on-white {
        color: #fff;
        background: #4d545b;
        background: linear-gradient(to bottom, #4d545b 0%, #4d545b 50%, #282c36 100%);
    }

    &_theme_alfa-on-color {
        color: #000;
        border: solid 1px #eee;
    }
}

@media (--small-only) {
    html, body {
        padding: 5px 0;
    }

    .demo-section {
        padding: 20px;

        border-radius: 0;
        border-left: none;
        border-right: none;

        & + & {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 10px;
        }
    }
}
