/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

body {
    background-attachment: fixed;
    background-color: #2a2e37;
    background-image: url(images/bg.png);
    background-repeat: repeat-y;
    background-size: contain;
}

.page {
    box-sizing: border-box;
    table-layout: inherit;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

    &_theme_alfa-on-color {
        color: var(--color-content-accent-alfa-on-color);
    }

    &_theme_alfa-on-white {
        color: var(--color-content-accent-alfa-on-white);
    }

    &__inner {
        height: 100%;
    }

    &__content {
        max-width: 1000px; /* 100+(150+700+150) */

        margin: auto;

        padding-top: 95px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    &__footer {
        display: table-row;
        height: 1px;
    }

    &__footer-content {
        margin: auto;
    }
}

@media (--small-only) {
    .page {
        &__inner {
            margin-top: calc(var(--small-header-height) * -1);
        }
    }
}

@media (--large) {
    .page {
        &__content {
            padding-left: 100px;
            width: var(--large-screen-content-width);
        }

        &__footer-content {
            width: var(--large-screen-content-width);
        }
    }
}

@media (--xlarge) {
    .page {
        &__footer-content {
            width: var(--xlarge-screen-content-width);
        }
    }
}
