/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../../vars-fantasy.css';

.checkbox_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .checkbox__box {
        background: var(--color-background-control-alfa-on-white);
        border: 1px solid rgba(10, 30, 50, .3);
        transition: all 200ms ease;
    }

    &.checkbox_checked {
        .checkbox__box {
            background: var(--color-accent-translucent);
            border-color: transparent;
        }

        &.checkbox_hovered .checkbox__box {
            background: var(--color-accent);
            border-color: transparent;
        }
    }

    &.checkbox_focused,
    &.checkbox_hovered {
        .checkbox__box {
            border-color: var(--color-content-alfa-on-white);
        }
    }

    &.checkbox_focused .checkbox__box {
        box-shadow: 0 0 0 1px var(--color-content-alfa-on-white);
    }

    &.checkbox_disabled {
        color: var(--color-content-minor-alfa-on-white);

        .checkbox__box {
            background: var(--color-background-control-disabled-alfa-on-white);
            border-color: transparent;
        }

        &.checkbox_checked .checkbox__box:after {
            opacity: var(--opacity-disabled);
            background-image: url(../images/checkbox__box_disabled.svg);
        }

        &.checkbox_checked.checkbox_undetermined .checkbox__box:after {
            background-image: url(./images/checkbox__box_undetermined-disabled.svg);
        }
    }
}
