/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import './font/font_roboto-rouble.css';
@import './vars.css';
@import './grid.css';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-content-alfa-on-white);
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0;
    background-color: var(--color-background-alfa-on-white);
}

#react-app {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: inherit;
}
