/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import './vars/font.css';
@import './vars/color.css';
@import './vars/color-theme_alfa-on-color.css';
@import './vars/color-theme_alfa-on-white.css';
@import './vars/opacity.css';
@import './vars/border.css';
@import './vars/shadow.css';
@import './vars/primitive-colors.css';

:root {
    --content-width: 1094px;

    /**
     * Брейкпоинты
     */
    --mobile-s: 320px;
    --mobile-m: 375px;
    --mobile-l: 412px;
    --tablet-s: 600px;
    --tablet-m: 768px;
    --desktop-s: 1024px;
    --desktop-m: 1280px;
    --desktop-l: 1440px;
    --desktop-xl: 1920px;

    /**
     * Система отступов
     * https://github.com/alfa-laboratory/arui-feather/blob/master/GUIDE.md
     */
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-3xl: 40px;
    --gap-4xl: 48px;
    --gap-5xl: 72px;

    /**
     * Отрицательные отступы
     */
    --gap-2xs-neg: -4px;
    --gap-xs-neg: -8px;
    --gap-s-neg: -12px;
    --gap-m-neg: -16px;
    --gap-l-neg: -20px;
    --gap-xl-neg: -24px;
    --gap-2xl-neg: -32px;
    --gap-3xl-neg: -40px;
    --gap-4xl-neg: -48px;
    --gap-5xl-neg: -72px;
}
