/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.preview-with-theme-switcher {
    &__layout {
        &_theme_alfa-on-white {
            color: #000;
        }

        &_theme_alfa-on-color {
            color: #fff;
            background: #4d545b;
            background: linear-gradient(to bottom, #4d545b 0%, #4d545b 50%, #282c36 100%);
        }
    }

    &__wrapper {
        margin: 15px;
        display: inline-block;
    }

    &__button-group {
        position: absolute;
        top: -40px;
        left: 0;
    }

    &__button {
        width: 32px;
        height: 32px;
        border: solid 1px #eee;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: 1px dotted #f28a25;
        }

        &_theme_alfa-on-white {
            background: #fff;
        }

        &_theme_alfa-on-color {
            background: #4d545b;
            background: linear-gradient(to bottom, #4d545b 0%, #4d545b 50%, #282c36 100%);
        }
    }

    &__button + &__button {
        margin-left: 10px;
    }
}
