/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.preview-with-theme-switcher {
    &__layout {
        margin-top: 20px;
        margin-bottom: -5px;
        border-radius: 5px;
        border: solid 1px #eee;

        &_theme_alfa-on-white {
            color: #000;
        }

        &_theme_alfa-on-color {
            color: #fff;
            background: #4d545b;
            background: linear-gradient(to bottom, #4d545b 0%, #4d545b 50%, #282c36 100%);
        }
    }

    &__wrapper {
        margin: 15px;
    }

    &__button-group {
        position: absolute;
        top: 5px;
        left: 8px;
    }

    &__button {
        color: #1978c8;
        background: white;
        border: none;
        font-size: 14px;

        &:hover {
            color: #f28a25;
            cursor: pointer;
        }
    }
}
