/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.paragraph {
    margin: 0 0 15px;
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight);
    line-height: 1.5;

    &_view_lead {
        margin-bottom: 25px;
        font-size: var(--font-size-xl);
        line-height: 1.4;
    }

    &_theme_alfa-on-color {
        color: var(--color-content-accent-alfa-on-color);
    }

    &_theme_alfa-on-white {
        color: var(--color-content-accent-alfa-on-white);
    }
}
