/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.icon_size_m.icon_name_category-business-trip.icon_theme_alfa-on-white {
    background-image: url('./icon_category-business-trip_m_black.svg');
}

.icon_size_m.icon_name_category-business-trip.icon_theme_alfa-on-color {
    background-image: url('./icon_category-business-trip_m_white.svg');
}

.icon_size_xl.icon_name_category-business-trip.icon_theme_alfa-on-white {
    background-image: url('./icon_category-business-trip_xl_black.svg');
}

.icon_size_xl.icon_name_category-business-trip.icon_theme_alfa-on-color {
    background-image: url('./icon_category-business-trip_xl_white.svg');
}

.icon_size_xxl.icon_name_category-business-trip.icon_theme_alfa-on-white {
    background-image: url('./icon_category-business-trip_xxl_black.svg');
}

.icon_size_xxl.icon_name_category-business-trip.icon_theme_alfa-on-color {
    background-image: url('./icon_category-business-trip_xxl_white.svg');
}
