@import "../../src/main.css";

body {
    padding: 20px;
}

.demo {
    &__layout + &__layout {
        margin-left: 10px;
    }
}

.input__addons {
    vertical-align: top;

    .button {
        border-top: 0;
        border-bottom: 0;
    }

    &_right .radio:last-child .button {
        border-right: 0;
    }

    &_left .radio:first-child .button {
        border-left: 0;
    }
}

