/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vars.css";

.collapse {
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &,
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    &__content {
        position: relative;
    }

    &__link {
        outline: none;
    }

    &__content {
        overflow: hidden;
        visibility: hidden;
        height: 0;
        transition: height 0.2s;
    }

    &_expanded &__content {
        visibility: visible;
        height: auto;
        margin-bottom: 15px;
    }
}
