/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../vars.css";

.list {
    margin: 0 0 var(--gap-m);
    padding: 0 0 0 var(--gap-4xl);
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    font-size: var(--font-size-m);
    line-height: var(--line-height-normal);

    & & {
        margin-top: var(--gap-xs);
        margin-bottom: var(--gap-xs);
        padding-left: var(--gap-xl);
    }

    &__item {
        position: relative;
        list-style: none;
        margin: 0 0 var(--gap-xs);
        padding: 0;

        &:before {
            content: "\2014";
            display: block;
            position: absolute;
            right: 100%;
            top: 0;
            margin-right: 0.6em;
        }
    }

    &_type_ordered {
        counter-reset: item;
    }

    &_type_ordered &__item {
        &:before {
            content: counter(item) ".";
            counter-increment: item;
        }
    }
}

.list_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
}

.list_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
}
