/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.list {
    margin: 25px 0;
    padding: 0 0 0 25px;
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);

    & & {
        padding-left: 15px;
    }

    &__item {
        margin-bottom: 10px;
        list-style: none;
        font-size: var(--font-size-m);

        &:before {
            content: '\2014\a0\a0';
            display: inline-block;
            min-width: 25px;
        }
    }

    &_type_ordered {
        counter-reset: item;
    }

    &_type_ordered &__item {
        &:before {
            content: counter(item) '.\a0\a0';
            counter-increment: item;
        }
    }
}

.list_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
}

.list_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
}
