/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.list {
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight);
    line-height: 1.5;

    padding: 0 0 0 5px;
    margin: 25px 0;

    & & {
        padding-left: 15px;
    }

    &__item {
        /* margin-left: -.6em; */
        margin-bottom: 6px;

        text-indent: -1.35em;

        padding-left: .7em;

        list-style: none;

        &:before {
            content: '\2014\a0\a0';
        }
    }

    &_type_ordered {
        counter-reset: item;
    }

    &_type_ordered &__item {
        padding-left: 1em;

        &:before {
            content: counter(item) '.\a0\a0';
            counter-increment: item;
        }
    }
}

.list_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);

    .list__item:before {
        color: inherit;
    }
}

.list_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .list__item:before {
        color: var(--color-content-heavy-accent-alfa-on-white);
    }
}
