/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

:root {
    --top-scale-s: calc(strip(var(--font-size-xs)) / strip(var(--font-size-s)));
    --top-scale-m: calc(strip(var(--font-size-s)) / strip(var(--font-size-m)));
    --top-scale-l: calc(strip(var(--font-size-m)) / strip(var(--font-size-l)));
    --top-scale-xl: calc(strip(var(--font-size-l)) / strip(var(--font-size-xl)));
}

.input {
    display: inline-block;
    font-family: var(--font);
    font-weight: var(--font-weight-normal);

    &, *, *:before, *:after {
        box-sizing: border-box;
    }

    &__inner {
        display: inline-table;
        position: relative;
        width: 100%;
    }

    &__box {
        overflow: hidden;
        display: table-cell;
        position: relative;
        user-select: none;
        transition-duration: 250ms;
        transition-property: border-bottom-color, box-shadow, width, background-color;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); /* TODO @teryaew: add custom easings to styles */
        -webkit-touch-callout: none;
    }

    &__top {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font-size: var(--font-size-m);
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scale(1) translateY(0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform, font-size;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }

    &__sub {
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;
    }

    &__control {
        display: inline-block;
        position: relative;
        width: 100%;

        /** Если использовать `height: 100%` поле схлопывается в Safari v10.1.2. **/
        min-height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        font-weight: var(--font-weight-normal);
        line-height: inherit;
        background: none;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:invalid {
            box-shadow: none;
        }

        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-webkit-input-placeholder {
            text-indent: 0;
        }

        &::-moz-placeholder {
            opacity: var(--opacity-active);
        }

        &::-ms-clear {
            display: none;
        }

        &[placeholder],
        &::placeholder {
            text-overflow: ellipsis;
            transition: opacity .2s ease-in-out, color .2s ease-in-out;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            /* Hack from http://stackoverflow.com/a/29350537 */
            transition: background-color 999999s ease-in-out 0s;
        }
    }

    &_has-label {
        .input__control::placeholder {
            opacity: 0;
        }

        &.input_focused {
            .input__control::placeholder {
                opacity: var(--opacity-active);
            }
        }
    }

    &_has-clear &__control {
        padding-right: 0;
        text-overflow: ellipsis;
    }

    &__clear {
        opacity: var(--opacity-minor);
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: none;
        user-select: none;
        color: inherit;
        font: inherit;
        background: none;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        transition: opacity 0.1s ease-out;

        &:hover {
            opacity: var(--opacity-active);
        }
    }

    &_has-icon &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        transition: all 200ms ease;
    }

    &_has-icon &__control {
        padding-right: 2px;
        text-overflow: ellipsis;
    }

    &_width_available {
        width: 100%;
    }

    &&_has-addons {
        /* Override table styles by flex */
        .input__box {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }

        .input__control {
            padding-right: var(--gap-s);
        }

        .input__addons_left + .input__control {
            padding-right: 0;
            padding-left: var(--gap-s);
        }

        /* If has left & right addons */
        .input__control:nth-child(2):nth-last-child(2) {
            padding-right: var(--gap-s);
        }
    }

    &__addons {
        display: flex;
        flex-shrink: 0; /* Avoid overflow cutting of addons in IE11 */
        align-items: center;
    }

    &_type_hidden {
        display: none !important;
    }

    /* reset for ios */
    &__control:disabled {
        opacity: var(--opacity-active);
    }
}

.input_focused {
    z-index: 1;
}

.input_disabled {
    &:before,
    .input__clear {
        display: none;
    }

    .input_has-value {
        &::placeholder {
            opacity: var(--opacity-minor);
        }
    }

    .input__box,
    .input__control {
        cursor: default;
    }
}

.input_type_password .input__control {
    text-overflow: clip;
}

.input_size_s {
    &.input_has-label {
        padding-top: 9px;
    }

    .input__top {
        line-height: 30px;
    }

    &.input_focused,
    &.input_has-value {
        .input__top {
            transform: scale(var(--top-scale-s)) translateY(-22px);
            width: calc((2 - var(--top-scale-s)) * 100)%;
        }
    }

    .input__top,
    .input__box {
        font-size: var(--font-size-s);
    }

    .input__box {
        height: 30px;
    }

    .input__sub {
        font-size: var(--font-size-xs);
    }

    .input__control {
        padding: 7px 0;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 30px;
    }

    &.input_has-icon .input__icon {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
}

.input_size_m {
    &.input_has-label {
        padding-top: 6px;
    }

    .input__top {
        line-height: 40px;
    }

    &.input_focused,
    &.input_has-value {
        .input__top {
            transform: scale(var(--top-scale-m)) translateY(-30px);
            width: calc((2 - var(--top-scale-m)) * 100)%;
        }
    }

    .input__top,
    .input__box {
        font-size: var(--font-size-m);
    }

    .input__box {
        height: 40px;
    }

    .input__sub {
        font-size: var(--font-size-s);
    }

    .input__control {
        padding: 10px 0;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 34px;
    }

    &.input_has-icon .input__icon {
        width: 34px;
        height: 40px;
        line-height: 38px;
    }
}

.input_size_l {
    &.input_has-label {
        padding-top: 14px;
    }

    .input__top {
        line-height: 50px;
    }

    &.input_focused,
    &.input_has-value {
        .input__top {
            transform: scale(var(--top-scale-l)) translateY(-40px);
            width: calc((2 - var(--top-scale-l)) * 100)%;
        }
    }

    .input__top,
    .input__box {
        font-size: var(--font-size-l);
    }

    .input__box {
        height: 50px;
    }

    .input__sub {
        font-size: var(--font-size-m);
    }

    .input__control {
        padding: 14px 0;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 44px;
    }

    &.input_has-icon .input__icon {
        width: 44px;
        height: 50px;
        line-height: 48px;
    }
}

.input_size_xl {
    &.input_has-label {
        padding-top: 13px;
    }

    .input__top {
        line-height: 60px;
    }

    &.input_focused,
    &.input_has-value {
        .input__top {
            transform: scale(var(--top-scale-xl)) translateY(-50px);
            width: calc((2 - var(--top-scale-xl)) * 100)%;
        }
    }

    .input__top,
    .input__box {
        font-size: var(--font-size-xl);
    }

    .input__box {
        height: 60px;
    }

    .input__sub {
        font-size: var(--font-size-l);
    }

    .input__control {
        padding: 17px 0;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 52px;
    }

    &.input_has-icon .input__icon {
        width: 52px;
        height: 60px;
        line-height: 58px;
    }
}

/* IE fix for input with label and placeholder */
.input_has-label .input__control:-ms-input-placeholder {
    opacity: 0;
}

.input_view_filled {
    &.input_size_s {
        .input__top {
            line-height: 44px;
            padding: 0 8px;
        }

        .input__box {
            height: 44px;
            padding: 0 8px;
        }

        .input__control {
            min-height: 44px;
        }

        .input__top,
        .input__box {
            font-size: var(--font-size-s);
        }

        &.input_has-label {
            .input__control {
                padding-top: 20px;
                padding-bottom: 8px;
            }
        }

        &.input_focused,
        &.input_has-value {
            .input__top {
                font-size: 12px;
                transform: translateY(-10px);
            }
        }

        &.input_has-icon,
        &.input_has-clear {
            .input__icon,
            .input__clear {
                top: 50%;
                width: 40px;
                height: 40px;
                margin-top: -20px;
            }

            .input__box {
                padding-right: 40px;
            }
        }

        &.input_has-addons {
            .input__box {
                height: 44px;
            }
        }

        &.input_has-left-addons {
            .input__top {
                padding-left: 40px;
            }
        }
    }

    &.input_size_m {
        .input__top {
            line-height: 56px;
            padding: 0 12px;
        }

        .input__box {
            height: 56px;
            padding: 0 12px;
        }

        .input__control {
            min-height: 56px;
        }

        .input__top,
        .input__box {
            font-size: var(--font-size-m);
        }

        &.input_has-label {
            .input__control {
                padding-top: 26px;
                padding-bottom: 8px;
            }
        }

        &.input_focused,
        &.input_has-value {
            .input__top {
                font-size: 13px;
                transform: translateY(-12px);
            }
        }

        &.input_has-icon,
        &.input_has-clear {
            .input__icon,
            .input__clear {
                top: 50%;
                width: 48px;
                height: 48px;
                margin-top: -24px;
            }

            .input__box {
                padding-right: 48px;
            }
        }

        &.input_has-addons {
            .input__box {
                height: 56px;
            }
        }

        &.input_has-left-addons {
            .input__top {
                padding-left: 48px;
            }
        }
    }

    .input__top {
        transform-origin: 0 50%;
    }

    .input__box {
        border-bottom-color: rgba(11, 31, 53, 0.15);
        background-color: rgba(11, 31, 53, 0.05);
        border-radius: 4px 4px 0 0;

        &:hover {
            background-color: rgba(11, 31, 53, 0.1);
            border-color: rgba(11, 31, 53, 0.6);
        }
    }

    &__sub {
        padding-top: 4px;
        padding-right: 12px;
        font-size: var(--font-size-s);
        line-height: 1.2;
    }

    .input__top,
    .input__sub {
        color: rgba(11, 31, 53, 0.6);
    }

    .input__control {
        padding: 8px 0;
        color: rgba(11, 31, 53, 1);

        &::placeholder {
            color: rgba(11, 31, 53, 0.6);
        }

        /*
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-text-fill-color: var(--color-content-alfa-on-white) !important;
        }
        */
    }

    &.input_focused {
        .input__box {
            border-bottom-color: rgba(11, 31, 53, 1);
            box-shadow: inset 0 -1px 0 rgba(11, 31, 53, 1);
        }
    }

    &.input_has-label {
        padding-top: 0;

        .input__control::placeholder {
            color: transparent;
        }

        &.input_focused {
            .input__control::placeholder {
                color: rgba(11, 31, 53, 0.6);
            }
        }
    }

    &.input_focused,
    &.input_has-value {
        .input__top {
            width: auto;
        }
    }

    &.input_has-addons {
        .input__addons_left + .input__control {
            padding-right: var(--gap-s);
        }

        .input__control {
            padding-left: var(--gap-s);
            padding-right: var(--gap-s);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &.input_disabled {
        .input__box {
            background-color: rgba(11, 31, 53, 0.1);
            border-bottom-color: rgba(11, 31, 53, 0.15);
            border-bottom-style: var(--border-style-control-disabled);
            box-shadow: none;
        }

        .input__control {
            color: rgba(11, 31, 53, 0.6);
        }

        .input__top, .input__control::placeholder {
            color: rgba(11, 31, 53, 0.3);
        }
    }

    &.input_invalid {
        .input__sub {
            color: var(--color-error);
        }

        .input__box {
            border-bottom-color: var(--color-error);
            box-shadow: inset 0 -1px 0 var(--color-error);
        }

        &.input_focused {
            .input__box {
                border-bottom-color: var(--color-error);
                box-shadow: inset 0 -1px 0 var(--color-error);
            }
        }
    }
}
