/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.input_theme_alfa-on-color {
    .input__box {
        border-bottom-color: var(--color-border-control-alfa-on-color);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .input__control {
        color: var(--color-content-alfa-on-color);

        &::placeholder {
            color: var(--color-content-minor-alfa-on-color);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-text-fill-color: var(--color-content-alfa-on-color);
            caret-color: var(--color-content-alfa-on-color);
        }
    }

    .input__top,
    .input__sub {
        color: var(--color-content-minor-alfa-on-color);
    }

    &.input_has-label {
        .input__control::placeholder {
            color: transparent;
        }

        &.input_focused {
            .input__control::placeholder {
                color: var(--color-content-minor-alfa-on-color);
            }
        }
    }

    &.input_has-icon {
        .input__icon {
            color: var(--color-content-alfa-on-color);
        }
    }

    &.input_focused {
        .input__box {
            border-bottom-color: var(--color-border-control-focused-alfa-on-color);
            box-shadow: inset 0 -1px 0 var(--color-border-control-focused-alfa-on-color);
        }
    }

    &.input_disabled {
        .input__box {
            border-bottom-color: var(--color-border-control-disabled-alfa-on-color);
            border-bottom-style: var(--border-style-control-disabled);
            box-shadow: none;
        }

        &,
        .input__control {
            color: var(--color-content-disabled-alfa-on-color);

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-text-fill-color: var(--color-content-disabled-alfa-on-color);
            }
        }

        .input__control::placeholder {
            color: var(--color-content-disabled-alfa-on-color);
        }

        .input__icon {
            opacity: var(--opacity-disabled);
        }
    }

    &.input_invalid {
        .input__sub {
            color: var(--color-error);
        }

        .input__box {
            border-bottom-color: var(--color-error-translucent);
        }

        &.input_focused {
            .input__box {
                border-bottom-color: var(--color-error-translucent);
                box-shadow: inset 0 -1px 0 var(--color-error-translucent);
            }
        }
    }
}
