/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "@alfalab/core-components-vars/colors-bluetint.css";

.input_theme_alfa-dark {
    .input__box {
        border-bottom-color: var(--color-dark-graphic-tertiary);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        background-color: var(--color-dark-bg-secondary);
    }

    .input__control {
        color: var(--color-dark-text-primary);

        &::placeholder {
            color: var(--color-dark-text-secondary-transparent);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-text-fill-color: var(--color-dark-text-primary);
            caret-color: var(--color-dark-text-primary);
        }
    }

    .input__top,
    .input__sub {
        color: var(--color-dark-text-secondary-transparent);
    }

    &.input_has-label {
        .input__control::placeholder {
            color: transparent;
        }

        &.input_focused {
            .input__control::placeholder {
                color: var(--color-dark-text-secondary-transparent);
            }
        }
    }

    &.input_has-icon {
        .input__icon {
            color: var(--color-dark-text-primary);
        }
    }

    &.input_focused {
        .input__box {
            border-bottom-color: var(--color-dark-graphic-primary);
            box-shadow: inset 0 -1px 0 var(--color-dark-graphic-primary);
        }
    }

    &.input_disabled {
        .input__box {
            border-bottom-color: var(--color-dark-bg-secondary-inverted);
            border-bottom-style: var(--border-style-control-disabled);
            box-shadow: none;
        }

        &,
        .input__control {
            color: var(--color-light-text-secondary);

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-text-fill-color: var(--color-light-text-secondary);
            }
        }

        .input__control::placeholder {
            color: var(--color-light-text-secondary);
        }

        .input__icon {
            opacity: var(--opacity-disabled);
        }
    }

    &.input_invalid {
        .input__sub {
            color: var(--color-dark-text-negative);
        }

        .input__box {
            border-bottom-color: var(--color-dark-graphic-negative);
        }

        &.input_focused {
            .input__box {
                border-bottom-color: var(--color-dark-graphic-negative);
                box-shadow: inset 0 -1px 0 var(--color-dark-graphic-negative);
            }
        }
    }
}
