/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.input {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-family: var(--font);
    font-weight: var(--font-weight);

    &__inner {
        display: table;
    }

    &__box {
        box-sizing: border-box;
        display: table-cell;
        position: relative;
        min-width: 150px;
        user-select: none;
        border-radius: var(--border-radius-control);
        transition-duration: 200ms;
        transition-property: background, border-color, box-shadow, width;
        transition-timing-function: ease;
        -webkit-touch-callout: none;
    }

    &__sub {
        box-sizing: border-box;
        display: table-caption;
        caption-side: bottom;
        padding-top: 5px;
        padding-right: 12px;
        white-space: normal;

        .input_size_s & {
            font-size: var(--font-size-xs);
        }

        .input_size_m & {
            font-size: var(--font-size-s);
        }

        .input_size_l & {
            font-size: var(--font-size-m);
        }

        .input_size_xl & {
            font-size: var(--font-size-l);
        }
    }

    &__control {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        font-weight: var(--font-weight);
        line-height: inherit;
        background: none;
        border: 0;
        border-radius: var(--border-radius-inner-control);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-webkit-input-placeholder {
            text-indent: 0;
        }

        &::-moz-placeholder {
            opacity: 1;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &_has-clear &__control {
        padding-right: 0;
        text-overflow: ellipsis;
    }

    &__clear {
        opacity: var(--opacity-minor);
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: text;
        outline: none;
        user-select: none;
        color: inherit;
        font: inherit;
        background: none;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        transition: opacity 0.1s ease-out;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &_has-icon &__icon {
        position: absolute;
        top: 0;
        right: 0;
        transition: all 200ms ease;
        text-align: center;
    }

    &_has-icon &__control {
        padding-right: 2px;
        text-overflow: ellipsis;
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &_has-addons &__box {
        flex-grow: 1;
        margin-right: -1px;
        border-radius: 0;
    }

    &__addons {
        &_left .control-group > .button:last-child,
        &_left .control-group > :last-child .button,
        &_right .control-group > .button:first-child,
        &_right .control-group > :first-child .button {
            border-radius: 0;
        }
    }

    &__addons-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    &_type_hidden {
        display: none !important;
    }

    /* reset for ios */
    &__control:disabled {
        opacity: 1;
    }
}

.input_focused {
    z-index: 1;

    &.input_mode_link {
        .input__control {
            padding-left: 0;
        }
    }
}

.input_disabled {
    &:before,
    .input__clear {
        display: none;
    }

    .input__box,
    .input__control {
        cursor: default;
    }
}

.input_type_password .input__control {
    text-overflow: clip;
}

.input_size_s {
    .input__box {
        height: 30px;
        font-size: var(--font-size-s);
    }

    .input__control {
        padding: 0 10px;
        line-height: 26px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 28px; /* -2px borders */
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon { /* TODO: Maybe icon should not have set this width/height */
        width: 28px;
        height: 28px;
        line-height: 26px;
    }
}

.input_size_m {
    .input__box {
        height: 40px;
        font-size: var(--font-size-m);
    }

    .input__control {
        padding: 0 12px;
        line-height: 36px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 38px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 38px;
        height: 38px;
        line-height: 36px;
    }

    &.input_mode_link {
        .input__box {
            height: 38px;
            padding: 0 12px;
        }

        .input__trigger {
            line-height: 40px;
        }
    }
}

.input_size_l {
    .input__box {
        height: 50px;
        font-size: var(--font-size-l);
    }

    .input__control {
        padding: 0 15px;
        line-height: 46px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 48px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
}

.input_size_xl {
    .input__box {
        height: 60px;
        font-size: var(--font-size-xl);
    }

    .input__control {
        padding: 0 15px;
        line-height: 56px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 60px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 58px;
        height: 58px;
        line-height: 56px;
    }
}

.input_invalid {
    .input__box {
        border-color: var(--color-error-translucent);
    }

    &.input_focused {
        .input__box {
            background: var(--color-error-transparent);
            border-color: var(--color-error-translucent);
            box-shadow: 0 0 0 1px var(--color-error-translucent);
        }
    }

    .input__sub {
        color: var(--color-error);
    }
}

.control-group {
    .input__box {
        border-radius: 0;
    }

    .input-group__input-case_invalid + * {
        .input {
            padding-left: 1px;

            .input__box {
                border-left: none;
            }
        }

        .input_theme_alfa-on-white:not(.input_focused),
        .input_theme_alfa-on-color:not(.input_focused) {
            padding-left: 1px;

            .input__box {
                border-left: none;
                box-shadow: -1px 0 0 0 var(--color-error-translucent);
            }
        }
    }

    .input_theme_alfa-on-white.input_invalid,
    .input_theme_alfa-on-color.input_invalid {
        &.input_focused {
            .input__box {
                border-color: var(--color-error-translucent);
            }
        }
    }

    > :last-child .input {
        .input__box {
            border-radius: 0 var(--border-radius-control) var(--border-radius-control) 0;
        }

        &.input_theme_alfa-on-white.input_invalid,
        &.input_theme_alfa-on-color.input_invalid {
            .input__box {
                border-color: var(--color-error-translucent);
            }
        }
    }

    > :first-child .input__box {
        border-radius: var(--border-radius-control) 0 0 var(--border-radius-control);

        &.input_invalid.input_focused {
            box-shadow: 0 0 0 1px var(--color-error-translucent);
        }
    }

    > :not(:first-child):not(:last-child) .input {
        &.input_invalid.input_focused {
            padding-left: 1px;

            .input__box {
                border-left: none;
                box-shadow: -1px 0 0 1px var(--color-error-translucent), 0 0 0 1px var(--color-error-translucent);
            }
        }
    }

    > :only-child .input__box {
        border-radius: var(--border-radius-control);
    }
}
