/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars.css';

.input_theme_alfa-on-color {
    .input__box {
        background: var(--color-background-control-alfa-on-color);
        border-color: rgba(255, 255, 255, .4);
        border-style: solid;
        border-width: 1px;
    }

    &,
    .input__control {
        color: var(--color-content-alfa-on-color);
    }

    .input__control {
        &::placeholder {
            color: var(--color-content-minor-alfa-on-color);
        }
    }

    .input__clear {
        background-image: url(./images/input__clear_color.svg);
    }

    &.input_has-icon {
        .input__icon {
            color: var(--color-content-alfa-on-color);
            opacity: var(--opacity-minor);
        }
    }

    &.input_mode_link {
        .input__box {
            background: transparent;
            border-color: transparent;
        }
    }

    &.input_hovered {
        .input__box {
            border-color: var(--color-content-alfa-on-color);
        }
    }

    &.input_focused {
        .input__box {
            background-color: var(--color-background-control-focused-alfa-on-color);
            border-color: var(--color-content-alfa-on-color);
            box-shadow: 0 0 0 1px var(--color-content-alfa-on-color);
        }
    }

    &.input_disabled {
        .input__box {
            background: var(--color-background-control-disabled-alfa-on-color);
            border-color: transparent;
        }

        &,
        .input__control {
            color: var(--color-content-minor-alfa-on-color);
        }

        .input__icon {
            opacity: var(--opacity-disabled);
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear {
        background-size: 10px;
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear {
        background-size: 14px;
    }
}

.control-group {
    .input_theme_alfa-on-color {
        &.input_hovered,
        &.input_focused {
            .input__box {
                border-top-color: var(--color-content-alfa-on-color);
                border-right-color: var(--color-content-alfa-on-color);
                border-bottom-color: var(--color-content-alfa-on-color);
            }
        }
    }

    .input-group__input-case:not(.input-group__input-case_invalid) + .input-group__input-case_disabled {
        margin-left: 1px;

        .input_theme_alfa-on-color.input_disabled {
            .input__box {
                box-shadow: -1px 0 0 0 rgba(255, 255, 255, .4);
            }
        }
    }

    > :not(:last-of-type) {
        .input_theme_alfa-on-color {
            .input__box {
                border-right: none;
            }

            &.input_focused:not(.input_invalid) .input__box {
                box-shadow: 0 0 0 1px var(--color-content-alfa-on-color), 1px 0 0 1px var(--color-content-alfa-on-color);
            }
        }
    }

    .input-group__input-case_invalid + * {
        .input_theme_alfa-on-color {
            &.input_focused:not(.input_invalid) .input__box {
                box-shadow: -1px 0 0 1px var(--color-content-alfa-on-color), 1px 0 0 1px var(--color-content-alfa-on-color);
            }
        }
    }

    > :last-of-type {
        .input_theme_alfa-on-color:not(.input_disabled) {
            .input__box {
                border-right-color: rgba(255, 255, 255, .4);
            }

            &.input_focused .input__box {
                border-right-color: var(--color-content-alfa-on-color);
            }
        }
    }
}
