/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../../vars-fantasy.css';

.inline-submit-button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: opacity .25s ease-in-out;

    &,
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    &_disabled {
        opacity: var(--opacity-disabled);
        cursor: default;
    }

    &_size_s {
        width: 30px;
        height: 30px;
        background-size: 19px 19px;
    }

    &_size_m {
        width: 40px;
        height: 40px;
        background-size: 26px 26px;
    }

    &_size_l {
        width: 50px;
        height: 50px;
        background-size: 36px 36px;
    }

    &_size_xl {
        width: 60px;
        height: 60px;
        background-size: 46px 46px;
    }
}

.inline-submit-button_theme_alfa-on-color {
    background-image: url('./images/button_inline_submit.button_theme_alfa-on-color.svg');
}

.inline-submit-button_theme_alfa-on-white {
    background-image: url('./images/button_inline_submit.button_theme_alfa-on-white.svg');
}
