/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.inline-submit-button {
    &.button_theme_alfa-on-white,
    &.button_theme_alfa-on-color {
        /* We have problems with disabled theme styles and default hardcoded size styles
           TODO @teryaew: refactor */
        min-height: 0;
        padding: 0;
        line-height: 1;

        opacity: 1;
        display: block;
        width: 40px;
        height: 40px;
        margin-right: -7px;
        margin-left: 7px;
        cursor: pointer;
        background: none;
        background-position: center 7px;
        background-repeat: no-repeat;
        background-size: 26px 26px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        transition: opacity .25s ease-in-out;

        button&.button_disabled,
        button&.button_focused-hard,
        button&.button_pressed,
        button&.button_hovered {
            background: none;
            background-position: center 7px;
            background-repeat: no-repeat;
            background-size: 26px 26px;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }

        button&.button_disabled {
            opacity: .3;
            cursor: default;
        }
    }

    &.button_theme_alfa-on-color {
        background-image: url('./images/button_inline_submit.button_theme_alfa-on-color.svg');

        button&.button_disabled,
        button&.button_focused-hard,
        button&.button_pressed,
        button&.button_hovered {
            background-image: url('./images/button_inline_submit.button_theme_alfa-on-color.svg');
        }
    }

    &.button_theme_alfa-on-white {
        background-image: url('./images/button_inline_submit.button_theme_alfa-on-white.svg');

        button&.button_disabled,
        button&.button_focused-hard,
        button&.button_pressed,
        button&.button_hovered {
            background-image: url('./images/button_inline_submit.button_theme_alfa-on-white.svg');
        }
    }
}
