.pathline {
    margin: -12px 0 24px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

    &_theme_alfa-on-color {
        color: rgba(255, 255, 255, 0.3);
    }

    &_theme_alfa-on-white {
        color: rgba(11, 31, 53, 0.3);
    }

    &__copy-button {
        position: absolute;
        color: inherit;
        opacity: 0.5;

        &:active {
            opacity: 1;
        }

        svg {
            width: auto;
            height: 16px;
            fill: currentColor;
        }
    }
}
